[2014-04-21 11:27] pose opened #1 "Implement JWT sign"
- [x] Implement `sign` of JWT: I think the right approach would be using a builder because there are many arguments to handle.
- [x] Write some tests that assert both `sign` and `verify`.

[2014-10-01 08:41] voodoo144 opened #7 "Why this test fails?"
[code]

This test throws SignatureException. What is wrong? Maybe I generate token wrong? In this case what is correct way to generate token?

[2014-10-22 20:12] ahaid opened #10 "Name or Email in decodedPayload"
In your README your example has output of the logged in user's name:

 System.out.println(decodedPayload.get("name"));

However, the "name" key is not present in the decodedPayload. I can get user id with decodedPayload.get("sub") but then I have to make an additional call to the Auth0 API to retrieve the user's email / name. Is there any way you could include email and name in the decodedPayload

[2014-10-24 03:25] #10 closed, assigned to nobody

[2014-10-31 21:10] #1 closed, assigned to nobody

[2014-10-31 21:43] #7 closed, assigned to pose

[2014-12-02 09:00] Toilal opened #11 "verify should not through InvalidStateException"
It's quite confusing to let the verifier API throw IllegalStateException.

It is [documented](https://github.com/auth0/java-jwt/blob/master/src/main/java/com/auth0/jwt/JWTVerifier.java#L65). But for those case, a new JWTVerifyException extending Exception could be used to catch them without having to read the javadoc.

And maybe more specialized exceptions, like JWTExpiredException (extending JWTV

[2014-12-02 11:09] Toilal opened #13 "JWTVerifier and JWTSigner constructors consistency base64 secret"
JWTSigner needs a raw string secret, but JWTVerifier need a base64 encoded one.

Could JWTVerifier be changed to take the same raw string secret as JWTSigner ? It would be more consistent.

[2014-12-16 04:59] codetrash opened #15 "How do I achieve this with java-jwt"
I got Node.js implementation here

[code]

Thanks

[2014-12-22 21:41] #11 closed, assigned to nobody

[2014-12-22 22:03] #13 closed, assigned to nobody

[2015-01-02 22:22] kucharzyk opened #18 "Repackaging Jackson package breaks Jackson annotations"
Repackaging Jackson package breaks Jackson annotations :(

When I serialize user claim using JwtSigner the following code is not working.

[code]
Annotation JsonIgnore is ignored  and this field is serialized (causing infinite loop).
When I switch to  annotations from com.auth0.jwt.internal.com.fasterxml.jackson everything works perfectly.

[code]

Is repackaging com.fasterxml.jackson and org.apac

[2015-01-03 00:28] pose commented on #18
Hi @hexangular,

Unfortunately, people using our library could be using a different Jackson version (this was the case why we decided to merge this change, see https://github.com/auth0/java-jwt/pull/6). I agree is not elegant repackaging but how would you address having different versions of Jackson? Do you think there is a better and more elegant way to tackle the issue?

Thanks in advance,

[2015-01-03 22:37] hexangular commented on #18
Hi @pose ,

Maybe can You provide some kind of adapter for users and remove Jackson from dependencies.
Adapter interface would have all serialization/deserialization methods and user would implement it using his version of Jackson or maybe even using different library.

It would require a liite more work from users but I think It can be a solution.

What do You think?

[2015-01-04 16:16] pose commented on #18
Hi @hexangular,

One of the guiding lights of java-jwt is making the library simple to use. That means that we should provide a default JSON serialization/deserialization mechanism in the library. I agree with your point of creating an Adapter Interface as long as is clear and doesn't add much complexity or too many abstractions but by default it should work as it does now.

Maybe there is another

[2015-01-21 16:29] thaggie commented on #18
Or you could provide multiple binaries and let consumers decide whether or not to have things repackaged.

[2015-01-23 18:53] maksimlikharev opened #19 "Default charset used all over the place"
Can you guys put charset argument in all places you use: getBytes(), so it will be predictable at least what I sign.

[2015-02-18 13:32] IRus opened #21 "Support for `sub` claim"
subj

[2015-02-26 10:01] amanteaux opened #22 "Payload (claims) architecture review"
Hi,

The signer and the verifier are currently only working with claims as `Map<String, Object>`.
That means that if I represent a claim as a plain Java object, I have to implement methods which:
- convert my Java object to a `Map`,
- convert a `Map` to my Java object.

Since internally Jackson is used for the Json serialization/deserialization, it would be great if the signer and the verifier cou

[2015-03-02 04:04] Rebzie opened #23 "Exception handling"
There is as bit of inconsistency with the exception handling

JWTSigner.sign throws a RuntimeException and has no Exceptions in the method.
JWTVerifier.verify throws 6 types of caught exception

I think that JWTVerifier.verify  should throw GeneralSecurityException  and JWTSigner.sign should throw a checked exception

[2015-03-03 16:10] lordofthejars commented on #21
:+1:  it would be great to have an update to latest version.

[2015-03-12 13:29] laguiz commented on #21
:+1:

[2015-04-02 08:34] thaggie commented on #19
I've created a pull request for this: https://github.com/auth0/java-jwt/pull/25

[2015-04-22 00:23] christopherthielen opened #28 "RoundtripTest.shouldOptionsIat test has a race condition"
This is extremely minor and rare, but if the encode and verify happen across a second boundary, the test can fail asserting `iat >= before / 1000l`

[2015-05-13 21:41] #28 closed

[2015-05-13 21:50] pose commented on #23
Thanks @Rebzie, you are right. We will address that in the next major version.

[2015-05-13 21:53] pose commented on #22
Thanks @amanteaux  We think that adding that feature will allow unnecessary complexity to the library. We might consider doing it in the future if the need arises.

[2015-05-13 21:53] #22 closed

[2015-05-13 22:00] pose commented on #15
@codetrash Please check the following unit test: https://github.com/auth0/java-jwt/blob/master/src/test/java/com/auth0/jwt/JWTSignerTest.java#L90-L93 . Thanks!

[2015-05-13 22:00] #15 closed

[2015-05-25 11:23] royts opened #31 "Support hash salt"
Hi,
This looks like a great tool, and the code it easy to read, so thanks!

I wander if there is a built in support for salt - a bunch of characters that are added to each entry in the claims object ?

If there is no option like that, what do you think about the right way to add it?
As I see it - this can be done with the existing code - I can generate the salt, add  it to each entry in the claims

[2015-05-25 22:36] Rebzie commented on #31
Isn't the salt meant to be secret?

[2015-05-26 09:34] royts commented on #31
No.
It is better but not a must. Read here:
http://en.wikipedia.org/wiki/Salt_%28cryptography%29#Benefits

being able to generate a random salt for each token is great and really make finding our the hash key harder.

If that is OK, I'll create a pull request.

[2015-05-26 12:36] royts commented on #31
oh. wait.
Using public salt is important when saving password do DB. not relevant here.
closing.

[2015-05-26 12:36] #31 closed

[2015-06-03 08:44] mhils opened #33 "Fail if audience is specified but absent in the token."
Hi there,

reading through the source, why does the following not throw an exception?
[code]

If I explicitly require an audience in the verifier, this check should not be skipped if there's no audience specified in the token? Similarly, the same behaviour applies to the issuer attribute.

[2015-07-01 01:34] codylerum opened #34 "Read claims before verify"
Would it be possible to add the functionality to read claims from a token before we verify the token.

For example a claim may be the users id which we use to look up the secret which was used to sign the token.

Without this ability we must sign every token with the same secret.

[2015-07-13 18:51] jeffsteinmetz opened #35 "Grant Access to original decoded JSON string (bypass jackson)"
I am using the java-jwt library in the Scala/Play Framework, which has JSON parsing baked in.

Is there a way to return the decoded token as the raw (JSON) string instead of the jackson Map[String,AnyRef]?

current implementation is:
```val decoded: util.Map[String, AnyRef] = new jwt.JWTVerifier(secret, config.clientId).verify(token)```

perhaps something like:

```val decoded: String = new jwt.JW

[2015-07-22 21:04] pietern opened #37 "Base64 and Jackson/Gson"
I made a fork where I replaced the common-codecs dependency by using the base 64 encoder/decoder from the Java 1.8 standard library. I also replaced the Jackson dependency with a Gson dependency. I don't expect this to be pulled in for obvious reasons, though wanted to share just in case.

See: https://github.com/pietern/java-jwt/commits/gson

[2015-07-22 21:04] pietern commented on #37
Closing this myself, since this is not actionable without discussion first.

[2015-07-22 21:04] #37 closed

[2015-07-28 19:12] mattblang opened #38 "Is there a way decode the JWT without the secret?"
I need to be able to decode a JWT in an Android app.  I know this is possible in Angular with the JavaScript library.

[2015-08-12 12:21] HendrikF commented on #38
JWT are encoded via Base64 only, so this should be possible.
If you mean JWE, it is impossible.

[2015-08-21 23:44] aj-michael commented on #34
:+1: This is pretty much necessary for the `kid` claim.

[2015-09-13 17:45] kivsiak opened #39 "Make jackson dependency optional."
Im developing android application. And in android dev we have problem with method count . The jackson lib have a huge codebase (6725 metods) against Gson which is provided. Of cause Proguard or multydex help to avoid 64k methods limit,  but but still it have strong affect on build time.

Is it possible to replace jackson with gson? In your case their functionality is almost equal.

[2015-09-30 00:18] Rebzie opened #40 "Does not validate not before"
it looks like nbf is added as a claim to the token but JWTVerifier.verify never validates it. This is part of JWT spec and should really be verified.

[2015-09-30 01:06] Rebzie commented on #40
created
https://github.com/auth0/java-jwt/pull/41

[2015-10-08 18:42] cowtowncoder commented on #18
Couple of comments here, in case they might help.

First, while it makes sense to repackage some of Jackson code (like streaming parser/generator, `jackson-core` and databinding, `jackson-databind`), it may not make as much sense to repackage annotations under `com.fasterxml.jackson.annotation`. That package is much more static and slow moving, and rarely causes version conflicts. So perhaps leavi

[2015-10-23 03:02] #35 closed

[2015-10-23 06:25] aviau opened #44 "Allow me to set kid"

[2015-12-02 14:20] troy-civitas opened #46 "A minor error in README.md, apparently"
The example given is slightly off:
[code]
decodeBase64() is a static function, but it's being called in the context of a java instance variable - this might be legal (i've been copying and altering for scala myself) but it doesn't really make sense, so I would suggest
[code]
or
[code]

[2016-01-08 17:55] Annyv2 opened #47 "Update java-jwt in api sample"
Java API sample is using java-jwt 2.0.1 but latest one is 2.1.0

[2016-01-08 18:38] #47 closed

[2016-02-11 09:22] hjacobs opened #48 "Automated unit tests including code coverage report"
The README says:

Please add automated tests (Travis CI maybe?) and code coverage report (+ nice batches in README) to proof that your library is "tested enough" :smirk:

[2016-02-29 15:08] chadjaros opened #50 "Allow creation and verification for a specified time"
Unit testing classes with expiring tokens with this library is difficult because it is tied to `System.currentTimeMillis()` in multiple places. I use JodaTime, which has a number of features which make unit testing easier, including freezing the joda clock at a specified time. I would like to inject the time for iat/exp on creation, and for verifying exp, such that it can be made to work with this

[2016-03-22 10:45] billinghamj commented on #38
+1 there should be a way of decoding without verification

[2016-03-24 17:37] bennythomps commented on #38
@mattblang all you should need is a Base64 decoder (many available) and break apart the three sections of the JWT, decode the middle, and you'll have your JSON payload.

[2016-03-30 01:13] kennycason commented on #38
Any chance of doing this supporting this in the JwtVerifier? I'd like to replace my Base64 checker on my end without having to have a special class for non secret jwt verification.

[2016-04-23 00:51] camilow opened #53 "Vulnerability fix"
Addressing the serious vulnerability well described here:
https://auth0.com/blog/2015/03/31/critical-vulnerabilities-in-json-web-token-libraries/
All that is needed is a way to force the use of the intended algorithm.

In the verification code, just replace this
        String algorithm = getAlgorithm(jwtHeader);
With this:
        String algorithm = givenAlgorithm != null ? givenAlgorithm  : getA

[2016-06-04 11:22] afattahi54 opened #54 "is expired supported?"
I am quite new in JWT ....

I wonder if this java implementation considers expired filed while validating JWT ?!

[2016-06-06 12:58] cope opened #55 "Using private/public key example"
Hi, can you please provide an example of how to sign/verify using private/public key pair?

I got it working in node with [node-jsonwebtoken](https://github.com/auth0/node-jsonwebtoken):

[code]

And it works like a charm.

**I would like to do the same in Java.**

I looked in the [test src](https://github.com/auth0/java-jwt/tree/master/src/test/java/com/auth0/jwt), but I couln't figure it out.

[2016-06-07 01:44] ojacobson commented on #33
This applies to issuer, as well.

[2016-06-10 11:06] #55 closed

[2016-06-10 11:06] cope commented on #55
I now realize this library does not support RS256.

[2016-06-22 14:42] mpaktiti opened #56 "Support for RS256"
The JWT Java library at https://github.com/auth0/java-jwt/blob/master/src/main/java/com/auth0/jwt/JWTVerifier.java currently does not support RS256.

It should be updated in order to support this.

The issue was raised at ticket [6605](https://auth0.zendesk.com/agent/tickets/6605)

[2016-07-09 03:02] arcseldon commented on #56
@mpaktiti - thanks for raising this issue. Support is now provided.

[2016-07-09 03:02] #56 closed

[2016-07-09 03:04] arcseldon commented on #54
Yes, supported.

https://github.com/auth0/java-jwt/blob/master/src/main/java/com/auth0/jwt/JWTVerifier.java#L110

[2016-07-09 03:04] #54 closed

[2016-07-09 03:06] arcseldon commented on #46
Readme updated.

[2016-07-09 03:06] #46 closed

[2016-07-12 22:40] hzalaz commented on #33
Fixed in #57

[2016-07-12 22:40] #33 closed

[2016-07-18 07:01] ComputerKaige opened #58 "(Gradle)Failed to resolve jwt"
Gradle Error:
Failed to resolve: com.auth0.java-jwt:2.2.1

What's happened?

[2016-07-19 11:20] nostalgiatune opened #59 "How to sign and verify using HS512"
Does this library support signing with HS512? Also, what is the actual difference to HS256?

[2016-07-20 17:34] rafass90 commented on #58
Hi, i try with jwt 2.2.1 and I got error too.

Try with compile group: 'com.auth0', name: 'java-jwt', version: '2.1.0'

It works fine for me.

[2016-07-21 03:51] arcseldon commented on #58
@ComputerKaige / @rafass90 - Thanks for this info - in summary, are you saying that using Gradle and referencing as `compile "com.auth0:java-jwt:2.2.1"` is failing for you?  That being the case, we shall investigate cause - fyi only - maven is working:

[code]

[2016-07-21 23:42] atabekm commented on #58
Seems there is a typo in Gradle section of README.md
Works when replacing period between com.auth0 and java-jwt to colon.

And similar to above, 2.2.1 version if not available in Gradle, though 2.2.0 is fine.

[2016-07-22 03:31] arcseldon commented on #58
@atabekm - thank you for the input.

[Maven central](https://mvnrepository.com/artifact/com.auth0/java-jwt/2.2.0) lists what is available and provides required gradle snippet:

[code]

Shall update the README.

[2016-07-22 03:31] #58 closed

[2016-07-27 11:42] rafass90 commented on #59
Hi @nostalgiatune ,

Yes, it does.

`
Options opt = new Options();
opt.setAlgorithm(Algorithm.HS512);
final String token = signer.sign(claims, opt);
`

The difference is basically the hash's size. 512 bits for HS256 and 1024 for HS512 and HS384.

[2016-08-03 14:23] runmael opened #61 "Why am I getting "signature verification failed"?"
Hi, it seems I am missing something. I have copied example from the README, but when I do the following:

     final String secret = "secret";

     final long iat = System.currentTimeMillis() / 1000l; // issued at claim
     final long exp = iat + 172800L; // +48 hours

     final JWTSigner signer = new JWTSigner(secret);
     final HashMap<String, Object> claims = new HashMap<String, Object>();

[2016-08-09 10:15] donalmurtagh opened #63 "Gradle dependency definition in docs is incorrect"
There should be a colon between the group ID and the artefact ID, i.e.

    compile 'com.auth0:java-jwt:2.2.0'

instead of

    compile 'com.auth0.java-jwt:2.2.0'

[2016-08-09 10:30] arcseldon commented on #63
@donalmurtagh - thanks for pointing this out.

[PR raised](https://github.com/auth0/java-jwt/pull/65)

[2016-08-10 15:09] justinrixx opened #66 "Android build issue"
When doing a gradle build for my android app, I get pair of errors:

[code]

[code]

These go away when I use a different jwt library.  I'm not sure if it's this library, or if it's clashing with another library I have imported that's doing things wrong.

My gradle dependencies:

[code]

[2016-08-10 15:48] justinrixx commented on #66
I figured out my issue. I did have clashing dependencies:

`gradle :app:dependencies`:
[code]

So `manage-sdk` requires `commons-io:2.4` and `java-jwt` requires `commons-io:1.3.2`. I fixed it by changing my dependency for the jwt library:

[code]

Hopefully this is helpful to others.

[2016-08-10 15:48] #66 closed

[2016-08-11 16:26] pocman commented on #61
I had the same issue.
Using the same token and secret, I can successfully verify with https://jwt.io/ (after hitting "secret base64 encoded") but not with a small worksheet:

[code]

[code]

[2016-08-12 17:20] rafass90 commented on #61
Hi @runmael ,

Use
         `new JWTSigner(new Base64(true).decodeBase64(clientSecret));`
  instead of
         `new JWTVerifier(secret)`

[2016-08-16 17:41] mattalexx opened #67 "Support for custom values in the header"
https://tools.ietf.org/html/rfc7519#section-5.3

Can support be added for this?

[2016-08-19 13:05] soulrebel opened #69 "Race condition in repackaged Base64 breaks auths at random"
After updating our auth0 libs to pull in some important fixes, we started having random authentication failures that would not reproduce.

Turns out that `JWTVerifier.decodeAndParse()` was failing with IOException from time to time.

Diagnosis: the base64 decoder used is not thread safe. For some reason you repackaged a buggy commons-codec.

PS: This took me almost a whole day to nail down and it'

[2016-08-24 01:56] silhouettes commented on #53
I emailed whitehat@auth0.zendesk.com, and it seems like the vulnerability is actually covered (albeit indirectly). In my opinion this issue can be closed. Here is how they explained it:

_____________

Even though we don't explicitly whitelist the algorithms the JWTVerifier should use, we are doing so by means of how you create an instance of that class.

If you need to validate HS signed tokens y

[2016-08-24 02:26] #53 closed

[2016-08-30 16:18] dhenry-fa commented on #69
Hi,

I ran into the same issue and had a hard time figuring out the race condition too. I worked around it by creating a new instance of a JWTVerifier every time I need to check a token instead of reusing one single instance. It must be quite CPU intensive but it's the best I could manage…

This pull request might be the solution but no progress has been made for about one year: https://github.com

[2016-08-30 18:19] soulrebel commented on #69
commons codec is repackaged that's fine with me. But the version is way too old:
https://issues.apache.org/jira/browse/CODEC-96

[2016-08-30 18:26] soulrebel commented on #69
Also, what has really took me for a ride before finding this bug, is that commons-codec is also a transitive maven dependency and in my project it was already resolved to a later version, thus I initially excluded the above upstream bug as a possible cause.
In fact you end up with 2 commons-codecs and using the buggy one.

[2016-09-01 17:24] shumy commented on #38
java-jwt should definitely have a phase of Header and Payload decode before Signature verification. The issuer is useful to search for the public key.

Although there are Base64 decoders that we can use, java-jwt will already decode, avoiding a redundant decode.

[2016-09-01 17:49] shumy commented on #34
Yes, and should be very easy to do, ex:
[code]

Although it will get into a redundant parse with verify.

[2016-09-28 00:30] adrogon commented on #69
@hzalaz @arcseldon Any input on this subject?
The preferred solution would be to get rid of commons-codec entirely (like discussed in #30), but at least an upgrade of the dependency in the meantime would be welcome.

[2016-09-30 00:53] kirsting commented on #39
I am also developing Android application. Hope that the jackson could be optional.

[2016-09-30 11:38] adrogon commented on #69
Pinging. This project needs to be maintained, and here is a quick fix to a major issue that is already provided by the community.
All you have to do is accept the pull request and bump the version, please help, thank you :)

[2016-09-30 22:31] lehoule commented on #69
+1 this project is unuseable for me without this fix.

[2016-10-03 15:06] lebels commented on #69
We need this fix too. Please accept the pull request.

[2016-10-05 10:27] adrogon commented on #69
Hello hello,

Please upgrade to latest commons-codec, there's a nice PR #71 for you to accept, and everyone will feel more comfortable.

Thanks in advance maintainers.

[2016-10-06 19:55] soulrebel commented on #69
We solved by building this manually and pushing to a local artifactory with a custom version suffix.

You've got here now an absolute proof of the bug and fix. I have been running this for while, it's really ok to merge. I here dare you to close this ASAP and show a sign to the community.

In the meantime other potential users beware: this version will work only in your local machine by yourself.

[2016-10-07 00:40] #69 closed

[2016-10-07 00:41] adrogon commented on #69
Thank you @hzalaz

[2016-10-07 05:32] #63 closed

[2016-10-07 05:34] #61 closed

[2016-10-07 05:35] #59 closed

[2016-10-07 05:36] arcseldon commented on #50
@chadjaros - do you have a PR?

[2016-10-07 05:36] #48 closed

[2016-10-07 05:37] #44 closed

[2016-10-07 05:38] #38 closed

[2016-10-07 05:39] #18 closed

[2016-10-07 05:41] #21 closed

[2016-10-07 07:19] folol opened #77 "getting RunTimeException when signing with RS256"
This is how i am generating the token but i am getting RuntimeException . Please help.
I am generating this token for firebase custom auth. Custom token claims are given [here](https://firebase.google.com/docs/auth/server/create-custom-tokens)
I am doing this in android studio 2.1.3 and testing on a phone with android 4.1.2.

[code]

[2016-10-07 07:49] arcseldon commented on #77
@folol - it looks like you are mixing `HS256` and `RS256` up. If you really want to use `RS256` - then take a look at this [test](https://github.com/auth0/java-jwt/blob/master/src/test/java/com/auth0/jwt/JWTRoundTripRsa256Test.java#L82)

If you are simply using `HS256` (secret as above being passed to JWTSigner) then you want to change the Algorithm accordingly.

[2016-10-07 09:50] billinghamj commented on #38
@arcseldon Why have you closed this?

[2016-10-07 14:14] aviau commented on #44
Was that implemented?

[2016-10-07 14:42] yuanzhou opened #78 "Fine-grained verification exception handling"
I'm using this JWT library in my API authentication. I don't see many examples in the README. And I wanted to handle the verification exceptions in a fine-grained level. Based on the documented example, instead of just telling API consumers "Invalid Token", I wanted to verify the issuer and expiration time separately.

[code]

Can anyone provide any examples? Thanks!

[2016-10-08 15:00] folol commented on #77
okay i got the point , that i have to give a PrivateKey to JWTSigner ,but the problem is that i am generating this token for Firebase custom auth and it gives me a private key as a String to sign token with it , so that it can verify it later , can you (@arcseldon) sir please  tell me how can i convert that String into a PrivateKey object or if there is any other method to do so?

[2016-10-10 20:00] chadjaros commented on #50
I do not. I set up a workaround in my unit tests because that was the path of lesser resistance.

[2016-10-13 08:00] johnwiesel commented on #21
It would be interesting to know why this was closed?

[2016-10-13 14:02] hzalaz commented on #38
We are planning on writing a library specifically for Android that only decodes the token. We closed the issue since it's already in our backlog along a rewrite of this library

[2016-10-13 14:03] hzalaz commented on #44
Not yet, we are cleaning old issues and gathering what improvements we need to add in the new version of the lib we are planning to build.

[2016-10-13 14:04] hzalaz commented on #21
We are cleaning old issues and gathering what improvements we need to add in the new version of the lib we are planning to build in our internal backlog.

[2016-10-14 08:11] peraxel opened #82 "JWTVerifier does not take 'algorithm' parameter"
As discussed in a blog post on auth0.com we need to be able to specify algorithm when verifying JWT signature. This library currently does not implement that. Please add an 'algorithm' parameter to JWTVerifier (constructor or 'verify' method).

Link to blog post: https://auth0.com/blog/critical-vulnerabilities-in-json-web-token-libraries/

[2016-10-26 11:07] nicovanbelle commented on #22
I really miss a feature like this. I understand that from your perspective the most simple solution is the best, but I find the current feature set quite lacking.

[2016-10-27 20:07] rajani007 opened #84 "Token generated using JWTSigner.sign() saying invalid signature in jwt.io debugger"
Hi,
We had written small API using java-jwt 2.2.1. It works fine when i create a token and verify the token in Java code.
1) Created RSA Private and Public keys. (Referred to one of the test case)
2) Created a token using Algorithm.RS256 with the private key.
3) Verified the same token and got output as expected.

Then provided the public key to client and we started invoking their REST services u

[2016-11-23 13:10] danny-larsen opened #107 "Add link to javadoc"
Might be a good idea to put a link to the java doc somewhere on the readme page? Took me some time to find it: https://www.javadoc.io/doc/com.auth0/java-jwt/2.2.1

[2016-11-28 04:11] jtcwang opened #108 "Is JWTVerifier thread-safe?"
We want to cache and use the same instance instead of creating one for every request.
Is it thread-safe and does it use locking such that it'll cause performance issues?

[2016-12-06 21:27] tyy10002 commented on #84
I have a similar issue, and I got this error  [TypeError: "ES256" signatures must be "64" bytes, saw "72"].

[2016-12-08 19:24] hugosenari opened #115 "Set targetCompatibility to 1.7"
I try with JDK 1.7 but raise can't load class _Unsupported major.minor version 52.0_ (Java 1.8)

Downloading source and setting _targetCompatibility = 1.7_ resolved this problem.

[2016-12-09 00:38] robrez opened #116 "Get all claims [3.0.1]"
I was just upgrading from 2.2.1 and I can no longer find a way to get all claims... I see a signature to get a claim by name, but not one to get either the keyset or entire entryset... Did I miss something?

[2016-12-09 08:17] XtreZz commented on #116
I have noticed that too,I need this feature.Will it be available ?

[2016-12-09 14:08] chadjaros opened #117 "Array claim [3.0.1]"
I'm trying to update from 2.1.0 to 3.0.1, but it seems like it's illegal to add a claim which consists of an array of values. Is this intentionally restricted, and is that restriction present in the [RFC](https://tools.ietf.org/html/rfc7519)?

[2016-12-09 14:13] chadjaros commented on #117
From the RFC:

    2. Terminology
    ...
    Claim Value [Page 5]
        The value portion of a claim representation.  A Claim Value can be
        any JSON value.

It seems that Arrays and Maps should be allowed parameters in `JwtCreator#withClaim`

[2016-12-09 14:24] hzalaz commented on #116
@robrez, @XtreZz what's the use case for getting all claims from a collection when you can do it from the object that is returned after decode/verify?

[2016-12-09 14:27] hzalaz commented on #117
@chadjaros it can be added. If you want a faster turnaround please submit a PR and we'll review and merge

[2016-12-09 14:38] chadjaros opened #118 "Clock is package private [3.0.1]"
Should the Clock class, and JWTVerifier#build method be public instead of package private? Making these package private doesn't do me any good if I want to use a custom clock for unit testing.

[2016-12-09 14:40] chadjaros commented on #118
Related to #50

[2016-12-09 15:23] hzalaz commented on #50
@chadjaros the path of lesser resistance is to make clock public and figure out how to inject it and avoid people messing with this since it's meant only for testing.  So if you are able please submit a PR for allowing to define a clock

[2016-12-09 15:23] #50 closed

[2016-12-09 15:25] hzalaz commented on #118
Might be a good idea. Will have to review the API to make this possible. PRs are always welcomed, we were busy handling other work but we'll try to be up to date with them

[2016-12-09 18:18] robrez commented on #116
I have an API gateway that gets a token from an upstream service writes it
to a database  and returns a token identifier to the consumer (instead of
the token itself).

It also acts as the refresh token issuer. The code that exchanges a refresh
token for a new access token reads the old access token, copies all claims
to the new token except for iat and exp.

I think that, in general, since the ol

[2016-12-12 16:17] anatoly314 commented on #115
@hugosenari , have your find solution to this issue?

[2016-12-12 17:40] anatoly314 opened #119 "Can't use with JDK 1.7 throw java.lang.UnsupportedClassVersionError"
Trying to use 3.0.1 library, downloaded from Maven repository at Websphere 8.5 in project which build with JDK 1.7 but it throws the following error:

`java.lang.UnsupportedClassVersionError: JVMCFRE003 bad major version; class=com/auth0/jwt/algorithms/Algorithm, offset=6`

I've tried to recompile from source but it didn't help, maybe I've done something wrong because it's first time I using gradl

[2016-12-12 17:43] hzalaz commented on #119
It's a duplicate of #115 and as stated we need to the value specified in the issue. Will try to address it this week,  PRs are welcomed.

[2016-12-12 17:43] #119 closed

[2016-12-13 09:59] erdongritian opened #120 "The JWTCreator.init() is no public method,it is not to use."

[2016-12-13 10:49] anatoly314 commented on #119
I'd be happy to PR you but I don't know how? I've downloaded source code and compiled it locally without changing anything in `build.gradle` file and it just worked. I can upload your my `*.jar` file but doubt if it will help you.

[2016-12-13 17:46] #115 closed

[2016-12-13 18:43] hugosenari commented on #115
👍

[2016-12-13 20:04] jcodagnone opened #122 "[PATCH] The LICENSE file is missing"
It never existed:
[code]

[0001-The-LICENSE-file-is-missing.patch.txt](https://github.com/auth0/java-jwt/files/649989/0001-The-LICENSE-file-is-missing.patch.txt)

[2016-12-13 20:19] pose commented on #122
@jcodagnone https://github.com/auth0/java-jwt/blob/v2/LICENSE.txt this one? ;) it's in the old master branch

[2016-12-13 20:31] #122 closed

[2016-12-13 20:39] hzalaz commented on #122
@jcodagnone thanks for heads up!

[2016-12-14 12:51] lbalmaceda commented on #120
Hello @erdongritian.
That method is private on purpose. With version `3.0.2` to create a token use `JWT.create()` and after setting the claims call `sign` passing the algorithm you want to use.
Check https://github.com/auth0/java-jwt#create-and-sign-a-token

Cheers.

[2016-12-14 12:51] #120 closed

[2016-12-14 20:25] #116 closed

[2016-12-15 12:28] ziyaozou opened #126 "[3.0.2]When verifying token, java.lang.NoSuchMethodError: com.fasterxml.jackson.databind.JsonNode.asText(Ljava/lang/String;)Ljava/lang/String;"
I tried to learn how to use jwt with auth0's library, and my code is below:
[code]

then i got error at the line: `DecodedJWT jwt = verifier.verify( token )`. The exception is below(the first line of output is token):
[code]

[2016-12-15 20:11] lbalmaceda commented on #126
Hi @ziyaozou,
I created a new java project and copy-pasted your code into a psvm and it is working. Output:

[code]

This seems to be more a jackson issue than a java-jwt one. We're currently using only the `com.fasterxml.jackson.core:jackson-databind:2.8.4` dependency. If your app uses other jackson dependencies, check that all of them have the same version.

Cheers.

[2016-12-15 20:11] #126 closed

[2016-12-16 02:35] ziyaozou commented on #126
@lbalmaceda Thanks for your reply ! i change the version of jackson, and i works.

hope that there could be some specification about the dependency of other jars.

Thanks a lot!

[2016-12-16 13:33] ensonik opened #127 "No way to extract complex set of claims"
Using the library, there is no way for me get a handle on the data contained in a "complex" claim. For example, I can't read the following:

[code]

Using `jwt.getClaim("user_metadata").asXXXXX` returns null in all cases.

Being able to get a handle on the raw JSON could do the trick, but that doesn't seem possible either.

Suggestions?

[2016-12-16 13:58] hzalaz commented on #127
Will be available once #123 is merged and released

[2016-12-16 13:58] #127 closed

[2016-12-16 16:53] ensonik commented on #78
@yuanzhou  You can use the type of exception.

- If it's an algorithm problem: `AlgorithmMismatchException`
- If it's a signature problem: `SignatureVerificationException`
- If it's the claims: `InvalidClaimException`

[2016-12-16 23:01] lbalmaceda commented on #108
Hello @jtcwang. The `Verifier` class was intended to be reusable. Also v3 should be thread safe.

Cheers.

[2016-12-16 23:01] #108 closed

[2016-12-19 16:44] lbalmaceda commented on #39
Hi @kirsting @kivsiak,
For android we have developed a JWT decode-only capable lib: https://github.com/auth0/jwtdecode.android

[2016-12-19 16:44] #39 closed

[2016-12-19 16:47] lbalmaceda commented on #67
Hi @mattalexx. Version 3 of the lib support this, check it out https://github.com/auth0/java-jwt/blob/master/lib/src/main/java/com/auth0/jwt/JWTCreator.java#L71
Cheers.

[2016-12-19 16:47] #67 closed

[2016-12-19 16:49] lbalmaceda commented on #34
@codylerum @aj-michael @shumy
In v3 you can just decode the token, without any verification.
https://github.com/auth0/java-jwt/blob/master/lib/src/main/java/com/auth0/jwt/JWT.java#L23
Cheers

[2016-12-19 16:49] #34 closed

[2016-12-19 16:52] lbalmaceda commented on #40
V3 supports time validation, including `nbf` claim. https://github.com/auth0/java-jwt/blob/c07116eda79059c421794b85c148f7538421b318/lib/src/main/java/com/auth0/jwt/JWTVerifier.java#L133

[2016-12-19 16:52] #40 closed

[2016-12-19 17:01] #23 closed

[2016-12-19 17:06] lbalmaceda commented on #23
Hi @Rebzie.
If you can move to v3 the `verify` method now throws `JWTVerificationException` and the `sign` method throws `JWTCreationException`, both wrapping the cause inside. Check it out!

Cheers.

[2016-12-19 17:17] lbalmaceda commented on #107
Hi @danny-larsen.
The javadoc it's bundled into every release so the IDE can display it when you require the dependency.

[2016-12-19 17:22] lbalmaceda commented on #78
Hi @yuanzhou. You should do as @ensonik suggested and check the type of the exception. This also works for v3 where `JWTVerificationException` is thrown but the cause is wrapped as follows:

* `SignatureVerificationException`: the signature is invalid
* `AlgorithmMismatchException`: algorithm is not the specified
* `InvalidClaimException`: value is not the expected one

[2016-12-19 17:22] #78 closed

[2016-12-19 18:52] lbalmaceda commented on #84
Hello @rajani007.
I've tried to reproduce the issue using `java-jwt 2.2.1` and a key pair generated with openssl:
1) Generate private key. I used the password "secret".
[code]
2) Get private key in PEM format
[code]
3) Get public key also in PEM format
[code]

Outputs for 2 and 3:
[code]

I signed some claims using the private key:

[code]

After that, I verify the output using the public key.

[c

[2016-12-19 18:52] #84 closed

[2016-12-19 19:10] lbalmaceda commented on #77
Hi @folol. The keys are usually base64 encoded, so you'll need to decoded them first.

Example RSA public key without the headers:
[code]

Then I read the String and create the instance.

[code]
I hope it helps.

Cheers

[2016-12-19 19:10] #77 closed

[2016-12-19 19:22] lbalmaceda commented on #82
Hi @peraxel.
This is not supported in v2 as it only verifies HS256 and RS256. But we have released a new major version that supports more Algorithms and also fixes this issue. Please check it out, currently the latest version is `3.0.2`.

Cheers

[2016-12-19 19:22] #82 closed

[2016-12-19 19:40] lbalmaceda commented on #19
Hello @maksimlikharev.
Please try v3 as this issue it's already fixed there.
Cheers.

[2016-12-19 19:40] #19 closed

[2016-12-19 21:26] rajani007 commented on #84
Hi,
Thanks for trying. I should have updated here saying that i was able to make it work with simple fix as suggested here.

http://stackoverflow.com/questions/40295469/token-generated-using-jwtsigner-sign-saying-invalid-signature-in-jwt-io-debugg

[2016-12-19 21:37] lbalmaceda commented on #84
@rajani007 I'm glad you could resolve it! 😄

[2017-01-04 19:49] chbhernani opened #129 "JWT.getClaims() doesn't exists [3.0.2]"
[Private Claims](https://github.com/auth0/java-jwt#private-claims-1) readme topic shown a method that doesn't exists. In fact, this one should be a very useful feature, but isn't present into current release.

[2017-01-04 19:53] hzalaz commented on #129
@chbhernani a snippet with how you are trying to access the private claim(s) might help

[2017-01-04 20:05] chbhernani commented on #129
Hi @hzalaz

I'm trying like shown on readme. Find below the snippet.
[code]

When I try call jwt.getClaims() the compiler doesn't recognize this method, with this quickFix alert
`The method getClaims() is undefined for the type JWT`

[2017-01-04 20:05] hzalaz commented on #129
@chbhernani and `getClaim(String)`?

[2017-01-04 20:09] chbhernani commented on #129
@hzalaz this one there is. But I'm refering to getClaims(), like readme show.

[2017-01-04 23:53] lbalmaceda commented on #129
Hi @chbhernani,
That feature was unreleased. Try with the fresh 3.1.0 release.

[code]
Cheers.

[2017-01-04 23:53] #129 closed

[2017-01-05 11:16] chbhernani commented on #129
Great!
Thank you guys @hzalaz @lbalmaceda!

[2017-01-06 16:46] medavox opened #131 "java.lang.NoSuchMethodError for Base64.decodeBase64(String)"
Hi, while using your library I encountered the following runtime exception, which crashes my app:

[code]

This is caused by your use of the Apache Commons Codec library, in [JWTDecoder.java:38](https://github.com/auth0/java-jwt/blob/master/lib/src/main/java/com/auth0/jwt/JWTDecoder.java#L38):

[code]

I have investigated the issue, and I believe it's down to an obscure problem with Android.

The

[2017-01-06 16:49] hzalaz commented on #131
@medavox we didn't build this library to be used in Android apps

[2017-01-06 17:10] medavox commented on #131
But it is, and has been. It's on jcenter, and it works (almost) without modification.

If this is not OK then sorry, but i didn't know. It didn't *feel* too difficult to use, to be Java only. Was not obvious from my discovery path.

Would you still accept a pull request to fix this that doesn't rely on android APIs, or should i find another library?

[2017-01-06 17:16] hzalaz commented on #131
There are more than android libraries in jcenter and not all are usable in an app since the JVM of android has some restrictions compared to regular JVM.

I would accept a PR if it doesn't break any public API of the library and fixes the issue 😄

Also just a quick note, we are not relying on any Android API, the error might be caused by something else, probably our base64 dependency that is not c

[2017-01-06 17:19] medavox commented on #131
I should really have put my above edit in another post, apologies.

Thanks for your quick replies, I'll see if there is a mutually satisfactory fix.

[2017-01-10 16:04] DuncanTyrell commented on #131
@medavox did you find a fix to this yet? I've just hit the same issue and glad I checked in here. I've used other libs for handling JWTs on Android in the past and am wondering whether to abandon this in favour of one that works, or try and fix this one. If you fancy a catchup about the options some time message me duncan@tyrell.digital. We're also local by the way - I'm based up the road in Leeds

[2017-01-10 16:06] hzalaz commented on #131
@DuncanTyrell what do you need to do with the JWT? if it's only decode we already have a lib https://github.com/auth0/JWTDecode.Android to do that. It's unusual for an Android app to verify or even sign a token

[2017-01-10 16:09] DuncanTyrell commented on #131
Thanks for the swift response @hzalaz! I'll have a look at that library - much appreciated.

[2017-01-10 16:15] DuncanTyrell commented on #131
Yep that seems to do everything I need for now anyway @hzalaz - thanks again for your help and super-responsive turnaround.

[2017-01-16 15:10] larspettern opened #132 "Timestamps are limited by Integer/int to 2038-01-19T04:14:07.000+0100"
If the "expires at" claim is set to a date larger than 2038-01-19, then it gets broken by the fact that the date is translated into a int. See [PayloadSerializer line 58](https://github.com/auth0/java-jwt/blob/master/lib/src/main/java/com/auth0/jwt/impl/PayloadSerializer.java)

The latest date possible to represent in seconds as a Java Integer is

`new Date(Integer.MAX_VALUE * 1000L);`

Which corr

[2017-01-16 15:50] lbalmaceda commented on #132
@larspettern thanks for the report. I'll look into it 👍

[2017-01-16 16:32] lbalmaceda commented on #118
Available in version `3.1.0`.

[2017-01-16 16:32] #118 closed

[2017-01-16 16:32] lbalmaceda commented on #117
Available in version `3.1.0`.

[2017-01-16 16:32] #117 closed

[2017-01-18 17:49] afandian opened #134 "How to verify a JWS with jku?"
I have a JWT that uses a JWK in the `jku` header to indicate a public key. I can't find any mention of how to do this. Is it possible?

[2017-01-18 17:54] lbalmaceda commented on #134
Hi @afandian. We don't provide verification for custom header claims. However, once decoded/verified the token you can:

[code]

Cheers.

[2017-01-18 18:06] afandian commented on #134
Thanks! `jku` isn't a custom claim, it's part of [the specification](https://tools.ietf.org/html/rfc7515#section-4.1.2).

Your step 1 is:

    JWTVerifier verifier = JWT.require(Algorithm.RSA256(key))

This requires the public key. However, the `jku` claim specifies which key to use.

Does this library require extra steps to implement RFC7515?

[2017-01-18 22:54] hzalaz commented on #134
@afandian this library implements the [RFC 7519](https://tools.ietf.org/html/rfc7519) not RFC 7515 as stated in the README. If you need to handle jwks you can use this library https://github.com/auth0/jwks-rsa-java as long the jwk is served in the same folder pattern and you use RSA to validate it.

I'd be careful on using that value without a proper validation or whitelisting the domain where you

[2017-01-19 09:28] afandian commented on #134
Thanks for your replies. Sorry, I assumed that because the JWT spec includes JWS, that rfc7519 would entail rfc7515.

Yes, I'm aware of the pitfalls of using jku, thanks for the warning!

[2017-01-19 09:28] #134 closed

[2017-01-20 09:23] davide-maestroni opened #135 "Cannot add map objects to claims"
I have troubles migrating from version 2 to version 3 of the library. In particular, there seems to be no way to generate a signature for an object like the one described [here](https://auth0.com/docs/api/management/v2), since the "scopes" claim is a map of objects. The `withClaim()` methods support only basic types and arrays of strings and integers, but I believe several more types (like maps) s

[2017-01-20 14:55] hzalaz commented on #135
@davide-maestroni we thought about that and we decided to keep the types of the claims simple since the jwt structure should be very simple and the bigger the object graph you have the bigger the token is.
Also there is no way for us to ensure that the POJO can be serialized to JSON, we need to leverage that to the library user.

About the scopes for api v2, you can also use `scope` instead of `sc

[2017-01-20 14:55] #135 closed

[2017-01-20 21:44] zalito12 opened #136 "No token type"
I don't know if this is intended or not, but when I create a new token like documentation says:
[code]
There is no type field on header, I haven't tried other algorithms but I think it should be the same.
In the example of jwt.io there is a 'typ' field on headers.
Some places say you should check type to prevent tokens that you don't expect, I know this doesn't improve security, it's just a filter

[2017-01-23 09:54] davide-maestroni commented on #135
@hzalaz Ok, I see your point, I'll go for the `scope` version then. Thank you for the quick reply.

[2017-02-10 10:59] arlampin opened #140 "Misuse of Jackson ObjectMapper"
I noticed java-jwt doesn't use Jackson's ObjectMappers in the most optimal way. They are meant to be fully thread-safe (after configuration) and reusable, as their construction is a relative heavy process. Instead, java-jwt seems to create a new one for almost any operation, including JWTParser and JWTCreator construction. Even some getter-type parsing methods create one just to parse a single val

[2017-02-10 17:40] ipsq commented on #140
I don't know what Jackson says about this but when these ObjectMappers are created, they are configured differently across this codebase. Re-using (and thus re-configuring) a ObjectMapper doesn't seem thread-safe to me at all. Could you provide some more insight and possibly a PR?

[2017-02-10 18:08] arlampin commented on #140
As far as I can tell, every call to `JWTVerifier.verify()` creates a new JWTDecoder, which creates a new JWTParser, which creates a new ObjectMapper. So even if application only verifies tokens, each verification creates a separate ObjectMapper.

Furthermore, at least JsonNodeClaim creates a single-use ObjectMapper for `asArray`, `asList` and `as` methods, as does `PayloadDeserializer.getStringOrA

[2017-02-17 20:56] lbalmaceda commented on #136
Thanks, we've added the token type claim when the token is signed.
PR: https://github.com/auth0/java-jwt/pull/138

[2017-02-17 20:56] #136 closed

[2017-02-22 04:05] kwkhaw commented on #135
@davide-maestroni same here. We need a way to add Map to the claims.

[2017-02-23 14:47] derandreasberger commented on #140
Hello!
For our microservice applications we have implemented a ResourceServerTokenServices to do local JWT OAuth2 token validation using the JwtVerifier-class.
Recently we figured out that roughly 10% of our request fail due to JsonParseException. I was able to verify the underlying usage of JWTVerifier was causing the problem. Rough description: We have one service-class (singleton) which is resp

[2017-02-23 15:03] #131 closed

[2017-02-23 15:06] hzalaz commented on #140
@derandreasberger the verifier is meant to be reusable, can you provide more info since the exception can be caused by something unrelated to the lib?

[2017-02-23 15:23] derandreasberger commented on #140
@hzalaz I think i can not provide the whole bunch of code, but I'd like to display the problematic piece of Constructor/method invocation.
The original class had a private variable holding the JWTVerifier (method this.setJwtVerifier(...), respectively this.getJwtVerifier()). This needed to be replaced with a new class initiation.

`    private boolean verifyTokenAndSignature(String token) throws I

[2017-02-24 14:31] #132 closed

[2017-02-24 14:57] hzalaz commented on #140
@derandreasberger I see no sign of a threading issue in the decoding code and the exception you got can be caused by a corrupted input that ends up with a malformed token passed to java-jwt. I said this since we only receive `String` not Streams so it's unlikely we are adding or modifying the string in some way to add these unexpected chars. We'll review this once we tackle the original issue repo

[2017-02-24 14:57] #140 closed

[2017-02-24 15:01] hzalaz opened #142 "Improve Jackson ObjectMapper usage"
Ideally we should have a single ObjectMapper per Verifier/Creator instance since they are meant to be shared and there is no need to recreate them per request. However we are creating some additional mappers in some places that can be avoided and the alternatives are:

1. store in a static var a Mapper (not something I'd like)
1.  make sure we have a single mapper per Verifier/Creator and pass it

[2017-03-02 19:42] timmc opened #144 "Incorrectly rejects whitespace after JSON header as invalid"
If I create a JWT with whitespace after the header JSON's closing brace, the library rejects the token with a decode exception.

Example token: `eyJ0eXAiOiJKV1QiLCJhbGciOiJFUzI1NiJ9Cg.e30K.MEYCIQD9xmk9EtRLX7EwfgaWUc8ioyFcwvfQ1lIy9dANOuLBCwIhALyQ42E8W3et8FGBWfUxtEgfucLA0V47gJlenA5Us_IL`

Exception:

[code]

RFC 7519 says the JSON under the base64 is allowed to have whitespace between and around JSO

[2017-03-08 23:38] hzalaz opened #146 "Allow returning claims or specific claim as a Map"
We need to add to `Payload` interface a method like

[code]

That will allow to get all claims as a simple map, useful for cases where the claim payload is way too complex to parse with `Claim` class.

[code]

Also additionally we can add the same feature to the `Claim` object like

[code]

### Considerations

- Will always use the default JSON mapper config so if there is a structure that needs a

[2017-03-11 03:27] NE-SmallTown opened #148 "How to generate public and private key?"
Hi.I notice that the [test file](https://github.com/auth0/java-jwt/blob/c07116eda79059c421794b85c148f7538421b318/lib/src/test/java/com/auth0/jwt/algorithms/RSAAlgorithmTest.java#L40) use `readPublicKeyFromFile` and  `readPublicKeyFromFile` use `parsePEMFile`,but there is no doc about the `parsePEMFile`.

The `parsePEMFile` method use `PemReader` to read the key from file,but the question is **at t

[2017-03-13 13:11] lbalmaceda commented on #148
Hi @NE-SmallTown,
The [PemUtils](https://github.com/auth0/java-jwt/blob/master/lib/src/test/java/com/auth0/jwt/PemUtils.java) class is inside the `test` package because it's only used for testing. In the tests, we provide both secrets or [certificates](https://github.com/auth0/java-jwt/tree/master/lib/src/test/resources) and the already signed token. The library itself doesn't have any method to g

[2017-03-13 13:11] #148 closed

[2017-03-13 13:54] NE-SmallTown commented on #148
Thanks for your clarification.

[2017-03-14 13:54] #144 closed

[2017-03-14 19:48] timmc commented on #144
Thanks! :-D

[2017-03-15 17:01] Spyna opened #153 "Add dedicated Exception for token expiration"
in class `com.auth0.jwt.JWTVerifier` , method `assertValidDateClaim`,  instead of throwing an `InvalidClaimException` it could be nice to throw a dedicated Exception, so that server and clients could better handle the token expiration.

[2017-03-22 02:27] cacsar commented on #142
Not sure if this should be a new enhancement request or not, but the ability to pass in a custom ObjectMapper would be quite useful. It's possible we're just using an old version of Jackson (from Dropwizard), but classes with Optional get rejected because https://github.com/FasterXML/jackson-modules-java8 isn't registered. Whereas if we could inject a custom ObjectMapper we could use the same one

[2017-03-22 12:58] lbalmaceda commented on #142
Hi @cacsar,
Adding a custom `ObjectMapper` means tying the public API to a specific library and we won't do that. If you have complex classes or just need to get that `Optional` type, you may parse them manually when https://github.com/auth0/java-jwt/pull/152 get's merged.
Cheers

[2017-03-23 18:24] cacsar commented on #142
Ok, in that case I'd recommend registering the Jackson JDK8 module (provided you've dropped Java 7 support in this library) so that Java8 types (like Optional) are supported out of the box.

[2017-03-29 13:05] Gungrave223 opened #156 "Outdated Jar?"
Tried including jar in project...but the Algorithm class seems to be from an outdated version. Only have one constructor for RSA256 ... for v3.1.0

**Edit**
Nvm... Went back and checked the commit and saw that, that change was added 16 days ago and v3.1.0 was released back in January so guess that change won't be out til the next release...so will be looking forward to it =]

[2017-03-29 13:32] lbalmaceda commented on #156
Hi @Gungrave223
You must have downloaded the `3.0.1` jar. The latest version is `3.1.0` and it's not available in the releases tab, but you can find it in mavencentral and jcenter.

[code]

[2017-03-29 13:32] #156 closed

[2017-03-29 13:39] Gungrave223 commented on #156
Nope definitely v3.1.0....But I'm just assuming the changes made after Jan 4th haven't been released yet... specifically [#147](https://github.com/auth0/java-jwt/pull/147)

[2017-03-29 13:57] lbalmaceda commented on #156
Yes, sorry for the confusion. The `KeyProvider` and `Public+Private keys` signatures hasn't been released yet. I hope to do it the next week. 👍
Cheers

[2017-03-29 13:59] Gungrave223 commented on #156
Cool thanks 👍

[2017-04-03 08:42] pacey opened #158 "Claim collection/array creation"
version: 3.0.2

It looks like the library supports reading a claim as a collection/array but how can I create a JWT that has a collection/array claim?

If the library just doesn't support it that's a real shame as I am using the Auth0 Authorization extension which sets the users groups as a claim array. This makes it hard (impossible?) for me to test as I cannot create a similar JWT.

Are there an

[2017-04-03 14:19] lbalmaceda commented on #158
Hi @pacey
Arrays are supported since version `3.1.0`.

[code]

[2017-04-03 14:19] #158 closed

[2017-04-03 16:08] pacey commented on #158
Cool, I'll explicitly specify that version in my project. It was coming transitively from `auth0-spring-security-api`, is it worth requesting the version be bumped in that project?

[2017-04-06 10:36] rmuhamedgaliev opened #160 "Claim.isNull() returns true for JSON Object constructed claims"
If claim contains JSON object, __isNull__ validation return false.

[2017-04-06 14:16] lbalmaceda commented on #160
Let me rephrase the issue: When a `Claim` is constructed from a JSON Object, **isNull** is returning `true` when it should return `false`.

[2017-04-11 10:24] rgibanez opened #163 "How do you create a Claim that is a collection?"
I'm trying to create a Claim which will be called 'custom' and will be a collection of key/value pairs.

Example:

`"user_id": "123456",
  "custom": {
    "first_name": "John",
    "last_name": "Smith"
  }`

I can create the Claim: user_id, but am unsure of the best way to add the Claim which is a collection.

`String token = JWT.create().withClaim("user_id", "123456").sign(algorithm);`

Any advis

[2017-04-11 13:22] lbalmaceda commented on #163
@rgibanez what you want to create is claims with Maps. That's not available and won't be at least for now. Check issues like https://github.com/auth0/java-jwt/issues/135

[2017-04-11 13:22] #163 closed

[2017-04-11 13:30] rgibanez commented on #163
@lbalmaceda - thanks for the fast response - any rough time frame for this? Otherwise I'll have to look for another library :(

[2017-04-11 13:36] lbalmaceda commented on #163
@rgibanez Unfortunately there's no ETA as we have other priorities right now. But we're looking into a solution that can include at least simple map support.
Cheers.

[2017-04-12 17:44] #160 closed

[2017-04-12 17:56] #146 closed

[2017-04-12 18:05] #153 closed

[2017-04-18 03:45] FrankBian opened #166 "README Example Error"
[code]
The code snippet in Readme file has an error: The ```Algorithm``` contains just only one factory method, which is  ```public static Algorithm RSA256(RSAKey key) throws IllegalArgumentException``` ,to generate REA256 Algorithm

[2017-04-18 03:48] FrankBian commented on #166
I use the 3.1.0 version
[code]

[2017-04-18 13:25] lbalmaceda commented on #166
In master we're preparing a release. Meanwhile, check https://github.com/auth0/java-jwt/tree/3.1.0

[2017-04-18 13:25] #166 closed

[2017-04-20 21:29] dessalines opened #168 ".asLong() ?"
I have ID fields as `Long` in my DB, but noticed that the `.getClaim()` methods only have `asString()`, `.asInt()`, and `.asDouble()`. That can easily be converted, but an `.asLong()` helper method makes sense.

[2017-04-21 13:25] lbalmaceda commented on #168
Hi @dessalines,
That's already merged and will be available on next release. https://github.com/auth0/java-jwt/pull/157

[2017-04-21 13:25] #168 closed

[2017-04-24 13:21] lafredi opened #169 "java-jwt\scripts\release.gradle' line: 156"
I cannot import the project. When importing

Loading Gradle project preview failed due to an error in the referenced Gradle build. Could not fetch model of type 'GradleBuild' using Gradle distribution ihttps://services.gradle.org/distributions/gradle-3.1-bin.zip'.
Script 'CAUsers\ hla \Documents\java-jwt\scripts\release.gradle' line: 156
A problem occurred evaluating script. Failed to apply plugin

[2017-04-24 13:27] lbalmaceda commented on #169
@lafredi It seems that you don't have `git` binaries installed in your computer. Make sure you can run that command from the terminal.

[2017-04-26 19:06] aquacode opened #170 "[v2.2.0] Why use old commons-io version, will jwt work on the latest?"
Our project would like to use the latest commons-io library.  However, I would have to exclude jwt from pulling in version 1.3.2.  Would jwt run on a later version say 2.5?  Why is jwt using such an old version?

[2017-04-26 19:25] lbalmaceda commented on #170
@aquacode we don't use [commons-io](https://commons.apache.org/proper/commons-io/) but [commons-codec](https://commons.apache.org/proper/commons-codec/) for `base64` and `charsets` handling. The latest version they have published is 1.10.

[2017-04-26 19:30] #169 closed

[2017-04-26 19:40] aquacode commented on #170
We are using v2.2.0 of jwt and it definitely pulls in commons-io version 1.3.2

[2017-04-26 19:51] lbalmaceda commented on #170
Right.. I thought you were using our latest. Any reason not to move to that one? If not, feel free to submit a PR with the bump and I'll review it.

[2017-04-27 14:52] aquacode commented on #170
Should I branch off of v2 for the PR?  All I intend to do is remove the commons-io dependency from the pom.xml so the next release of v2 will not pull it in for consumers.

[2017-04-27 15:09] lbalmaceda commented on #170
Yes, branch from `v2`. I honestly don't know if the dependency is being used at all. You'll have to check that first and if it's needed, update to the latest version and fix the issues that may appear.

[2017-04-27 15:28] aquacode commented on #170
Done.  I am not able to push my topic branch off of v2 upstream to create the PR.

[2017-04-27 15:47] lbalmaceda commented on #170
You should first make a **fork** of the repo, check out `v2` and branch from there to make the changes. After your done, push the branch to your fork and then come here to make a PR.

[2017-04-28 09:23] QuanGangDeng opened #172 "I have checked out the version 3.1.0 but could not find Algorithm algorithm = Algorithm.RSA256(publicKey, privateKey);"
I have checked out the version 3.1.0 ,but could not find this method in the api:
  Algorithm algorithm = Algorithm.RSA256(publicKey, privateKey);
have I made something wrong?

[2017-04-28 13:03] lbalmaceda commented on #172
It hasn't been released yet. Meanwhile, check https://github.com/auth0/java-jwt/tree/3.1.0

[2017-05-02 05:32] QuanGangDeng commented on #172
OK,Thanks so much,we expect to see this released version soon.

[2017-05-03 20:44] sddaniels opened #173 "When is the next release planned?"
Hello! Sorry in advance if an issue isn't the appropriate place for this question:

The last release looks like it was in January. The latest changes regarding the addition of a `TokenExpirationException` look super useful. This would be great to have incorporated into a published release soon.

 Do you have a timeline for this?

[2017-05-04 14:07] aquacode commented on #170
Is there anything else I need to do on the PR in order for it to be reviewed and approved?

[2017-05-04 20:42] lbalmaceda commented on #170
@aquacode it was just released as `2.3.0`. In a few hours it should be available in maven central.

[2017-05-04 20:42] #170 closed

[2017-05-04 20:49] lbalmaceda commented on #173
Hi @sddaniels
It was just released. Give it a few hours and it should be available.
Cheers.

[2017-05-04 20:49] #173 closed

[2017-05-04 20:49] lbalmaceda commented on #172
@QuanGangDeng This was just released and in a few hours it should be available.

[2017-05-04 20:49] #172 closed

[2017-05-04 22:01] sddaniels commented on #173
Awesome news, thank you!

[2017-05-05 08:02] apreasher opened #175 "How to extract payload from DecryptedJWT?"
`DecodedJWT jwt = verifier.verify(token);`
After this , How do you extract payload from jwt?

[2017-05-05 08:08] #175 closed

[2017-05-05 08:08] apreasher commented on #175
nvm. my bad. use .getClaims();

[2017-05-12 15:20] d2a-raudenaerde opened #176 "jackson that is used in 3.2.0 has a security advisory"
See: https://nvd.nist.gov/vuln/detail/CVE-2016-7051

[INFO] +- com.auth0:java-jwt:jar:3.2.0:compile
[INFO] |  +- com.fasterxml.jackson.core:jackson-databind:jar:2.8.4:compile
[INFO] |  |  +- com.fasterxml.jackson.core:jackson-annotations:jar:2.8.0:compile
[INFO] |  |  \- com.fasterxml.jackson.core:jackson-core:jar:2.8.4:compile

[2017-05-25 16:49] four2five opened #177 "Files tagged as 3.2 seem incomplete"
Looking at the tests for that tag, they import PemUtils.java:
https://github.com/auth0/java-jwt/blob/3.2.0/lib/src/test/java/com/auth0/jwt/algorithms/RSAAlgorithmTest.java#L18

but PemUtils.java  is not in the set tagged as 3.2:
https://github.com/auth0/java-jwt/tree/3.2.0/lib/src/main/java/com/auth0/jwt

[2017-05-25 16:59] #177 closed

[2017-05-25 17:00] four2five commented on #177
I'm a goon, was looking in main and not test, sorry.

[2017-05-25 23:01] lmiguelmh commented on #126
This problem occurs when deploying in Weblogic 12.2.1. WL loads an old version of this library from `oracle_common\modules`. Not even using [`prefer-application-packages` in `weblogic.xml`](https://docs.oracle.com/cd/E24329_01/web.1211/e21049/weblogic_xml.htm#WBAPP660) solves the problem. Be warned if you are going to use this library and deploy it in a WebLogic server!

[2017-05-26 21:11] somejeff opened #178 "Bouncy Castle 1.57 resolves several CVEs"
https://www.bouncycastle.org/releasenotes.html (Section 2.2.4)
Updating the `org.bouncycastle:bcprov-jdk15on` depedancy from  `1.55 `to `1.57 `improves the security of auth0/jwt

[2017-05-30 06:13] sagarahire opened #180 "Cannot add objects as claim in token payload"
Hello,

In my use case, I want to add roles object as a claim in the token payload, But there is no method in JWTCreator class which allows me to do so. Can anyone please suggest how to do this? Any help is greatly appreciated. Thank you.

[2017-05-30 14:06] lbalmaceda commented on #180
@sagarahire Normally "roles" would be a `String` or `String[]` describing them. Those cases are supported already in the latest version. If what you need is to save a custom pojo or `Map<String, Object>`, that's not supported yet but feel free to contribute or submit your own PR like this one https://github.com/auth0/java-jwt/pull/164

[2017-05-30 14:06] #180 closed

[2017-06-05 06:03] sagarahire commented on #180
Thanks @lbalmaceda
Map<String,Object> will work for me. Is there any issue with PR #164 ? Can you please tell me when this PR will get accepted?

[2017-06-05 13:50] lbalmaceda commented on #180
@sagarahire I have reviewed it a while ago and left a [comment](https://github.com/auth0/java-jwt/pull/164#issuecomment-295764851) with the checklist the OP must fill before I merge it, but he vanished 👀 . Feel free to submit a similar PR with those conditions fulfilled and I'll merge it.

[2017-06-12 15:08] AIMMOTH opened #181 "NoSuchMethod"
Using 3.2.0, Glassfish (Google Cloud Tool runtime in Eclipse) and something as simple:

Algorithm signingAlgorithm = Algorithm.HMAC256("secret");
JWT.require(signingAlgorithm); // Boom

Causes:

org.glassfish.jersey.server.ContainerException: java.lang.NoSuchMethodError: com.auth0.jwt.JWTVerifier.init(Lcom/auth0/jwt/algorithms/Algorithm;)Lcom/auth0/jwt/interfaces/Verification;
	at org.glassfish.je

[2017-06-12 15:23] lbalmaceda commented on #181
@AIMMOTH That's not the correct way to instantiate a verifier. Check the [README](https://github.com/auth0/java-jwt#verify-a-token).

[2017-06-12 15:23] #181 closed

[2017-06-12 15:46] zeroheavy opened #182 "Incorrect Time Format Fails Silently"
I'm developing an app and a member of my team is using this lib to ingest JWT's that I generate.  We ran into an issue that providing `exp` and `nbf` times in an inappropriate format the lib fails silently about the failure to parse.  Not sure if this intended behavior but it caused us some headaches.

[2017-06-12 16:48] lbalmaceda commented on #182
The library follows the RFC 7519 spec, and those claims are of type `NumericDate` representing an epoch time. What is the source token you're trying to decode/verify and what is the error that you're expecting?

[2017-06-26 19:54] zbstof opened #184 "assertValidDateClaim should fail for null expiration/not before claim on token"
Currently, if the claim we explicitly asked to be verified by `JWT.require` is missing, then ... nothing happens.
I can't imagine why that should be the case.

Example:
[code]
here, if rawToken doesn't contain `iss` claim, VerificationException is thrown, but if `exp` claim is missing, then no exception is thrown.

Fix would be to add a check for non-null date in each of 3 switch branches that dea

[2017-06-26 21:58] lbalmaceda commented on #184
Yes, you're right @zbstof. I think it should throw an exception if you ask to validate a date and the claim is missing.

[2017-06-28 09:00] Kolyall opened #185 "No static method decodeBase64"
I'm trying to run the lib on Android
My code:
[code]
Error:
[code]

[2017-06-28 13:36] lbalmaceda commented on #185
Apache commons [decodeBase64](https://commons.apache.org/proper/commons-codec/apidocs/org/apache/commons/codec/binary/Base64.html#decodeBase64(java.lang.String)) isn't prepared for Android. The 3rd line of the [Readme](https://github.com/auth0/java-jwt) points Android users here -> https://github.com/auth0/JWTDecode.Android

[2017-06-28 13:36] #185 closed

[2017-06-28 17:40] jeffsteinmetz opened #186 "addClaim escapes quotes in value when attempting to write a json value as string"
I am trying to create a JWT similar to an Auth0 token that contains app_metadata, using 3.2.0
is .withClaim escaping quotes?

[code]

appMetadata is a string that returns `{"some_key":"some_value"}`
The JWT created escapes the quotes in the JSON
`{\"some_key\":\"some_value\"}`

[2017-06-28 17:58] lbalmaceda commented on #186
You said it: appMetadata is a String.
In order to keep the JSON output valid the quotes are escaped. This is the default behavior of the JSON parser (jackson). It would break the syntax otherwise..

There's no API to create tokens with Map claims, but could be added in the future. Feel free to contribute or push a PR like this one (abandoned) https://github.com/auth0/java-jwt/pull/164.

[2017-06-28 17:58] #186 closed

[2017-06-28 18:55] jeffsteinmetz commented on #186
To confirm, there is no workaround today that would allow creating a JWT that looks like an Auth0 token (with app_metadata & user_metadata)

[2017-06-28 18:57] hzalaz commented on #186
@jeffsteinmetz you could convert a map to string, escape it and then add a string claim to the jwt

[2017-06-28 18:58] lbalmaceda commented on #186
☝️ that will work. You create a String claim with a JSON value (i.e. serialized by you using jackson) and then when you need to decode it, parse the value back into a map (i.e. deserialize using jackson).

[2017-06-28 19:27] jeffsteinmetz commented on #186
Thank you for the pointers.  Seems it wouldn't matter if .addClaims escapes it, or I escape the string that I pass to .withClaim, the encoded JWT will still come back as

[code]

even using jackson, converting an Object node back to a string, using that string as the value when calling withClaim would result in the same result wouldn't it?

[code]
If you debug that JWT (via jwt.io), it would be ev

[2017-06-28 19:32] hzalaz commented on #186
@jeffsteinmetz Sorry I understood the other way around, that you needed the json like that. If you need a proper serialized object there is no way now (There is the PR #164 mentioned before that was abandoned).

[2017-07-01 19:25] ivailokolev opened #187 "Wrong ES256 signature length"
Hi,

Seems like the ES256 signature length produced by Java-JWT doesn't match the definition in RFC7518 https://tools.ietf.org/html/rfc7518#page-10. It is expected that the signature is 64 bytes, but its 71 or 72, probably related to DER encoding.

When validating a signature ECDSAAlgorithm makes JOSEToDER. Shouldn't it make DERToJOSE when creating signatures?

Cheers, Ivo Kolev

[2017-07-01 23:43] ivailokolev commented on #187
Seems like the JOSEToDER is incorrect. Below is a JWT signature produced by other library. The method adds redundant zero byte to make the signature S component positive, while its already positive.

30 46 02 21 00b08c3280fc20fd95351aa081526e6a846781ef68b2cee8a71866d500c0286f72 02 21 **00**17457be7263fa2f3e34294d2f323f3168b6788d3d403f784d1a83b722ad25add

0x30; TotalLen=70(0x46); 0x02; ECRLen=33(0x

[2017-07-03 13:02] #182 closed

[2017-07-10 21:37] isortegah opened #188 "Error: A JNI error has occurred, please check your installation and try again Exception in thread "main" java.lang.SecurityException: Invalid signature file digest for Manifest main attributes"
When running the jar file the console throws the following error.

`Error: A JNI error has occurred, please check your installation and try again
Exception in thread "main" java.lang.SecurityException: Invalid signature file digest for Manifest main attributes
        at sun.security.util.SignatureFileVerifier.processImpl(SignatureFileVerifier.java:314)
        at sun.security.util.SignatureFileVe

[2017-07-10 22:25] isortegah commented on #188
Solved. The following was added in the project POM:
< filters >
  < filter >
  < artifact >*:*</artifact>
  < excludes >
  < exclude >META-INF/*.SF</exclude>
  < exclude >META-INF/*.DSA</exclude>
  < exclude >META-INF/*.RSA</exclude>
  </ excludes >
  </ filter >
  </ filters >

[2017-07-10 22:25] #188 closed

[2017-07-18 21:26] advoretsky opened #189 "RSA JWT verification example mentions private key"
usage of the private key in the 'verification' example is confusing:
[code]

[2017-07-18 22:08] lbalmaceda commented on #189
That's because the `Algorithm` instance is reusable and works for JWT creation as well. The 'signing' sample has the same _problem_. The readme is meant to be read in order.. You can ignore one of the keys (null) as long as the other is valid. This is explained [here](https://github.com/auth0/java-jwt#pick-the-algorithm).

[2017-07-18 22:08] #189 closed

[2017-07-24 00:08] pravink opened #190 "how do we create the refresh token using this library?"
how can we create the refresh token as well using auth0/java-jwt library?

[2017-07-24 16:42] jspetrak commented on #190
@pravink You could post your question at Auth0 Community Forum at [https://community.auth0.com/](https://community.auth0.com).

[2017-07-24 23:38] pravink commented on #190
@jspetrak I am using only jwt token using this library and not full oauth2. so just wondering if i can generate the refresh token as well with jwt token

[2017-07-25 23:15] lbalmaceda commented on #190
This library is meant to create and sign as well as to decode JSON Web Tokens. If you're using Auth0, then the refresh token is issued by the server as long as you request the right scope.

[2017-07-25 23:15] #190 closed

[2017-08-01 09:56] krzyniog commented on #180
When will be available new version of java-jwt supported custom object as claim in token payload, or Map at least ? Thanks.

[2017-08-03 01:46] woliurain opened #191 "Android Studio NoSuchMethodError"
java.lang.NoSuchMethodError: No static method encodeBase64URLSafeString([B)Ljava/lang/String; in class Lorg/apache/commons/codec/binary/Base64; or its super classes (declaration of 'org.apache.commons.codec.binary.Base64' appears in /system/framework/org.apache.http.legacy.boot.jar)
                                                                    at com.auth0.jwt.JWTCreator.sign(JWTCreator.java

[2017-08-03 01:49] #191 closed

[2017-08-05 12:53] mcantrell opened #192 "Improve testability by extracting an interface for JWTVerifier"
For the sake of unit testing, it would be nice if there was an an interface extracted from the implementation.

[2017-08-07 15:50] lbalmaceda commented on #191
For Android if you just need to decode a JWT then you can use [this one](https://github.com/auth0/JWTDecode.Android) as the readme says.

[2017-08-07 17:41] lbalmaceda commented on #180
@krzyniog It's not in our current roadmap but PR's are always welcome.

[2017-08-08 08:26] krzyniog commented on #180
@lbalmaceda thanks for the info. I have the problem with upgrade java-jwt dependency from 2.1.0 to 3.2.0. New version doesn't support passing custom object's in token payload as old version did. So, upgrade java-jwt without changing payload structure is impossible.

[2017-08-08 13:17] lbalmaceda commented on #180
@krzyniog yes. In your case if you need custom objects in the payload you'll have to stay in the previous stable version (2.x).

[2017-08-16 15:02] defnull commented on #176
The CVE only affects `jackson-dataformat-xml` which is not used by this library. Updating dependencies is still a good idea.

[2017-08-16 15:41] zbstof commented on #184
Hm, giving it another thought, it seems that `acceptExpiresAt`, `acceptNotBefore`, `acceptIssuedAt` family of functions are here only to override default leeway, but not to enforce that the claim is present.
[code]
Additionally, we check for claim validity only if it's present, as per original post:
[code]
So we have 2 problems:
* there's no way to exclude/ignore `exp`, `nbf`, `iat` claims from th

[2017-08-16 17:27] lbalmaceda commented on #184
You mentioned 2 things:
- For the first one, I don't think ignoring a date claim would be nice. They are there to prevent the token usage and bring an extra security layer. So if the claim is present, at least compare it using the current time + the default leeway.
- For the second one, yes it's true. There's no way to enforce their presence. We can make the current `acceptXYZ` methods to have a s

[2017-08-18 02:14] zippo227 opened #195 "The VerifyToken utility is not accurate enough with time"
I query a server for a token which I use to access resources on a different server. The first server is using System.IdentityModel.Tokens.Jwt to generate the token. When I run VerifyJWT on the second server, it says the the token is not valid yet, but the time it displays is the current time, down to the second. Is there a way to specify a more accurate time comparison? As of now, I'm having to su

[2017-08-18 13:22] lbalmaceda commented on #195
@zippo227 Have you tried [this](https://github.com/auth0/java-jwt#time-validation)?

[2017-08-18 16:17] zippo227 commented on #195
Oh interesting, I didn't realize there was a leeway setting. Is there a way to just specify a more accurate comparison?

[2017-08-18 16:26] lbalmaceda commented on #195
I don't know if I follow, but leeway is added in a single way, not both. Depending on the type of claim the way the leeway is added. i.e. it doesn't make sense to restrict an `exp` claim to an earlier date than the one defined in the token, but it does to accept a few more seconds past that token date.

[2017-08-18 16:40] zippo227 commented on #195
I see. I will test that tonight. I think it will fix my problem.

[2017-08-18 16:40] #195 closed

[2017-08-23 20:10] mab105120 opened #196 "Missing JwkStore class from documented maven dependency"
The documentation says to use the JwkStore class to retrieve public keys from jwk store:
`final JwkStore jwkStore = new JwkStore("{JWKS_FILE_HOST}");`

The JwkStore class however is not in the package with the following dependency:

<dependency>
    <groupId>com.auth0</groupId>
    <artifactId>java-jwt</artifactId>
    <version>3.2.0</version>
</dependency>

Should I be adding any other dependenci

[2017-08-23 20:15] lbalmaceda commented on #196
[code]

You can use that [library](https://github.com/auth0/jwks-rsa-java) or make your own implementation to obtain the set.

[2017-08-23 20:15] #196 closed

[2017-08-25 15:14] acaaad opened #197 "java.lang.NoSuchMethodError: com.auth0.jwt.JWT.decode(Ljava/lang/String;)Lcom/auth0/jwt/JWT;"
I'm trying to decode my JWT using this code:
[code]

and getting these error:
[code]

I'm using Java JWT 3.2.0. Please Advice

[2017-08-25 17:56] lbalmaceda commented on #197
I can't reproduce it. Any other info you can provide?

[2017-09-05 10:21] mklnwt commented on #163
IMHO you should add the possibility to add a string as [RawValue](https://fasterxml.github.io/jackson-databind/javadoc/2.6/com/fasterxml/jackson/databind/util/RawValue.html).
That way we can serialize our object ourselves and still get a "pretty" output.

ATM if we add a string claim, it will be escaped and all quotation etc. starts with a backslash which is really annoying and can lead to problem

[2017-09-05 13:41] waltersve opened #199 "The link to the license is bronken in the README resulting in a 404"

[2017-09-05 15:23] #199 closed

[2017-09-05 18:51] davideas opened #201 "Why dates are divided by 1000 before token generation?"
Sorry wrong repository... (text removed)

[2017-09-05 18:54] #201 closed

[2017-09-05 18:55] lbalmaceda commented on #201
@davideas dates in JWT are expressed in "NumericDate" format, aka unix/epoch (seconds). https://tools.ietf.org/html/rfc7519#section-2.

[2017-09-05 18:59] davideas commented on #201
So, my question was valid. Thank you, I restored the text.

But then if I want to test the dates I am obliged to remove milliseconds on my dates instances?

[2017-09-05 19:17] lbalmaceda commented on #201
That's actually a good question. The standard just mentions that `nbf`, `iat` and `exp` claims should be of type "NumericDate" but doesn't mention anything about other date claims. In our [implementation](https://github.com/auth0/java-jwt/blob/master/lib/src/main/java/com/auth0/jwt/impl/PayloadSerializer.java#L46) we do convert them to/from seconds, so yes, milliseconds get stripped. To keep them,

[2017-09-13 10:23] arotka commented on #181
Using

- CATALINA_BASE:   **"apache-tomcat-8.5.20"**
- CATALINA_HOME:   "apache-tomcat-8.5.20"
- CATALINA_TMPDIR: "apache-tomcat-8.5.20\temp"
- **JRE_HOME:        "\jdk1.8.0_112\jre"**

and **java-jwt-3.2.0**

//Generation key
KeyPairGenerator keyGen = KeyPairGenerator.getInstance("RSA");
keyGen.initialize(1024);
KeyPair keyPair          = keyGen.generateKeyPair();
RSAPublicKey publicKey   = (RSAP

[2017-09-13 13:03] jspetrak commented on #181
@arotka I have created a plain class with static main method, put your code in in connection with a token from www.jwt.io + issuer = "auth0". When running, the NoSuchMethodError did not occur. Could you try that as well?
Java version: java version "1.8.0_131"
Java(TM) SE Runtime Environment (build 1.8.0_131-b11)
Java HotSpot(TM) 64-Bit Server VM (build 25.131-b11, mixed mode)

[2017-09-18 09:19] oktaviandi-nugraha commented on #197
Hi @lbalmaceda,

I'll provide the context of what actually happened. I provide a library that depends to java-jwt version 3.1.0. Let's call this auth library.

@acaaad in his build.gradle, declared a dependency to my auth library. Somewhere in his repo, there's another module that depends to java.jwt version 3.2.0. Thus, the java.jwt library loaded at runtime is 3.2.0.

In my library I call this m

[2017-09-18 09:26] jspetrak commented on #197
Reading the commit: https://github.com/auth0/java-jwt/commit/72bceb977586a1736035ccc74220d14bc466f0c4#diff-8ad89ade07b642e1a02866acf5562b86
the intent was probably to make the JWT class the central utility object for JWT library.

[2017-09-18 09:31] jspetrak commented on #197
@oktaviandi-nugraha Do you have any example of a library dependend on java-jwt:3.1.0?

[2017-09-18 09:33] oktaviandi-nugraha commented on #197
@jspetrak My library is an internal library at work.

[2017-09-18 10:16] jspetrak commented on #176
I made PR#202 for this.

[2017-09-18 14:22] lbalmaceda commented on #197
@oktaviandi-nugraha @acaaad Ok that makes more sense. We changed it [here](https://github.com/auth0/java-jwt/pull/167#issue-223188921) to avoid confusion. As @jspetrak said we wanted to have a single entry point (the JWT class) with a different output class. Although it's true this is breaking, it's not as breaking as removing methods or changing behavior. It's fixed by just by changing the return

[2017-09-19 07:33] acaaad commented on #197
Hi @jspetrak @lbalmaceda thank you for your answer.
We finally made it work by making this authentication library depends on java-jwt version 3.2.0

Will close this issue now.

[2017-09-19 07:33] #197 closed

[2017-09-19 10:51] mklnwt opened #203 "Method for adding strings as RawValue"
You should add the possibility to add a string as [RawValue](https://fasterxml.github.io/jackson-databind/javadoc/2.6/com/fasterxml/jackson/databind/util/RawValue.html).
That way we can serialize our objects ourselves and still get a "pretty" output.

ATM if we add a string claim, it will be escaped and all quotation etc. starts with a backslash which is really annoying and can lead to problem wit

[2017-09-19 11:06] mklnwt commented on #203
#204

[2017-09-19 11:10] #203 closed

[2017-09-27 15:37] jebbench commented on #192
I have also run into the same issue; and since the class is final I can't mock it either.

[2017-10-10 06:01] coelho commented on #187
Just got bit by this too. Completely broken. Needs DERToJOSE

[2017-10-12 13:59] morganteg opened #207 "JWT token refresh"
Hi,

it need to know how I can perform a JWT token refreshing with auth0/java-jwt library. I already looked all java JWT object methods but I didn't found any useful method to perform token refresh.

Can anyone help me?

Thanks!

[2017-10-12 14:45] lbalmaceda commented on #207
This library performs signing and decoding of JWT tokens, just that. What you need is an SDK that implements the authentication API, like [this one](https://github.com/auth0/auth0-java).

[2017-10-12 14:45] #207 closed

[2017-10-17 13:06] lbalmaceda commented on #187
I'll look into it this week. Thanks for reporting this.

[2017-10-17 18:55] lbalmaceda commented on #178
not really. It's just used for the tests. 😄

[2017-10-17 18:55] #178 closed

[2017-10-18 08:36] thfro commented on #142
How about replacing Jackson with the newly releaed JSON-B 1.0, or its reference implementation respectively? It can be expected that many projects are planning to migrate to JSON-B in the near future, just because there now is a standard API for json binding. And it is tedious to have two binding frameworks in the classpath, only because the JWT library used has a dependency on a proprietary JSON

[2017-10-19 21:20] jcodagnone opened #208 "[PATCH] JWTVerifier: allow verify parsed tokens"
Today you can't parse the token once and verify it against N validators
(based on the algorithm or another feature…).

Decoding the token is not cheap in general terms (there are lots of
strings instantiations)

[0001-JWTVerifier-allow-verify-parsed-tokens.txt](https://github.com/auth0/java-jwt/files/1400032/0001-JWTVerifier-allow-verify-parsed-tokens.txt)

[2017-10-20 11:54] flamaniac opened #209 "Can't validate token on Android (Java version?)"
My code:
[code]
Unable to load JDK7 types (annotations, java.nio.file.Path): no Java7 support added
(...)
Caused by: java.lang.NoSuchMethodError: No static method decodeBase64(Ljava/lang/String;)[B in class Lorg/apache/commons/codec/binary/Base64; or its super classes (declaration of 'org.apache.commons.codec.binary.Base64' appears in /system/framework/org.apache.http.legacy.boot.jar)

[2017-10-20 13:20] lbalmaceda commented on #209
Apache commons doesn't work well on Android that's why you receive the exception. If you only need to decode the tokens we provide a library for that, but verification is not possible.

[2017-10-20 13:20] #209 closed

[2017-10-21 09:06] lvc opened #210 "API changes in Java Jwt"
Hi,

I'd like to share report on API changes and backward binary compatibility for the Java Jwt library: https://abi-laboratory.pro/java/tracker/timeline/java-jwt/

The report is generated by the https://github.com/lvc/japi-tracker tool according to the article https://wiki.eclipse.org/Evolving_Java-based_APIs_2 for jars at http://central.maven.org/maven2/com/auth0/java-jwt/.

The tool checks all

[2017-10-23 22:42] jcodagnone opened #213 "[PATCH] JWTDecoder: getToken, equals & hashCode"
`getToken` is regenerated in each ran. As `JWTDecoder` receives the actual `String` in the constructor, and:
 - `String` is immutable
 - no normalization is done, just the splitting.

Makes sense to store the token. This enables easy equals and hashCode implementation.

An equals and hashCode makes sense so it can be used in any cache / maps, etc. This makes sense in a programming setting where we

[2017-10-27 06:03] jwtLearner opened #214 "How to import com.auth0.jwt.PemUtils.readPublicKeyFromFile"
I downloaded latest java-jwt library however it looks like com.auth0.jwt.PemUtils class is missing. How can I import this class? Thank you!

[2017-10-27 06:56] AshishPashap opened #215 "Java 1.6 support"
Hi,

Is there any scope to support Java 1.6, facing an issue - Unsupported major.minor version 51.0.

thank you.

[2017-10-27 13:17] lbalmaceda commented on #215
@AshishPashap I don't think we should support it as Java 1.7 has already reached EOL and two more majors are out there.

[2017-10-27 13:20] lbalmaceda commented on #214
@jwtLearner that's a helper class for the tests. We don't provide a way to read the keys from within the library. Although, you could copy-paste that class into your app if you need it.

[2017-10-27 13:20] #214 closed

[2017-10-30 20:36] jwtLearner opened #216 "Why Algorithm.RSA512(..) is deprecated?"
I was following this https://github.com/auth0/java-jwt/blob/master/lib/src/test/java/com/auth0/jwt/JWTTest.java link.

I wanted to mimic following code from there.

    @Test
        public void shouldAcceptRSA512Algorithm() throws Exception {
            String token = "base64 encoded token";
            RSAKey key = (RSAKey) PemUtils.readPublicKeyFromFile(PUBLIC_KEY_FILE_RSA, "RSA");

[2017-10-30 20:40] lbalmaceda commented on #216
We added a KeyProvider interface so you could use JWKs. What [we deprecated](https://github.com/auth0/java-jwt/blob/master/lib/src/main/java/com/auth0/jwt/algorithms/Algorithm.java#L129) is the method that received a single key (public or private). But you could either use the [two keys](https://github.com/auth0/java-jwt/blob/master/lib/src/main/java/com/auth0/jwt/algorithms/Algorithm.java#L116) a

[2017-10-30 20:40] #216 closed

[2017-11-01 15:52] jwtLearner commented on #216
Understood! Thank you for your explanation and reply!

[2017-11-03 14:05] #215 closed

[2017-11-03 14:18] lbalmaceda commented on #187
@coelho @ivailokolev I've submitted https://github.com/auth0/java-jwt/pull/212 with the fix. Please, give it a try and leave any feedback here or in the PR discussion.

[2017-11-03 21:35] coelho commented on #187
@lbalmaceda looks good thanks!

[2017-11-05 22:08] ivailokolev commented on #187
@lbalmaceda Thank you. Crossed checked with another JWT library, both sign and verify were OK. If I may suggest a little change in the dependencies - bump up the Jakson's Databind to 2.9.2.

[2017-11-06 14:14] ivailokolev commented on #187
Hi @lbalmaceda
Is there any rough plan about the releasing of the EC fix?
Cheers, Ivo Kolev

[2017-11-06 14:30] lbalmaceda commented on #187
I'll try to make a release today. 👍
Cheers

[2017-11-06 15:17] #176 closed

[2017-11-06 15:22] #187 closed

[2017-11-06 17:05] lbalmaceda commented on #187
version `3.3.0` is on already up on bintray. Should be available in maven central in a few hours. Cheers

[2017-11-08 07:35] sumanjupudi opened #219 "Builder : withPayload Method missing"
Is it possible to add a builder method to add the payload claims?

e.g:
public Builder withPayload(Map<String, Object> payloadClaims)

[2017-11-08 12:55] lbalmaceda commented on #219
This has already been discussed many times. This is not a priority for us but If want to add support for custom claims, please submit a PR and I'll be happy to review it. The conditions for us to accept it are [here](https://github.com/auth0/java-jwt/pull/164#issuecomment-295764851).
Cheers.

[2017-11-08 12:55] #219 closed

[2017-11-16 09:07] loraclaa opened #220 "what about a xml format rs256"
I hava  a public token and a component like

[code]

public key example:
[code]

Golang decode this jwt use two parameters, first is public key ,second is exponent , then get correct. verified. Does auth0 support it?I use following code get a "too much data" wrong:

[code]

How is the settlement.

[2017-11-16 18:02] lbalmaceda commented on #220
I don't understand your question 🤔 . If you need guidance on how to load a public key you could try with the methods used in our tests, which are not included in the library but you can see [here](https://github.com/auth0/java-jwt/blob/master/lib/src/test/java/com/auth0/jwt/PemUtils.java). Again, this library does NOT parse or create the keys for you, that's out of the scope.

The JWT configuratio

[2017-11-17 08:03] loraclaa commented on #220
The RSA key is in several ways:

-----BEGIN FOO BAR KEY-----
MIIBgjAcBgoqhkiG9w0BDAEDMA4ECKZesfWLQOiDAgID6ASCAWBu7izm8N4V
2puRO/Mdt+Y8ceywxiC0cE57nrbmvaTSvBwTg9b/xyd8YC6QK7lrhC9Njgp/
...
-----END FOO BAR KEY-----
These files can be viewed with a text editor and can be easily transmitted as part of an email message.

<RSAKeyPair>
  <Modulus>4IlzOY3Y9fXoh3Y5f06wBbtTg94Pt6vcfcd1KQ0FLm0S36aGJtTSb6pYKf

[2017-11-17 08:08] loraclaa commented on #220
The RSA key is in several ways:
1) Binary DER-encoded format. This is sometimes called ASN.1 BER-encoded (there is a subtle difference between BER- and DER-encodings: DER is just a stricter subset of BER). The most compact form. If you try to view the file with a text editor it is full of "funny" characters. The first character in the file is almost always a '0' character (0x30).
2) PEM or base64

[2017-11-17 08:17] loraclaa commented on #220
I change the code to below which will leads to a verify fail but not too much data exception.
I think it's a right way to decode but still some misusing.
String token = "eyJhbGciOiJSUzI1NiIsImtpZCI6IjdmNjRmNDUzODg1M2I5Yzg5MDlkZWRiNmVhMTNkN2U5NmMwNjRmNTgifQ.eyJpc3MiOiJodHRwOi8vMTI3LjAuMC4xOjU1NTYvZGV4Iiwic3ViIjoiQ2hJek1EQXhNVEV3TURBeE5UWTNNekEyT1RRIiwiYXVkIjoibG9naW5fc2VydmVyIiwiZXhwIjoxNTEwNzEyNjk

[2017-11-17 08:18] loraclaa commented on #220
I change the code to below which will leads to a verify fail but not too much data exception.
I think it's a right way to decode but still some misusing.

String token = "eyJhbGciOiJSUzI1NiIsImtpZCI6IjdmNjRmNDUzODg1M2I5Yzg5MDlkZWRiNmVhMTNkN2U5NmMwNjRmNTgifQ.eyJpc3MiOiJodHRwOi8vMTI3LjAuMC4xOjU1NTYvZGV4Iiwic3ViIjoiQ2hJek1EQXhNVEV3TURBeE5UWTNNekEyT1RRIiwiYXVkIjoibG9naW5fc2VydmVyIiwiZXhwIjoxNTEwNzEyNj

[2017-11-17 08:21] loraclaa commented on #220
I change the code to below which will leads to a verify fail but not too much data exception.
I think it's a right way to decode but still some misusing.

String token = "eyJhbGciOiJSUzI1NiIsImtpZCI6IjdmNjRmNDUzODg1M2I5Yzg5MDlkZWRiNmVhMTNkN2U5NmMwNjRmNTgifQ.eyJpc3MiOiJodHRwOi8vMTI3LjAuMC4xOjU1NTYvZGV4Iiwic3ViIjoiQ2hJek1EQXhNVEV3TURBeE5UWTNNekEyT1RRIiwiYXVkIjoibG9naW5fc2VydmVyIiwiZXhwIjoxNTEwNzEyNj

[2017-11-21 08:26] #220 closed

[2017-11-29 11:36] qiyuey opened #221 "java.lang.Exception: Timeout scanning annotations"
mvn jetty:run need 3642ms to scan annotations without java-jwt, but 61425ms with java-jwt

[2017-11-29 11:45] qiyuey commented on #221
no problem with 3.3.0

[2017-11-29 13:09] lbalmaceda commented on #221
We updated the jackson databind dependency on the last merged PR. Probably that fixed it. 👍  Thanks for reporting.

[2017-11-29 13:09] #221 closed

[2017-12-01 13:16] destan opened #222 "AuthenticationJsonWebToken should have a public constructor"
I think `AuthenticationJsonWebToken` should have a public constructor otherwise it's impossible to write a custom authentication provider by extending `JwtAuthenticationProvider`. Because in auth. provider we can't call `com.auth0.spring.security.api.authentication.AuthenticationJsonWebToken#setAuthenticated` instead we're encouraged to create a new instance of `AuthenticationJsonWebToken`.

It's

[2017-12-01 13:18] destan commented on #222
sorry I opened the issue in wrong repo please track it here: https://github.com/auth0/auth0-spring-security-api/issues/45

[2017-12-01 13:18] #222 closed

[2017-12-08 22:35] pshekhar07 opened #223 "Passing long value for "exp" claim with method "withClaims" throws cast exception from java.lang.Long to java.util.Date"
I am facing an issue while generating a JWT token. When setting claim "exp" and passing a long value, I get "com.fasterxml.jackson.databind.JsonMappingException: java.lang.Long cannot be cast to java.util.Date" but when passing value, say, as "new Date(<some-long-value>)" it works, in method "withClaim". Below is my line of code:
`Long expiresWithin5Minutes = Long.valueOf(new Date(System.currentTi

[2017-12-11 10:09] rhelgeby opened #224 "Token content not sorted before serializing as JSON"
The constructor of JWTCreator uses MapperFeature.SORT_PROPERTIES_ALPHABETICALLY, but according to the docs, it doesn't sort maps. Then writing tests that signs a token and compares against a hard coded string will be unpredictable.

I've worked around this issue in tests by decoding it and then comparing content.

[2017-12-18 19:22] ecki opened #225 "Add support for RSA-PSS (PS256) family"
The RSA PSS variant of signatures (PS256, ...) is not supported for verification. Since the PKCS1.5 padding is regarded as risky and outdated it would be a good idea to support the new scheme as well. (currently planning to provide a PR)

[2017-12-18 21:21] ecki commented on #225
This is my first draft. It does not yet testing, since test vectors are not present it might not be compliant. This requires a JCE provider which does support PSS (like BouncyCastle). Not so happy about introducing the paramSpec in Algorithm, maybe change the layout to initialise with a initialized Signature?

https://github.com/auth0/java-jwt/compare/master...ecki:feature-rsapss?expand=1

[2017-12-25 14:55] rakaadinugroho commented on #131
i have solution for @medavox your problem, i have same problem. and to Sign with RSA256 Algorithm you must have Private Key. the Private Key must be PKCS#8 format. and save to Private.der , because Java cannot read private key except PKCS#8.

and iam not using this library. i use this library https://github.com/jwtk/jjwt

[2017-12-26 17:44] lbalmaceda commented on #224
The only order guaranteed to be preserved is the order of JSON arrays. Tests should not depend on the order of the JSON properties. I'm using a custom matcher to check the properties on this library's tests -> https://github.com/auth0/java-jwt/blob/master/lib/src/test/java/com/auth0/jwt/JsonMatcher.java

[2017-12-26 17:44] #224 closed

[2017-12-26 18:13] lbalmaceda commented on #223
`exp`, `iat` and `nbf` claims have their own setter method which expect a `Date` type. Please use that one. What it could be added from the SDK side is a validator that checks if you're setting a claim that already has a specific setter so you use that one instead (runtime exception) or an additional type check on the claim value when you're setting "numeric date" claims, so it accepts longs and d

[2017-12-26 18:13] #223 closed

[2018-01-09 16:34] deviant-studio opened #226 "Reasonable secret length?"
Hi!
What is the best practice to generate the secret?
Does the lib use key derivation algorithm or should we derive|generate|salt it manually with KDF function?

[2018-01-09 17:56] lbalmaceda commented on #226
When using HS I don't know of a "best practice" for java other than using `SecureRandom` to generate the bytes. Something like:

[code]

We don't do any processing to the input, we just feed it to the Mac signer along with the content to sign. Check [here](https://github.com/auth0/java-jwt/blob/master/lib/src/main/java/com/auth0/jwt/algorithms/CryptoHelper.java#L14).

[2018-01-11 14:13] #226 closed

[2018-01-12 03:56] biwugang opened #227 "how to make private claim as json format?"
how to make private claim like the following:

"access": [
        {
            "type": "repository",
            "name": "samalba/my-app",
            "actions": [
                "pull",
                "push"
            ]
        }
    ]

[2018-01-12 14:14] lbalmaceda commented on #227
We don't support that kind of claims. JWTs should be simple and contain as little information as possible for you to interact with other services, like an Rest API, and obtain the complete data that way. Remember that these tokens are designed to be sent _on every request_ and adding such type of payload could increase the size a lot.

Related: https://github.com/auth0/java-jwt/issues/163

[2018-01-12 14:14] #227 closed

[2018-01-15 16:54] hgastaud opened #228 "Framework compatibilty with Java 1.6"
Hey,

I'm working on an application that runs on a Websphere 8 and its web server runs with Java 1.6, so I faced a version mismatch error on my compilation/excecution. I've changed your code in order to compile and run with this java's version and I've succeeded. Do you guys want this code or you are not longer support this java's version?

Regards,
Hernan.

[2018-01-15 17:37] zaajava opened #229 "SignatureVerificationException verifying token"
I joined Auth0 to evaluate using it for a new application and am trying to use this library to verify the jwt.

I have a jQuery client that makes gets a token then calls a REST  API on  the server.  I copied used the client code samples from auth0 along with the java-awt code from this site.  My API call with the generated token is successful but I always get  a SignatureVerificationException.  Th

[2018-01-15 17:48] lbalmaceda commented on #229
What is the exception message? It usually has more information that can help debug this. Also are you sure the API is using HS algorithm to sign the tokens and that the secret is the right one??

[2018-01-15 20:24] zaajava commented on #229
Hi,

·         Yes, as far as I know I am using the HS algorithm to sign the tokens based on the dashboard and examples I see in auth0.  See the screen prints in the attached document.  You can see my secret value as well.

·         Regarding the exception, it fails in the HMACAlgorigth on the crypto.verifySignatureFor() method call and creates a SignatureVerificationException.

Thanks

From: Luc

[2018-01-15 20:43] lbalmaceda commented on #229
You can do a self-check pasting the token you receive from the `getToken` call into https://jwt.io/:

1) the `alg` claim value in the header should be `HS256`
2) after completing the `secret` value in the page tool with your API_SECRET from the [API dashboard](https://manage.auth0.com/#/apis), you should be able to verify the token signature. Is it verified correctly?

Please be certain of the alg

[2018-01-15 20:52] lbalmaceda commented on #228
Hey! JDK 1.7 already reached EOL and to be honest I don't know how many people require the former. However, let's see how much of the code has changed and if that doesn't imply downgrading dependencies. Feel free to share a fork or publish a PR so we can review it.

[2018-01-15 21:56] zaajava commented on #229
I pasted the token and verified the value is HS256 but still no luck.

From: Luciano Balmaceda [mailto:notifications@github.com]
Sent: Monday, January 15, 2018 2:43 PM
To: auth0/java-jwt <java-jwt@noreply.github.com>
Cc: Adams, Andy <Andy.Adams@ercot.com>; Author <author@noreply.github.com>
Subject: Re: [auth0/java-jwt] SignatureVerificationException verifying token (#229)

***** EXTERNAL email. P

[2018-01-16 10:31] qwertukg opened #230 "Getting climes without matching values then verifing"
On a website https://jwt.io/ I can see my clime values, then I paste my token inside the form. But then I try to get decode my token with `java-jwt` API, all my climes has only field names, and no values. its looks like this:
[code]
I know what on a website is JS library used, but i want to get my clime values too via your java API.

Is it possible?

[2018-01-16 11:14] qwertukg commented on #230
Then I make decode of payload part of token manually, json string is fine

[2018-01-16 13:38] lbalmaceda commented on #230
From what you've written above I understand that the token contents are the expected ones when decoded using the jwt.io site and a JS jwt library, but using java-jwt lib they aren't. Is that correct??
In that case, I guess your token's body contains a map/dict like structure and those are not supported. We only accept plain structures (1 level).

i.e. Not supported
[code]

i.e. Supported
[code]

[2018-01-16 14:56] lbalmaceda commented on #229
Ah I found it!
When you're extracting the token from the authorization header you're not removing the whitespace between the "Bearer" and the actual JWT.

[code]

fix it by changing it to `authorization.substring("Bearer ".length());` (note the additional whitespace)

[2018-01-16 16:05] zaajava commented on #229
Thanks, good catch.  I updated it as you showed to make sure there is no whitespace.  I still get the signature verification exception though.

I must be missing something more basic.   Don’t know if you’re free for a webex or something where I can share my desktop and walk  through it.

From: Luciano Balmaceda [mailto:notifications@github.com]
Sent: Tuesday, January 16, 2018 8:56 AM
To: auth0/jav

[2018-01-16 17:10] lbalmaceda commented on #229
A `SignatureVerificationException` implies that either the algorithm name or the secret used doesn't match the one that the API created in [the dashboard](https://manage.auth0.com/#/apis) has, and so when attempting to verify the token signature it results in that error.

Another error I just saw is that the "issuer" you're requiring the token to have is invalid, as the tokens issued by auth0 have

[2018-01-16 17:55] zaajava commented on #229
Looks like the issuer value was the problem.  I had copied the code snippet below from the java-jwt<https://github.com/auth0/java-jwt> site which had “auth0”.  Now it verifies successfully using the HS256 algorithm.

Thanks again for your help!

try {
    Algorithm algorithm = Algorithm.RSA256(publicKey, privateKey);
    String token = JWT.create()
        .withIssuer("auth0")
        .sign(algori

[2018-01-16 18:10] lbalmaceda commented on #229
Cool! I'm glad you could solve it. I'll clarify in the readme that the snippet is a sample for future users, and will check why you received the signature exception first when the claim was wrong.
Cheers

[2018-01-16 18:10] #229 closed

[2018-01-17 03:08] qwertukg commented on #230
I have Climes with only one level, its plane structure, like this:
[code]

[2018-01-17 03:12] qwertukg commented on #230
Climes was add to Token by chaining of `withClaim` methods

[2018-01-17 13:23] lbalmaceda commented on #230
Tokens are meant to be generated following the [rfc7519](https://tools.ietf.org/html/rfc7519) spec. It's not clear to me how you're obtaining them. Taking a sample similar to the one in the Readme, let's create and then verify a token with this library:

[code]

And if you take that token and go to [jwt.io](https://jwt.io/?value=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VyX25hbWUiOiJKb2huIiwidXNl

[2018-01-17 14:02] lbalmaceda commented on #229
I tried verifying this token which contains an issuer value of `not-auth0` as you can see [here](https://jwt.io/?value=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJub3QtYXV0aDAifQ.ume_18v1BkLGdpnmHeSV3i-ttuvQ0d7VkBg28EyRLC8)

[code]

And then I tried to verify it with a different issuer, like you were doing before:
[code]

But the exception I received was the expected one instead of the `Signat

[2018-01-18 04:29] qwertukg commented on #230
I want to get clime values without matching values then verifying

[2018-01-18 04:38] qwertukg commented on #230
But jwt.io isn't pass clime values then verifying your token. That's why my question is - how to get climes **without matching values then verifying**

[2018-01-18 13:15] lbalmaceda commented on #230
Sorry @qwertukg but I don't understand your question. Please go to http://support.auth0.com or http://community.auth0.com and continue from there. If you find an error on the library don't hesitate to open another issue.

[2018-01-19 03:39] qwertukg commented on #230
Lets check your example:
Then you verify token, you add `withClime` methods and put values of climes there. right?
[code]
If u will not chain  `withClime` methods, just `JWT.require(algorithm).build()`, climes will not be decoded. Right?

But, on a website jwt.io climes are decoded, and im sure, values (like "John", 52, true) was not pass there. Why JS library can decode it from api method (maybe)

[2018-01-19 17:54] lbalmaceda commented on #230
The JWTVerifier is used as the name says to **verify the claims** that the given token has. Calling "withClaim" in the verifier is not mandatory, but if you do and they don't match with the ones that the token has then the verification will fail. The idea when setting up the verifier is that you will always expect a given set of values to be contained for the tokens to be accepted. For example: if

[2018-01-22 20:50] victorjss opened #233 "JSON properties are not sorted"
In JWTCreator a Jackson Mapper is initiated in this way:

`mapper.configure(MapperFeature.SORT_PROPERTIES_ALPHABETICALLY, true);`

This does not work with Maps as is said in https://github.com/FasterXML/jackson-databind/wiki/Mapper-Features#name-handling.

This is easily fixed removing previous line and changing the constructor of JWTCreator.Builder to use TreeMap instead of HashMap:

[code]

[2018-01-22 21:03] lbalmaceda commented on #233
@victorjss It's really not relevant as in JSON there's no concept of "order of the properties" (it really doesn't change things). That line was there a while ago to help us assert that the output JSON was the expected one in the tests, but we also changed the way we check JSON strings on tests to not depend on the order.

[2018-01-22 21:03] #233 closed

[2018-01-24 12:44] qwertukg commented on #131
Still have it on Spring application:
[code]

[2018-01-24 13:30] lbalmaceda commented on #131
@qwertukg please provide a repro project so we can narrow down the problem.

[2018-01-24 13:58] qwertukg commented on #131
if u talking about repository of project, I can't to pass it. Maybe u need some more information ?

[2018-01-24 14:06] lbalmaceda commented on #131
The original issue on this post is related to the library being used on an Android environment. Android is known to have a different Base64 implementation, and Apache Commons can't be used there because of the JVM. If you say the issue appears also on Spring that worries me, but if I don't know what you're doing I can't help you.
I'm not talking about the original project where you're working on b

[2018-01-24 14:10] qwertukg commented on #131
Ok. Will try to reproduce it on a simple project tomorrow. Now just can to say what this project have a lot of dependencies and it's based on spring 3

[2018-01-24 14:17] lbalmaceda commented on #131
Then it _should_ work unless one of your project dependencies uses a different version of apache commons lib that doesn't have that class method. Try searching in the dependency tree if this is the case and see if removing that dependency fixes the problem.

[2018-01-25 03:30] qwertukg commented on #131
It was **commons-codec-1.2** there is no method with signature `decodeBase64(String)` only `decodeBase64(Byte[])`

[2018-01-25 12:57] lbalmaceda commented on #131
@qwertukg Ah yes, that's from 2005. The latest version is the one we use.

[2018-01-25 14:06] harrisyang opened #234 "JWT package upgrade"
Now we are using version 2.2, we want to upgrade to version 3.3. But I found a big change in version 3.3. What should we do? Please give us some advice? Thanks.

[2018-01-25 14:13] lbalmaceda commented on #234
We follow [semver](https://semver.org/). That means that version 3 has breaking changes and changes most of the public API that exists on 2. If what you currently have is working then you don't need to migrate to 3. Keep in mind that we're only providing bug and security fixes to version 2.
If you still want to migrate, check the Readme as it has a few examples on the basic and advance usage.

[2018-01-25 14:13] #234 closed

[2018-01-25 14:18] #230 closed

[2018-01-25 16:22] dmak commented on #142
...or wait until Jackson adopts JSON-B, see [issue#19](https://github.com/FasterXML/jackson-future-ideas/issues/19).

[2018-01-26 02:11] harrisyang commented on #234
@lbalmaceda thanks for your advice.
We have a lot of code to use JWT based on version 2, this is not easy to migrate to version 3.

[2018-01-27 13:12] GrreyWang opened #235 "How to use auth0 with java6?"
I wanna import jwt into my project, but my project run with java6.  So, which version I can choice?  I tried version 3.0.1, but the exceptions told me can not find special class.
      By the way,  where i can find the document for every verison of jwt?

[2018-01-27 13:15] GrreyWang commented on #228
also run with java1.6. need support

[2018-01-30 10:28] dmak opened #236 "Refactor HMACAlgorithm#getSecretBytes() so that it does not throw UnsupportedEncodingException"
It is easily possible to modify [`HMACAlgorithm#getSecretBytes()`](https://github.com/auth0/java-jwt/blob/0001be066d0e6547792480de0dac099a649a6b02/lib/src/main/java/com/auth0/jwt/algorithms/HMACAlgorithm.java#L42) so that it does not throw `UnsupportedEncodingException`:
* Use `java.nio.charset.StandardCharsets.UTF_8` from Java7.
* Use `org.apache.commons.codec.Charsets.UTF_8` from Commons Codec.

[2018-02-07 01:40] leesf opened #237 "How to extend expire time?"
How to extend token's expire time and do not change the return token string?

[2018-02-07 08:32] lbalmaceda commented on #237
You can accept a token that has expired a few seconds ago by adding a leeway to the verifier. Keep in mind that you should keep the leeway value low as this is a security measure anyway. Check this section of the readme https://github.com/auth0/java-jwt#time-validation

[2018-02-08 15:50] apex39 commented on #131
@hzalaz Why is it "(...) unusual for an Android app to verify (...) a token"? Why I wouldn't want to know if someone's changed my token?

[2018-02-12 15:40] #237 closed

[2018-02-21 19:30] uwinkelvos opened #240 "Should throw JWTDecodeException in case date based claims like "exp" are specified in the wrong format."
We saw an issue, that when accidentally specifying an "exp" claim as iso string the exp claim is silently ignored. Imho a  JWTDecodeException should be thrown.

See:
https://github.com/auth0/java-jwt/blob/7dcea427df1db2b948911e70aef2e9d7f0b7cfad/lib/src/main/java/com/auth0/jwt/impl/PayloadDeserializer.java#L68

[2018-02-21 19:33] lbalmaceda commented on #240
Yes, that makes sense. 👍

[2018-03-05 23:14] Radbolt commented on #228
I also am still on JDK 1.6, so Hernan's changes would be appreciated.

[2018-03-09 14:54] askracker opened #245 "Build Issue"
I am trying to build the project and I am getting errors saying -
Error:(17, 11) java: cannot find symbol
  symbol:   class Map
  location: class com.auth0.jwt.JWTVerifier

There are many of them like this.
Please help me with this.
Thanks for the help in advance.

[2018-03-09 15:53] cescoferraro opened #246 "Validate against multiple issuers"
Is there a way to validate against multiple issuers with the current api?

[2018-03-09 16:08] lbalmaceda commented on #246
No, since the `JWTVerifier#withIssuer`  only accepts a single string and the `JWTVerifier#withArrayClaim` will check that **all** the passed array contents are present in the token rather than only checking if the token's issuer is part of the passed array.
Could be added though.

[2018-03-12 03:35] AlexC-developer opened #247 "Is there any way to put object data in claim?"
I want to put an object data in the claim...lol

[2018-03-16 11:12] iampeterbanjo commented on #245
I'm getting build failures due to broken tests.

[code]

[2018-03-16 11:30] iampeterbanjo commented on #245
I found a more recent build on [maven central](http://repo1.maven.org/maven2/com/auth0/java-jwt/3.3.0/)

[2018-03-16 13:02] lbalmaceda commented on #245
@iampeterbanjo We don't update the "github releases" tab. The last release as of today is 3.3.0 (linked in the comment above). They are uploaded both to bintray and maven central. 👍

@askracker I've cloned the repo (master branch) and run `./gradlew build` and everything works as expected.

[code]

[2018-03-16 13:02] #245 closed

[2018-03-19 10:37] ph-kaelin commented on #247
we also want to put objects data (nested json) as claim.
Looks like this is common practise for the address.
{
  "sub": "...",
  "address": {
    "street_address": "...",
    "locality": "...",
    "region": "...",
    "postal_code": "...",
    "country": "..."
  },
  "locale": "..."
}

This library seems to be able to do that:   maven: com.inversoft / prime-jwt / 1.1.0

[2018-04-07 18:30] kaandok commented on #208
@lbalmaceda hi, any plans to merge this in/any help required?

[2018-04-15 05:41] santanamith opened #249 "Help to solve this error javax.servlet.ServletException: org.glassfish.jersey.server.ContainerException: java.lang.NoSuchMethodError"
javax.servlet.ServletException: org.glassfish.jersey.server.ContainerException: java.lang.NoSuchMethodError: com.fasterxml.jackson.databind.JsonNode.asText(Ljava/lang/String;)Ljava/lang/String;
root cause

org.glassfish.jersey.server.ContainerException: java.lang.NoSuchMethodError: com.fasterxml.jackson.databind.JsonNode.asText(Ljava/lang/String;)Ljava/lang/String;
root cause

java.lang.NoSuchMeth

[2018-04-15 16:11] Cyborg101 commented on #249
Not sure if it can help, but I had the same problem in my tests which went away when I deleted the following dependency from my pom.xml file

[code]

[2018-04-15 20:47] santanamith commented on #249
I havent that dependency in my pom.xml.

[2018-04-16 14:58] lbalmaceda commented on #249
"No such method" points out that the jackson version you are using is different than the one required by this jwt library. I don't know how to solve this in maven, TBH I thought it will resolve the right dependency itself. Run this command to get an insight of what dependency is requesting a different one and see if you can override some of them to use that particular version instead of the one au

[2018-04-18 04:59] viksrastogi commented on #247
Please provide this feature. I also need Object data to be passed as claim in one of my projects.

[2018-04-18 16:30] mrvonwyl opened #250 "LocalDate/LocalDateTime support"
First of all thanks for this awesome piece of software!

However, I would like to be able to use the Java 8 time API for all the timestamps.
Since I am using LocalDate and LocalDateTime everywhere else, it would be nice, if I would not need to convert the values to the old java.util.Date. Especially in the for JWT.create() and JWT.require() methods.

Thanks :)

[2018-04-19 19:07] lbalmaceda commented on #250
Hi 👋 Even if we could add a method that accepts that new type, this library's min JDK is 1.7. I know that converting it is a valid solution but one we don't really like at all as it's not performant, and we're already doing text-to-value conversions when dealing with the tokens. Do you think there's any workaround?
This is definitely a must have in the case of a new major.

[2018-04-25 13:18] ianaz commented on #186
This has apparently been fixed in #239 . Would be nice to see it merged :)

[2018-04-27 23:08] sirpoisonivy commented on #247
Agree. Would be nice to have.

[2018-04-30 23:40] Clockwork-Muse commented on #250
Side note: `LocalDate`/`LocalDateTime` aren't the correct types here.  For the various registered claims, the correct type should be `Instant`.  Either of the `Local..`s attach presumed data to the token (that is, a time zone) which doesn't actually exist.

Not that there couldn't be private claims that would be `LocalDate` (say, birthday), but the parser would have to take `java.util.time.Clock`

[2018-05-03 10:40] pjfanning opened #252 "Support JWT verification with just a public key"
I'm using an Auth0 domain and have a [JWK](https://github.com/auth0/jwks-rsa-java/blob/master/src/main/java/com/auth0/jwk/Jwk.java). This only exposes a PublicKey.
https://github.com/auth0/java-jwt#verify-a-token RS256 example requires that you provide a PublicKey and a PrivateKey.
Verification of a JWT only requires the PublicKey and I don't have access to the PrivateKey.

I will try https://gith

[2018-05-03 11:07] pjfanning commented on #252
I was able to get this to work with a custom RSAKeyProvider as follows:

[code]

[2018-05-03 13:27] lbalmaceda commented on #252
An `Algorithm` instance requires that you provide [at least one](https://github.com/auth0/java-jwt#pick-the-algorithm) key (public/private). By using the `KeyProvider` interface (or it's implementations) you can pass that public key you need for verification, just [like you did](https://github.com/auth0/java-jwt#using-a-keyprovider) in your snippet. All this is already explained in the readme.

Ha

[2018-05-03 13:27] #252 closed

[2018-05-17 10:46] claudiocarcaci opened #253 "Algorithm class usage"
In the examples reported in https://github.com/auth0/java-jwt
The use of Algorithm class for RS256 needs during its instantiation the public and private key.
Either using RSAPublicKey and RSAPrivateKey or RSAKeyProvider.

Both solutions want the private key (RSAPrivateKey).
If I want to use this library into a third party instance of my app which will only verify the signature. Thus I don't have,

[2018-05-23 14:55] #253 closed

[2018-05-29 14:59] #236 closed

[2018-05-29 15:01] lbalmaceda commented on #192
Would it help making the class non-final?

[2018-05-29 16:41] skjolber commented on #142
So this almost solves itself when https://github.com/auth0/java-jwt/pull/194 is merged? The JWTParser constructor needs a tweak though.

[2018-05-29 16:55] mcantrell commented on #192
That would solve my testing problem for sure.

[2018-05-29 22:28] nicosabena opened #254 "`iat` should not be used for token lifetime validation"
The `exp` and `nbf` claims should be used to validate the token lifetime, but the `iat` should be treated as merely informative.
The [JWT spec](https://tools.ietf.org/html/rfc7519#section-4.1.5) does not indicate any validation for `iat`. Other libraries like .Net also don't use `iat` (e.g. [here](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/a07d6f949dc

[2018-06-04 06:47] wuan commented on #254
We had issues with clock skew between servers which resulted in invalid tokens in rare cases. The logic added to our verifier which now sets a default leeway if no leeway is set could be removed if `iat` is not verified to be in the past.

[2018-06-04 07:19] wuan opened #256 "make validation more customizable"
We currently have a use case to validate that at least one audience of the token is matched by the list of possible audiences. As `JWTVerifier` is final this becomes a very ugly hack, because a lot of code has to be copied for a simple change.

What is your preferred way of making that possible:

  * making `JWTVerifier` non final
  * updating `JWTVerifier` to allow select verfications to be repla

[2018-06-04 16:48] #240 closed

[2018-06-04 17:30] lbalmaceda commented on #256
I'm considering making a lot of final classes non-final so tests and extensibility is possible. As of today, the behavior of the `withAudience` verification is the opposite: All of the given audiences must be present on the token as you might already realized. This has always been our intention since as we see it, you always know who the token is intended for. Using `withArrayClaim` has the same b

[2018-06-04 22:01] crizo23 commented on #246
Other JWT libraries accept an array of issuers so this would be a very nice-to-have.

[2018-06-05 06:25] alabotski opened #257 "Set own ObjectMapper"
Will be good if I can set my own ObjectMapper
[code]

[2018-06-05 15:19] lbalmaceda commented on #257
I don't want to make the public API depend on a single library (jackson in this case). I guess it could be achieved if we provide our own interface to an object like that.
This is related to https://github.com/auth0/java-jwt/issues/142. Will leave open anyway so no more issues like this one are created.

[2018-06-07 18:05] trajkovski731 commented on #131
And did you fixed it? It has past a lot of time.

[2018-06-07 18:17] lbalmaceda commented on #131
@trajkovski731 this library is not meant to be used on Android (we don't support it up-front). Is that your case or are you having a different error? If so, please post the details either here (if related) or in a separate new issue.

[2018-06-08 07:49] ycoupe opened #259 "NoSuchMethodError: No static method encodeBase64URLSafeString"
Hi I have a problem when I create a jwt token like this (I'm on Android):

[code]

I have this error:

`
java.lang.NoSuchMethodError: No static method encodeBase64URLSafeString([B)Ljava/lang/String; in class Lorg/apache/commons/codec/binary/Base64; or its super classes (declaration of 'org.apache.commons.codec.binary.Base64' appears in /system/framework/org.apache.http.legacy.boot.jar)
        at

[2018-06-08 08:04] joolfe opened #260 "JWTVerifier and verify() are thread safe?"
Hi,

In an sever application like springboot API, can i create a instance of JWTVerifier and the reuse it even if more than one thread is using at same time or should i create a instance for each thread to avoid errors?

Best Regards.

[2018-06-08 14:10] lbalmaceda commented on #259
@ycoupe This library was not made with Android in mind. If you need to decode a token you can still use [this other library](https://github.com/auth0/JWTDecode.Android).

Closing as dupe of [many issues](https://github.com/auth0/java-jwt/issues?utf8=%E2%9C%93&q=is%3Aissue+android+nosuchmethoderror+is%3Aclosed+).

[2018-06-08 14:10] #259 closed

[2018-06-08 14:14] lbalmaceda commented on #260
Yes, they are meant to be reusable. You shouldn't have any thread problems.
Closing as dupe of https://github.com/auth0/java-jwt/issues/108.

[2018-06-08 14:14] #260 closed

[2018-06-08 19:06] nanangTriAndika commented on #131
For anyone who struggle using apache common codec inline with android SDK ( especially when got conflict when using Base64 function ), you can use this library. Just pull and compiled the code or download through release tab for lazy programmer =P

https://github.com/nanangTriAndika/customApacheCommonCodec

[2018-06-11 15:37] qwertukg commented on #131
@trajkovski731 yep, i was fix it by excluding this lib from my dependency tree

[2018-06-13 13:07] AlexandreOlipe commented on #247
I've read some discussions  about this and none had a "happy ending" since this feature seems controversal(#163, #164, #204, #227, etc). I only like to know why this is not supported and controversal since we have something similar in  ".withHeader(Map<String, Object> headerClaims)".
Are there other reasons to not implement the same concept to load a simple map in payload?
I ask that because I nee

[2018-06-13 19:32] sirpoisonivy commented on #247
Totally agree. The author has stipulated he will approve a simple solution to support a Map implementation which supports only the primative types. I need to write that, it's super simple.

[2018-06-13 21:18] AlexandreOlipe commented on #247
I can be very wrong... But watching the discussions, I think that anything like:

`.withMapClaim(String name, Map<String, Object> items)`
or
`.withMapClaim(String name, Map<String, Set<String>> items)`
or
`.withMapClaim(String name, Map<String, List<String>> items) `

Would make almost everybody happy (since, generaly, the needs are for very simple maps). In my case, any of these would do the magi

[2018-06-14 03:17] sirpoisonivy commented on #247
I think it was left in that unfinished state to avoid errors when attempting to serialize custom objects. The header likewise needs similar enforcement. I'll write it if someone doesn't get to it before me. Just needs put methods with all the primative wrappers.

[2018-06-14 08:16] kivutar commented on #214
This helper is really useful.
Why not exposing it?

[2018-06-14 15:28] lbalmaceda commented on #214
@kivutar because how you read or obtain a key is not part of this library's scope.

[2018-06-15 07:53] morgwaiwetrust commented on #214
@lbalmaceda could you please advise where would be the right place to add these helpers? org.bouncycastle:bcprov maybe?
Thanks!

[2018-06-15 10:05] davidkarlsen opened #263 "draft-cavage-http-signatures-09 support"
also see https://issues.apache.org/jira/browse/CXF-7753
I wonder if draft-cavage-http-signatures-09 support for signing and validation is suitable to implement in this java-jwt?
I have found a couple of implementations - but they seem like single-person implementations - while java-jwt is a lot stronger community

[2018-06-15 14:34] lbalmaceda commented on #214
@morgwaiwetrust If you ask who should own a code like this the answer is I don't know. To be honest they are simple java snippets to read PEM keys from files (no more than 3 lines each). It doesn't make any sense to create a new library just to keep them around. I've gone ahead and created a Gist to give them more visibility.

https://gist.github.com/lbalmaceda/9a0c7890c2965826c04119dcfb1a5469

[2018-06-16 21:53] filip26 commented on #208
note this patch is workaround for #246 because allows to have multiple different verifiers.

e.g.
1. decode token
2. use decoded token property (e.g. issuer) to select appropriate verifier
3. call verifier.verify(decoded token)

[2018-06-19 09:18] dashbar opened #264 "Maven Central Repository is missing version 3.4.0"
ref: http://repo.maven.apache.org/maven2/com/auth0/java-jwt/

[2018-06-19 13:54] lbalmaceda commented on #264
@dashbar You're right. I just synced the repo, should be available in the next 5 hours.

[2018-06-19 13:54] #264 closed

[2018-06-27 23:34] sangbinlee commented on #215
I dont knowTwo more majors are out there.

[2018-06-29 18:28] DinoChiesa commented on #254
Irrespective of clock skew (which can be handled by leeway), the spec has nothing to say about whether iat ought to be considered during validation.  One may reasonably take either view: it should be considered, or it should be ignored.

On the side of "should be ignored" - already we have  nbf and exp. These are validity times and are described as such.  Therefore using iat as well as these prope

[2018-06-29 18:30] DinoChiesa commented on #263
It doesn't seem like support for http signatures belongs in a JWT library. Yes, they both have signatures, but they are two completely different standards.

[2018-06-30 22:31] davidkarlsen commented on #263
OK. Closing. Thanks for responding.

[2018-06-30 22:31] #263 closed

[2018-07-10 03:30] gentlyj opened #265 "No static method encodeBase64URLSafeString"
java.lang.NoSuchMethodError: No static method encodeBase64URLSafeString([B)Ljava/lang/String; in class Lorg/apache/commons/codec/binary/Base64; or its super classes (declaration of 'org.apache.commons.codec.binary.Base64' appears in /system/framework/org.apache.http.legacy.boot.jar)
        at com.auth0.jwt.JWTCreator.sign(JWTCreator.java:330)
        at com.auth0.jwt.JWTCreator.access$100(JWTCrea

[2018-07-10 03:50] gentlyj commented on #265
ok, I found [this library](https://github.com/jwtk/jjwt) is available in android.

[2018-07-10 03:51] #265 closed

[2018-07-13 16:35] teagy-cr opened #267 "Add Support for Ed25519 Elliptic Curve Key Signing of JWT Tokens"
Consider adding support for the ed25519 curve encryption key signing of JWT tokens. Verification is much faster with the same level of security.

https://ed25519.cr.yp.to

[2018-07-18 08:56] jogee commented on #246
We are looking for something similar when switching to a custom domain with auth0, when you switch to a custom domain the issuer changes although the auth0 tenant stays the same. To handle this we temporarily have to accept multiple issuers.

The patch with having multiple verifiers seems to be the best solution to be able to transition properly.

[2018-07-18 13:20] jonnyzzz opened #268 "Support time drift between servers, aka token from the future"
I have the following problem logged:
[code]

The issue is that one server has time slightly ahead of the server that validates the token. It is not possible to configure token claim verification to have less strict assert

[2018-07-18 15:38] lbalmaceda commented on #268
@jonnyzzz It's failing due to `nbf` (not before) claim being "in the future". This is part of the standard validation. To allow a small difference you can [specify a leeway](https://github.com/auth0/java-jwt#time-validation) by using the `acceptLeeway` method. Note the value you pass is in SECONDS and you should keep it as LOW as possible. From the logs you posted it seems the diff is smaller than

[2018-07-18 15:38] #268 closed

[2018-07-18 15:40] lbalmaceda commented on #246
This is already in our backlog. I'll discuss with the team on the coming days if we should raise the priority. 👍

[2018-07-20 17:02] TheLuminary commented on #247
I find that it is bizarre that there is an `asMap()` method on the Decoder, but no way to get this information into the token with the creator.

[2018-07-23 09:29] hariprasath-r opened #269 "java.lang.UnsupportedClassVersionError: JVMCFRE003 bad major version; class=com/auth0/jwt/algorithms/Algorithm"
I want to generate JWT Token using RSA Key pairs in Java 6. But the Algorithm class is not supporting it. Can someone let me know which version of jar to use for the above case.

Thanks in advance.

[2018-07-23 13:10] lbalmaceda commented on #269
This library's minimum supported Java version is JDK 7. In fact, the [StandardCharsets](https://docs.oracle.com/javase/7/docs/api/java/nio/charset/StandardCharsets.html) class is available since 1.7. Look at https://github.com/auth0/java-jwt/blob/master/lib/build.gradle#L32-L33.

I'll add this requirement to the readme for better visibility, and leave this issue open for a while so others can help

[2018-07-23 13:13] #269 closed

[2018-07-24 08:29] AlexC-developer commented on #247
@TheLuminary Thanks bro , but I no longer need this feature.

[2018-07-24 08:29] #247 closed

[2018-07-24 14:42] TheLuminary commented on #247
@AlexC-developer Fair enough.

For anyone else that might arrive here from Google. I was able to work around this, by just wrapping the creator and decoder. And implementing the asMap that I wanted, by using a String Array, with the array values using the {Key}_{Value} pattern. This is not perfect, but it allows me to cleanly encode a String,String map which is what my use case was.

[2018-07-24 14:58] lbalmaceda commented on #247
I plan to open the JSON encoding/decoding module so that anyone can plug in their library. This is the first step to achieve the issue described in this post successfully. Just a heads up, as I can't promise any ETA unfortunately.

[2018-07-27 19:29] the1plummie opened #270 "ECDSA key version mismatch from openssl pem files"
Hi there,

I'm trying to generate ECDSA key pairs, using these 2 commands (on debian):
[code]
I end up with these pem contents:
[code]
[code]
But when I try to read the private key, I'm getting this exception:
`java.security.spec.InvalidKeySpecException: java.security.InvalidKeyException: IOException : version mismatch: (supported:     00, parsed:     01
`
I tried using the pem files in test direc

[2018-07-27 19:36] lbalmaceda commented on #270
You are doing it fine. I think you just forgot to convert the private key to this "newer" pem format:

[code]

See if that works. Cheers

[2018-07-27 20:17] the1plummie commented on #270
Ah, that works! Thanks for the pointer!

[2018-07-27 21:30] #270 closed

[2018-07-31 18:51] tstockton opened #271 "Verify Token example using RS256 (java)"
The example in the README file for verifying a token uses the public and private key to validate.  In practice, the verifier will typically have only the public key.  There does not appear to be an example that shows verifying the digital signature of the token using only the public key... Am I missing something?
[code]

[2018-07-31 18:56] lbalmaceda commented on #271
Ideally, the `Algorithm` instance will be reused.

From the top of the Readme's Usage:

You can also use a KeyProvider implementation that only returns the required keys.

[2018-07-31 18:56] #271 closed

[2018-08-06 09:59] gedl commented on #254
Regardless of the final decision, if the `iat` check is to assert if `now` is not before `iat`, then the implementation is fundamentally wrong as it stands because it also rejects as invalid dates that are exactly `now`:

[code]

which calls
[code]
Namely in tests scenario, it's not uncommon that, at second granularity, the token is verified exactly on the same timestamp, *sometimes* resulting in

[2018-08-07 20:26] michaelhoffmantech opened #272 "Hooks into creation and verification"
I have a security requirement to encrypt the payload prior to sign in JWTCreator and decrypt after decode in JWTVerifier. Please let me know if this is a feature that can be considered beneficial to users.

[2018-08-10 00:28] #272 closed

[2018-08-10 08:27] victornoel opened #274 "Predicate based claim assertion"
In the JWT token I use, there is a claim that can contains multiple values (it's not an array, but it's not the problem here).

I'm facing a problem because I would like to be able to validate that one value is present, not that the scope completely equals a certain string.

It would thus be great if I could write:
[code]

So that `withClaim` could take a `Predicate<String>` (and also the other av

[2018-08-10 08:28] victornoel commented on #274
(ps: I can do a PR :)

[2018-08-10 14:29] lbalmaceda commented on #274
I'm not familiar with the `Predicate` class but I guess it's Java 8. Adding that would break existing JDK7 users. This is also not a common case. It might be for arrays but not for maps. I'll leave this suggestion open for the next major though👌

Today, you can do the extra check right after the token signature and typical claims are verified.

`Verify -> get claim as -> assert contains value`

[2018-08-12 13:34] victornoel commented on #274
@lbalmaceda it doesn't have to be the actual `Predicate` class: you can introduce your own for this purpose. The important thing is for it to have only one method, so that Java 8 users can use lambdas.

Until then, I will use the method you propose :)

[2018-08-14 08:58] philippederyck opened #276 "Typo in the readme ("nbf" > TODAY)"
The readme on the main page says _The token can already be used. "nbf" > TODAY_. If I'm not mistaken, this should be _ "nbf" < TODAY_

[2018-08-14 13:01] lbalmaceda commented on #276
Yes, this was address here https://github.com/auth0/java-jwt/pull/266. But checks weren't passing. I'm rebasing now 👍

[2018-08-14 13:01] #276 closed

[2018-08-21 20:34] KowalczykBartek opened #279 "Expose new new verify method signature."
Hi Auth0 team :)
recently I found that it would be quite useful to have following method signature,
[code]
I have use case for first, checking some stuff inside JWT token, then, in some cases I want to check signature - to not waste CPU cycles, it would be good to have verify method that accepts DecodedJWT instance.

Pull request with change is here : https://github.com/auth0/java-jwt/pull/280

Th

[2018-08-31 15:19] StephenOTT commented on #247
+1, just ability to access nested claims!

[2018-09-01 02:31] yihuishou opened #281 "Error: no String-argument constructor/factory method to deserialize from String value"
How can I config Jackson in this?

mapper.configure(Feature.ALLOW_UNQUOTED_CONTROL_CHARS, true) ;
mapper.configure(Feature.ALLOW_SINGLE_QUOTES, true) ;

[2018-09-03 15:14] lbalmaceda commented on #281
You can't. The JSON API is not open. But that's something that might change in the future when we evaluate support for nested object claims.

[2018-09-07 09:09] dunkboy opened #283 "JwkStore"
hello:
           what the JwkStore to do?I do not find the class JwkStore in the JWT jar

[2018-09-07 12:37] arneke commented on #214
I have the same issue as previous commenters. Java's approach to keys (and the bc examples) is pretty daunting and it is difficult to find the right answer by searching. The gist did not make it to the front page in my searches.

Why not link to the gist from README.md , somewhere near `RSAPublicKey publicKey = //Get the key instance`

[2018-09-07 13:48] lbalmaceda commented on #283
There's no such class called `JwkStore` on this SDK

[2018-09-08 05:41] dunkboy commented on #283
ok，I want to know  Algorithm algorithm = Algorithm.RSA256(keyProvider) and the keyProvider means that one PrivateKey  to many publicKey.They are dynamic changes?

[2018-09-10 13:33] lbalmaceda commented on #283
If I understand correctly, you want to implement the `KeyProvider` interface. In there you need to override all 3 methods:

- `getPublicKeyById(keyId)`: Provides a public key to **verify** using `JWT.require(algorithm)` an already signed token that has the given `kid` value on the header
- `getPrivateKey()`: Provides a private key used to **sign** a token you are creating with `JWT.create()`
- `ge

[2018-09-11 03:36] dunkboy commented on #283
I understand, thanks to you anyway.

[2018-09-11 03:36] #283 closed

[2018-09-12 09:44] cbxp commented on #142
We are experiencing production JVM crashes on Java 10 and 11 inside of Jackson's introspector.
We generate lots of JWT tokens, and generation of each one creates a new ObjectMapper that starts the introspection of Java classes and methods over and over again and eventually crashes the JVM:
https://bugs.openjdk.java.net/browse/JDK-8210044

Maybe it's at least a good idea to tune ObjectMapper parame

[2018-09-12 12:28] skjolber commented on #142
See also https://github.com/auth0/java-jwt/pull/255 for reusing the ObjectMapper

[2018-09-12 12:38] skjolber commented on #142
@cbxp @lbalmaceda so basically this would mean that token verification suffers from the same problem?

[2018-09-12 15:45] angryziber commented on #142
Probably, but we are not running verification at this rate on Java 10 yet :-)

[2018-09-12 19:06] skjolber commented on #142
Okey (I think perhaps we might be). So this bug, it just a matter of time before the JVM crashes or does it have to be a frequent operation to fail?

[2018-09-13 05:51] angryziber commented on #142
That's hard to tell - so far we could reproduce the crash only on production,  so testing possibilities are limited. But seems that initializing Jackson only once avoids the problem and makes JWT generation faster. Jackson runs lots of complex code during initialization, so I would turn off any searches that are not needed as well.

[2018-09-13 05:54] angryziber commented on #142
For some reason, there are quite a lot of JVM crashes reported in Java bug database related to Jackson if you Google for it

[2018-09-24 14:17] skjolber commented on #142
@angryziber @cbxp we raised a ticket and the engineering team was notified, a fix is a few weeks out.

[2018-09-26 05:26] Minisha opened #284 "To get RSAPublicKey from string"
How to get RSAPublicKey  from a public key string?

[2018-09-26 13:32] lbalmaceda commented on #284
Not part of this library for sure. But I made a gist a while ago sharing the methods we use for running the tests on this SDK. You might find it useful https://gist.github.com/lbalmaceda/9a0c7890c2965826c04119dcfb1a5469

[2018-09-26 13:32] #284 closed

[2018-09-26 17:39] DinoChiesa commented on #225
Any update on this?

[2018-09-26 17:43] DinoChiesa commented on #254
@lbalmaceda - any update on this idea?

[2018-09-26 18:03] lbalmaceda commented on #225
So users would be required to add this provider to the classpath and we would need to check its presence on runtime.. I can't imagine that looking good on the code 💃 but I'll think about it. This is not a priority though, so I'll keep it open until we decide to work on PSS.

[2018-09-26 18:06] lbalmaceda commented on #254
I will accept a PR with a method like the one you suggested that disables the check. But by default, it should still perform that check.

[2018-10-02 13:49] mathiasconradt opened #285 "Unclear reference to JwtStore class in readme docs"
In the readme docs on https://github.com/auth0/java-jwt a class `JwtStore` is used in the sample code, but it's unclear where (which package) this class is coming from. Some clarification on how to construct an instance of this class would be helpful, since it does not seem to be part of the java-jwt project.

`final JwkStore jwkStore = new JwkStore("{JWKS_FILE_HOST}");`

[2018-10-06 13:48] martinoconnor commented on #279
This is useful when using JWKS but not `KeyProvider`. Unfortunately `KeyProvider` provides no means for dealing with exceptions that may occur when retrieving the key.

[2018-10-06 14:01] martinoconnor commented on #283
What should happen if the `get()` method in the JWKS library throws an exception? The only option inside `getPublicKeyById()` is to return `null` which will result in an `IllegalStateException` being thrown. Perhaps there should be something like a `KeyProviderException` that the methods of `KeyProvider` could throw?

[2018-10-08 18:54] lbalmaceda commented on #283
@martinoconnor Indeed, there's lack of exception handling on the current interface definition.. I think we can change the signature adding a `RuntimeException` without breaking people by making it throw a `RuntimeException` subclass. `KeyProviderException` sounds good.

[2018-10-08 19:12] martinoconnor commented on #283
There is no need to make it a `RuntimeException` since existing implementations will not need to be modified to throw said exception. It could extend `JWTVerificationException` so that existing logic could handle it. This would seem like the most backwards compatible and elegant change you could make here.

[2018-10-14 15:35] rocketraman commented on #246
I'd like to have this too. My use case is that we have one issuer prefix e.g. `https://foo.com` with multiple valid paths, such as `https://foo.com/v1-issuer` and `https://foo.com/v2-issuer`. Therefore, I need to be able to pass in a list of valid issuers.

You could make this even more generic by supporting a method like `withIssuer(IssuerValidator)` where IssuerValidator is a SAM interface for e

[2018-10-14 15:45] rocketraman commented on #246
That being said, enabling this at the application level would be nice by supporting a generic validation method like this on `Verification`, where each call contributes an additional custom validation:

`withCustomValidation(CustomJwtValidator)` where `CustomJwtValidator` is:

[code]

[2018-10-15 02:39] rocketraman commented on #279
How about using this custom validator I just created? https://github.com/auth0/java-jwt/pull/290

[2018-10-15 02:40] rocketraman commented on #274
How about using this custom validator I just created? https://github.com/auth0/java-jwt/pull/290

[2018-10-15 02:40] rocketraman commented on #256
How about using this custom validator I just created? https://github.com/auth0/java-jwt/pull/290

[2018-10-15 02:41] rocketraman commented on #208
I created a custom validator that can be used effectively for this and other use cases: https://github.com/auth0/java-jwt/pull/290

[2018-10-15 07:18] KowalczykBartek commented on #279
From my perspective, it would be simpler to just call method that already is there :)

[2018-10-15 08:48] victornoel commented on #274
@rocketraman great!

That's exactly what I had in mind @lbalmaceda :)

[2018-10-15 12:53] rocketraman commented on #208
@AndreasHuber-CH Replying to your comment here:

Yes, the algorithm is the special case because passing it is right now seems to be the only way to obtain a `Verification`. Note that I believe it was done this way to avoid a security risk -- if you chose the algorithm based on the token itself, then you are opening yourself up to a "none" algorithm: see https://auth0.com/blog/critical-vulnerabilit

[2018-10-17 03:04] martinoconnor commented on #279
@rocketraman a new custom validation would not solve the case where we need to read the contents of the JWT before we can verify it. This issue makes sense because we would not have to parse the JWT a second time.

[2018-10-17 04:28] rocketraman commented on #246
FYI, the logic I describe above implemented in https://github.com/auth0/java-jwt/pull/290.

[2018-10-17 04:31] martinoconnor commented on #279
@rocketraman no, sometimes you have to decode the JWT before you can verify it. If it is signed with the RS246 algorithm and the public key is available via JWKS, it is necessary to decode the JWT to retrieve the key ID so the public key can be looked up in the providers' well-known location for publishing JWKS public keys.

[2018-10-17 04:48] rocketraman commented on #279
@martinoconnor  Yes, but that is what the `KeyProvider` is for. I just used this myself to validate tokens from Microsoft Azure AD. That is acceptable because its a limited purpose hook, not a general "give me everything and let me decide what to do".

[2018-10-17 06:55] KowalczykBartek commented on #279
guys - @martinoconnor , @rocketraman - are you sure that someone still maintains that project ? XD

[2018-10-17 08:04] jogee commented on #246
With the custom validator the issuer claim would still fail if multiple issuers aren't supported, these look like two separate concepts. Adding the possibility to add custom validations on application layer seems like a good idea though.

[2018-10-17 11:11] martinoconnor commented on #279
@rocketraman
1. This PR is not for allowing the JWT to be decoded without verification, that functionality has long existed. This PR allows a previously decoded JWT to subsequently be verified. You should probably actually look at the PR source
2. The `KeyProvider` does not currently handle exceptions very well, for example, if there are network issues while accessing the JWKS, there is not really

[2018-10-17 13:58] rocketraman commented on #279
Fair enough. Though note the statement in the docs: "Use it only if you trust the token or you already verified it." I'll leave it at that -- this is all mostly O/T anyway.

With appropriate caching this should happen quite rarely. Why not just throw a specialized `JWTVerificationException`? It's likely you'll need to treat this the same way as an invalid JWT anyway, and if not you can always catc

[2018-10-17 14:50] rocketraman commented on #246
I agree, the custom validation logic is not a replacement for this issue -- I do believe it is still a valid thing to desire the ability to validate against multiple issuers. I simply reference it as a workaround that is also useful in other situations.

[2018-10-21 17:25] anuragkapur opened #291 "Private key should not be required to verify JWT"
As per the following code sample in the documentation in the readme https://github.com/auth0/java-jwt/tree/b4c1eca4c68d68a343428c8bef4ce90774a4e29d#verify-a-token both private and public key is needed to verify a JWT's signature. This seems incorrect as when using **RSA256** algorithm, there should be no need for the private key to verify the JWT.

[code]

This alternate java library: https://gith

[2018-10-22 16:46] lbalmaceda commented on #291
We added a clarification for that right in the section above which explains the usage of the `Algorithm` class (used both for signing and verifying tokens). https://github.com/auth0/java-jwt/tree/b4c1eca4c68d68a343428c8bef4ce90774a4e29d#pick-the-algorithm

What is your suggestion?

[2018-10-22 17:25] #291 closed, assigned to nobody

[2018-10-30 09:34] complanboy2 commented on #254
Hi @lbalmaceda, @DinoChiesa and @nicosabena

A PR is added for this https://github.com/auth0/java-jwt/pull/297, please have a look.

[2018-11-01 01:16] agrajm opened #298 "Cannot use header claim "typ" if I want to sign the token"
When I try to use both `typ` header claim
[code]
and sign the token using
[code]
the sign implementation always overrides the header set using `headerClaims` due to the code [here](https://github.com/auth0/java-jwt/blob/master/lib/src/main/java/com/auth0/jwt/JWTCreator.java#L306) - its always hardcoded to `JWT`
Can we please look in the header claims before hardcoding this value or give an alterna

[2018-11-01 14:10] lbalmaceda commented on #298
It is hardcoded because that value was [recommended](https://tools.ietf.org/html/rfc7519#section-5.1) by the RFC that this SDK attempts to follow. While _recommended_ is not a _must_, the SDK today doesn't allow you to override it, as you mentioned. This SDK focuses on the JWT RFC linked above and **does not support JWS nor JWE**, so knowing in advance that I can ensure that the `typ` of the token

[2018-11-02 00:06] agrajm commented on #298
Hi @lbalmaceda thanks for replying.
The reason I'm trying to send something else in the `typ` header claim is because the third party API I need to call, requires it that way :(
Thanks for clarifying - I tried using https://github.com/jwtk/jjwt and it seems like it allows me to put any random stuff I want in the header claim

[2018-11-02 14:14] lbalmaceda commented on #298
Ok. I'll close this now.

[2018-11-02 14:14] #298 closed

[2018-11-06 14:11] marcelmu opened #300 "NoSuchMethodError for RSA Algorithm"
When trying to call Algorithm.RSA256(...) i'll get a NoSuchMethodError.
Even when just using a plain main method:

[code]
`Exception in thread "main" java.lang.NoSuchMethodError: com.auth0.jwt.algorithms.Algorithm.RSA256(Ljava/security/interfaces/RSAPublicKey;Ljava/security/interfaces/RSAPrivateKey;)Lcom/auth0/jwt/algorithms/Algorithm;`

When implementing a RSAKeyProvider returning the generated K

[2018-11-06 14:38] marcelmu commented on #300
Nevermind!
This was a strange gradle Issue on my side:

Gradle pulled Version 3.4.1 and 3.1.0 (from an older project of mine)... God knows why.
But therefore Eclipse was showing the Sources of 3.4.1 but when running the 3.1.0 code was used.

[2018-11-06 14:38] #300 closed

[2018-11-11 04:09] gfZeng opened #301 "The sign result difference with JWT size (https://jwt.io)"
[code]
 Got different result at [jwt site](https://jwt.io/#debugger-io?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0eXBlIjoiT3BlbkFQSSIsInN1YiI6ImNlZTg4YWIwYmM2OTQzNTc4NGI3ZGIwNTQ1ZTg1NjQ3Iiwibm9uY2UiOjE1Mjc2NjUyNjIxNjgzOTEwMDB9.08rzlh44ydNsM7AGsLzSQ66vVIqWOphtn9Me2XXi6wE)
![image](https://user-images.githubusercontent.com/4434624/48308970-6070b400-e5aa-11e8-8e76-8b475b288c54.png)

[2018-11-11 07:02] #301 closed

[2018-11-14 02:29] quaff opened #302 "Use java.util.Base64 instead of apache commons-codec"

[2018-11-16 09:58] skjolber commented on #142
@lbalmaceda any hope for resolving this in 2018? We're getting more and more JDK 11 applications.

[2018-11-16 18:57] #192 closed

[2018-11-20 06:40] codingman1990 opened #304 "Add some methods like withClaimObject(String,Object) or withClaimMap(String,Map) to resolve complex claims?"
There are Claim.as(Class) and Claim.asMap() method,Why aren't there some methods like withClainObject(String, Object) or withClaimMap(String, Map)? Waitting for your!thx!

[2018-11-27 12:07] vinitjain06 opened #305 "Getting json processing exception in generating jwt token"
I am getting below exception while execution

Exception in thread "main" java.lang.NoClassDefFoundError: com/fasterxml/jackson/core/JsonProcessingException
	at com.auth0.jwt.JWT.create(JWT.java:41)
	at com.mdex.controller.api.v2.Test.main(Test.java:17)
Caused by: java.lang.ClassNotFoundException: com.fasterxml.jackson.core.JsonProcessingException
	at java.net.URLClassLoader.findClass(URLClassLoade

[2018-11-27 14:39] Pakisan commented on #305
Looks like you forgot about dependencies.

`<dependency>
  <groupId>com.fasterxml.jackson.core</groupId>
  <artifactId>jackson-core</artifactId>
  <version>${jackson.version}</version>
</dependency>
<dependency>
  <groupId>com.fasterxml.jackson.core</groupId>
  <artifactId>jackson-databind</artifactId>
  <version>${jackson.version}</version>
</dependency>
<dependency>
  <groupId>com.fasterxml.jack

[2018-11-27 18:07] lbalmaceda commented on #305
@Pakisan is right though I'm not sure if we should add this dependency explicitly as part of the SDK. It is [being included as a dependency](https://github.com/FasterXML/jackson-databind/blob/master/pom.xml#L53-L57) of the `jackson-databind` package so this should not be necessary.

[2018-11-28 04:15] vinitjain06 commented on #305
Thanks.

I figured it out.

Thanks for your help.

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
Sender
notified by
Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
11/28/18,
9:44:57 AM

On Tue, Nov 27, 2018 at 11:37 PM Luciano Balmaceda <notifications@github.com>
wrote:

[2018-11-28 15:12] #305 closed

[2018-12-05 07:44] kibear opened #306 "can add a new verify method?"
Hi,
  I store some data like user id in token, before invoke verify, I need decode token and get the data, then use the data to find secret, but now only have one verify method whit string token, can add a method like verify(DecodedJWT jwt)，I decode the string token to a jwt object, then verify the jwt object???

[2018-12-05 14:22] lbalmaceda commented on #279
I agree with @rocketraman here.

@KowalczykBartek @martinoconnor wouldn't it be better if the `KeyProvider` is refactored, so that it now throws an unchecked exception that the `Algorithm` can handle and wrap into `SignatureVerificationException`? Note as @rocketraman mentions above, not being able to obtain the key (for whatever reason) would mean the signature won't be able to be verified so tha

[2018-12-06 05:57] kibear commented on #306
every token has a particular secret, I need decode the token get the 'data', then use the 'data' find secret. I donnot trust the token, I just get some cliam from token, when I get the secret, will make a Verifier object, then verify the token.

[2018-12-06 20:10] KowalczykBartek commented on #279
@lbalmaceda honestly I am out of discussion at the moment, it somehow changed direction :) I just wanted to have method that will do some specific stuff according to existing logic.

I expect that nothing change :)

[2018-12-07 02:03] kibear commented on #306
every token has a particular secret, I need decode the token get the 'data', then use the 'data' find secret. I donnot trust the token, I just get some claim from token, once I get the secret, I will make a Verifier object use the particular secret, then verify the token. Now, I need decode token string first, and then verify method decode it again, it look like a waste.

[2018-12-07 02:11] kibear commented on #279
It just verify a string token or a object token, just it. Not trust token, as you mind, verify the string token you have trusted the string token, so object token with string token has any difference.

[2018-12-07 13:31] lbalmaceda commented on #306
I see. What if an attacker takes your token's payload, replaces the "data" you're using in your "find my secret" step with something they already know it's mapped to a given "secret" value. Then they re-sign the token using that same secret. When is your time to verify the signature, they have already replaced the signature with the one they created for the secret both you and they now. Thus, afte

[2018-12-08 09:02] kibear commented on #306
thanks, but I'm a little confused, I parse the token, use claim data find a relevant 'secret', use the 'secret' generate Algorithm.HMAC256('secret') instance, then use the Algorithm instance generate JWTVerifier instance, and then use JWTVerifier verify token. The attacker impossible to get the 'secret', they just known verify success or fail, so they cannot re-sign token with the 'secret'.

[2018-12-08 09:02] kibear commented on #306
thanks, but I'm a little confused, I parse the token, use claim data find a relevant 'secret', use the 'secret' generate Algorithm.HMAC256('secret') instance, then use the Algorithm instance generate JWTVerifier instance, and then use JWTVerifier verify token. The attacker impossible to get the 'secret', they just known verify success or fail, so they cannot re-sign token with the 'secret'.

[2018-12-11 17:18] iandotkelly commented on #304
It would be very helpful to be able to marshal a Map into a JSON object as a claim.

The library won't allow us to extend this functionality in our application as the JWTCreator is final.  Would you accept a PR to add this functionality?

[2018-12-20 15:35] josecolella commented on #304
It seems this has been asked in #135, #164, #163, and there is currently a PR https://github.com/auth0/java-jwt/pull/289 open for this. Please let us know how we can contribute to get this in library.

[2018-12-27 16:46] lbalmaceda commented on #279
The problem with allowing people to just decode the token without a following verification is that they might start to use the token claims as trusted data immediately after they decode it. And that's an error: **No data should not be trusted at all until the token's signature is verified**. _You_ might know the risks and would try to decode it and if required, verify the signature yourself. But m

[2018-12-27 22:11] rcollette commented on #279
Was an architectural decision just made based on the presumption the user base being incompetent rather than an expressed use case?

[2018-12-28 07:34] kibear commented on #279
`
public DecodedJWT verify(String token) throws JWTVerificationException {

        DecodedJWT jwt = JWT.decode(token);
        verifyAlgorithm(jwt, algorithm);
        algorithm.verify(jwt);
        verifyClaims(jwt, claims);
        return jwt;
    }
`
just call this line DecodedJWT jwt = JWT.decode(token); by myself, why cannot? It's not influence the verify logic.
In java world, every thing is

[2018-12-28 21:05] martinoconnor commented on #279
@lbalmaceda looks like the OP got frustrated and decided to leave. Can we reopen this issue to keep the conversation going here?

[2019-01-09 10:40] lewandom opened #312 "Version 3.5.0 not visible in Maven Central repository"
The README states version 3.5.0 is available, but it cannot be found in Maven Central repository - http://repo.maven.apache.org/maven2/com/auth0/java-jwt/. Also latest version reported by https://search.maven.org/search?q=a:java-jwt is 3.4.1.

[2019-01-09 17:04] lbalmaceda commented on #312
@lewandom That's true, but also weird as it seems up to date from my dashboard. I'm refreshing it now, please retry in a few hours.

[code]

[2019-01-10 02:35] Mrava opened #313 "Base64 coding bugs"
Base64 encoding should not have a '-', but there should be a '-' after my signature.Example:
[code]

[2019-01-10 07:51] conorwong-github commented on #312
Hi~. It can be found in http://repo.spring.io/libs-release/

[2019-01-10 09:22] lewandom commented on #312
I can see it in Maven Central now too: https://repo.maven.apache.org/maven2/com/auth0/java-jwt/3.5.0/. Thanks @lbalmaceda.

[2019-01-10 09:22] #312 closed

[2019-01-12 18:03] #254 closed

[2019-01-14 14:33] #285 closed

[2019-01-14 14:33] #279 closed

[2019-01-14 14:36] lbalmaceda commented on #235
This is not JDK6 compatible and moving on, the next major's minimum will probably be JDK9. The file you're looking for is this one https://github.com/auth0/java-jwt/blob/master/CHANGELOG.md

[2019-01-14 14:36] #235 closed

[2019-01-14 14:38] lbalmaceda commented on #228
We decided not to go forward with this. Moving on the next major's minimum will probably be JDK9. If you are still looking for JDK6 support you can clone and maintain your fork.

[2019-01-14 14:38] #228 closed

[2019-01-18 18:56] tcchau opened #314 "acceptNotBefore() seems broken"
Context: In production, our EC2 instance, which runs our tomcat server, sometimes gets out of sync with AWS Cognito so that the JWT verification will fail.

We are now experimenting with the acceptNotBefore() call to provide some leeway in the verification of a token and its claims. We have found, however, that using acceptNotBefore() does not seem effective.

If we create a leeway of 5 minutes by

[2019-01-18 21:05] lbalmaceda commented on #314
The way you are using `acceptNotBefore()` is fine. Calling `acceptLeeway()` would add the leeway for the 3 date claims, same as calling the 3 methods independently.. Looking at the code, that exception message is thrown on 2 cases: https://github.com/auth0/java-jwt/blob/master/lib/src/main/java/com/auth0/jwt/JWTVerifier.java#L404-L409

If you say that by adding the `acceptLeeway` this is fixed, yo

[2019-01-21 13:22] KowalczykBartek commented on #302
Hi,
any plans to do that?

[2019-01-21 14:23] KowalczykBartek commented on #302
Thank you :)

[2019-01-21 15:36] tcchau commented on #314
Thank you, @lbalmaceda ! Your troubleshooting tip helped us resolve this. Indeed, it was throwing the exception due to the second case, where the Issued At date is before the system date. I am closing this issue.

[2019-01-21 15:36] #314 closed

[2019-01-21 15:37] gabe-terrell opened #315 "Update `org.bouncycastle:bcprov-jdk15on` Version"
According to [MITRE's CVE database](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-1000613):

The [`build.gradle`](https://github.com/auth0/java-jwt/blob/8acfff27ccd8d41b64ac19668ca18c63ae020c42/lib/build.gradle#L39) currently shows:

Can this be updated to version `1.60`?

When we use`java-jwt` as a dependency, our security scanners are failing our code for this transitive dependency. I

[2019-01-21 15:56] lbalmaceda commented on #315
@gabe-terrell I'm sure it won't hurt bumping test dependencies. However, the tool you're using should be smart enough to distinguish real dependencies from test only dependencies. We do use https://snyk.io for our security scans and this issue is not being reported.
For this time feel free to push a PR with the bump/s and I'll make a release before eow.

[2019-01-21 16:06] gabe-terrell commented on #315
Yeah, I agree the tool should be smarter. Thanks for pointing me towards the one you're using.

https://github.com/auth0/java-jwt/pull/316

[2019-01-22 08:22] iykeprince opened #317 "Exception thrown in netbean"
java.lang.NoClassDefFoundError: com/fasterxml/jackson/databind/JsonDeserializer

[2019-01-22 13:54] lbalmaceda commented on #317
That class is part of the jackson-databind dependency, your IDE might be not resolving them correctly or your maven cache is invalid. Try running `./gradlew clean test` in the terminal.

[2019-01-28 06:22] azman6r6m1 commented on #267
+1

[2019-01-29 17:08] #317 closed

[2019-01-29 17:26] #315 closed

[2019-01-30 18:21] pavankumarjs commented on #247
@lbalmaceda checking whether we can plugin the JSON encoding/decoding?

[2019-01-30 18:22] lbalmaceda commented on #247
@pavankumarjs not yet. This is an item on our backlog 👍

[2019-02-01 09:20] skjolber commented on #142
#255 has been merged, so that takes care of the JWT validation aspect.

[2019-02-12 09:10] va26 commented on #131
I am facing the same problem while trying to use the Google Speech-to-Text API given [here](https://github.com/GoogleCloudPlatform/android-docs-samples/tree/master/speech/SpeechRecognitionClient). This is what I get in the logs:

`
    --------- beginning of crash
02-12 12:35:22.504 29178 29178 E AndroidRuntime: FATAL EXCEPTION: main
02-12 12:35:22.504 29178 29178 E AndroidRuntime: Process: com.go

[2019-02-12 14:01] lbalmaceda commented on #131
@va26 As you see in your logs this is not related at all with a class from this SDK. You will have to report it in google's issue tracker instead.

[2019-02-28 15:04] bruno-vwdilab opened #324 "Deprecated method RSA256"
Hey,

I have this code snippet:
[code]
The IDE warns me I'm using a deprecated method when building the RSA256 with my public key.

![image](https://user-images.githubusercontent.com/43544102/53575274-1d424d00-3b69-11e9-8b77-0efbdf8cf898.png)

I don't have access or the need to have a private key because I just want to do the verification of the token but the private key seems to be required.

The

[2019-03-05 18:19] mayonesa commented on #304
This is a necessity for me as the standards that I code for require claims with "context".

[2019-03-07 22:53] lbalmaceda commented on #324
@bruno-vwdilab The latest non-deprecated method is there for when you have the need to use both keys. But you can pass `null` to **one** of the parameters if you don't need to use them, as explained in the readme.

You can disregard the warning.

[2019-04-25 16:40] rajadilipkolli opened #329 "How to enable Proxy?"
We are deploying our code in openshift container and we are unable to communicate with auth0 provider as we need to connect to external world using proxy?

How to use proxy using java-jwt jar?

[2019-04-25 16:55] lbalmaceda commented on #329
@rajadilipkolli what do you need the proxy for? This SDK doesn't make use of networking access.

[2019-04-25 17:30] rajadilipkolli commented on #329
@lbalmaceda : We need proxy to connect to auth server and my bad the code is in jwks-rsa.jar. I should have asked question there.

[2019-04-26 19:20] lbalmaceda commented on #329
👍 I'll proceed to close this one.

[2019-04-26 19:20] #329 closed

[2019-05-07 07:34] stamanker opened #332 "RSA256, Invalid signature"
RS256 generating JWT that is reported by jwt.io as having invalid signanture.

- Versions: 3.3.0, 3.8.0
- Java 1.8.201

Below is the code that generating JWT and checks it. Everythying seems to be ok.
But then, jwt.io reports that this token has invalid signature.

[code]

Plz help to find out what's wrong here? I also tried to add to header:
[code]
but that didn't changed 'correctness' of signatu

[2019-05-07 14:04] lbalmaceda commented on #332
You need to change the token signature on the dropdown of the site and then paste the public key certificate into this edittext. Are you doing that? Because the code you showed above is generating a new key pair every time you run it, and I don't see you printing or saving it somewhere.

![image](https://user-images.githubusercontent.com/3900123/57305641-c781a800-70b7-11e9-8e23-1c67676df889.png)

[2019-05-07 17:53] stamanker commented on #332
Thanks, my bad )

[2019-05-07 17:53] #332 closed

[2019-05-14 07:02] askorohod opened #333 "JWT verify fails on InvalidClaimException for valid before date"
In order to efficiently and accurately address your issue or feature request, please read through the template below and answer all relevant questions. Your additional work here is greatly appreciated and will help us respond as quickly as possible. Please delete any sections or questions below that do not pertain to this request.

For general support or usage questions, please use the [Auth0 Comm

[2019-05-14 21:52] lbalmaceda commented on #333
The date claims are expressed in seconds rather than milliseconds, is normal that 1 second can cause this. Have you tried setting a leeway?

[2019-05-18 17:18] sappenin opened #334 "Why are the `iss` and `aud` claims non-optional for HS-256?"
### Question Description
When verifying tokens signed using `HS_256`, this library requires the presence of both `iss` _and_ `aud` claims.

Is there any particular reason why it is not possible to omit these claims in a JWT and have the library verify a token?

For example, if the [`aud` claim is null](https://github.com/auth0/java-jwt/blob/master/lib/src/main/java/com/auth0/jwt/JWTVerifier.java#L

[2019-05-18 17:50] sappenin commented on #334
My apologies, I think this behavior is actually something being enforced by `JwtAuthenticationProvider`, which is in a different project. Let me re-open this issue over there perhaps.

[2019-05-18 18:53] sappenin commented on #334
Closing this in-favor of https://github.com/auth0/auth0-spring-security-api/issues/25

[2019-05-18 18:53] #334 closed

[2019-05-21 03:18] Quiark commented on #267
correction: with a higher level of security

but ppl should use paseto instead of jwt, it's better designed for security: https://github.com/paragonie/paseto/tree/master/docs/01-Protocol-Versions

[2019-05-21 06:22] yehancha opened #335 "Cannot use with uk.co.panaxiom:play-jongo:2.1.0-jongo1.3"
I'm trying to use ```"com.auth0" % "java-jwt" % "3.8.0"``` in a Play Framework application. It is working perfectly but when I add this, ```"uk.co.panaxiom" %% "play-jongo" % "2.1.0-jongo1.3"``` crashes.

I have added the packages in application.conf as:
[code]
And after that when I try to insert a mongo object, it gives me:
[code]
How can I add ```"com.auth0" % "java-jwt" % "3.8.0"``` without bre

[2019-05-21 12:30] nielvalr opened #336 "Upgrade Jackson dependency to latest due to CVE-2019-12086"
### Description

`com.fasterxml.jackson.core:jackson-databind:2.9.8`

This was picked up by SourceClear and Snyk as a downstream dependendency vulnerability. I'm not sure where jackson is used in your code, but it appears to be a "high" vulnerability.

https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-12086
https://snyk.io/vuln/SNYK-JAVA-COMFASTERXMLJACKSONCORE-174736

Solution: Upgrade to `

[2019-05-22 18:44] lbalmaceda commented on #335
Sounds like this library and the one you're using require different versions of the `jackson` dependency.

[code]

You'll need to search the way to pin that transitive dependency (jackson) to the right version, as it seems your dependencies manager is resolving the same version for the 2 dependencies and failing when one requires a method not existing in the jacons version that was resolved.

In g

[2019-05-22 21:29] #336 closed

[2019-05-23 02:18] yehancha commented on #335
Thank you very much, @lbalmaceda . Going through your suggestion, I excluded `jackson` coming with `auth0` which fixed the issue.

`"com.auth0" % "java-jwt" % "3.8.0" exclude("com.fasterxml.jackson.core", "jackson-databind")`

[2019-05-23 02:18] #335 closed

[2019-05-23 15:02] lbalmaceda commented on #335
Glad it helped 💯

[2019-06-02 00:56] niechen2012 opened #339 "how could storage user info in redis ?"
I see the code like this
[code]

when this used in distribute system , how can I do , I want to storage in redis 。how can I extension this

[2019-06-03 14:46] lbalmaceda commented on #339
@niechen2012 I don't understand your question. Can you rephrase? What is it that you want to store?

[2019-06-06 06:39] #339 closed

[2019-06-08 17:47] debjitk opened #340 "Does the library support JWE ?"
Does the library support JWE ?

[2019-06-17 09:49] carl-unityworks commented on #214
This is something I was looking for. One question, using a PEM file is this the same file you can download under your application's Advanced Settings/Certificate?

[2019-06-19 09:42] coperator commented on #246
This issue is solved with https://github.com/auth0/java-jwt/commit/6ffa7032d26ebd69a16b9ed62bd8eef628aee133, is it not?

[2019-06-19 09:44] jogee commented on #246
Yes, it can be closed.

[2019-06-20 13:16] harunates opened #341 "Invalidate jwt token manually"
Hi all,

is there any way to update expire time of jwt token?

Best Regards

[2019-06-25 12:54] qianlong commented on #340
apparently no...

[2019-06-25 12:58] qianlong opened #342 "JWT Compression"
Is it possible to support JWT compression for reducing size?
This might be useful if we have to transfer token in http GET method.

[2019-06-26 14:35] loveu8 opened #343 "Jwt's sign method , it need an option to remove tye JWT."
Hi There, I am tring to use this lib to gen Sign in with Apple client_secret. But I find something different.
In this lib, Jwt's method sign always set tye 'JWT' , but in Apple's client_secret don't need it to exchange data. Would you consider this typ parameter can be removed? Thanks a lot.

---

[code]

---

Apple doc
https://developer.apple.com/documentation/signinwithapplerestapi/generate_and_

[2019-07-01 01:39] Jumwah opened #344 "JWTVerifier with varargs is ambiguous"
### Description

The methods `public Verification withIssuer(String... issuer)` and `public Verification withAudience(String... audience)` in `JWTVerifier` are designed to either remove a claim OR not set the claim if the passed argument is null.

However, considering the parameters are varags it is very ambiguous when calling this, and at runtime, the actual result is often a list containing a nu

[2019-07-15 23:12] danbrodsky opened #346 "dependency jackson-databind security issue"
### Description
The jackson-databind dependency was updated to 2.9.9.1 to apply a patch for CVE-2019-12814. This project's dependency should also be updated to prevent this vulnerability.

### References
 https://github.com/FasterXML/jackson-databind/issues/2341

[2019-07-18 11:08] navindesai commented on #304
I would really like this as well. Using it in code works, but cant add a test as we cant add a map as claim.  Not sure why this is not added.

[2019-07-18 18:46] josecolella commented on #304
I ended up switching to jjwt (https://github.com/jwtk/jjwt), which supports using Map as claims, and it has a similar API. Made the switch very simple

[2019-07-22 10:08] navindesai commented on #304
Thanks Jose for the information. I will have a look at this. Cheers.

On Thu, Jul 18, 2019 at 7:47 PM Jose Miguel Colella <
notifications@github.com> wrote:

[2019-07-22 13:42] defnull opened #348 "ECDSAAlgorithm.DERToJOSE fails since 064a01"
### Description

Signing a token with ES256 throws an `Invalid DER signature format` exception in `ECDSAAlgorithm.DERToJOSE` with keys that worked prior to 064a01eb.

### Environment

- Version of this library used: 3.8.1
- Version of Java framework used: 11

### Reproduction

Generate keys:
[code]

Run the following code:
[code]

The very last line (`ES256.sign()`) will throw:
[code]

Any ideas?

[2019-07-22 14:10] defnull commented on #348
Bug found (on my side). Switching from `secp521r1` to `secp256r1` produced keys that no longer triggered this exception. I used the wrong curve. The error message is still misleading or at least not very helpful and there might be room for improvement (error message or docs), so I'll keep this issue open.

[2019-08-05 18:59] lbalmaceda commented on #214
@carl-unityworks that is the public key certificate associated to the application/client tokens, correct. But it's also available publicly on the well-known endpoint. I suggest you use that one for pulling keys and verifying tokens. See https://auth0.com/docs/api-auth/tutorials/verify-access-token#how-can-i-verify-the-signature-

[2019-08-05 19:02] lbalmaceda commented on #341
You mean, take an existing String JWT and change its expiration? You can't change anything on the token without deeming its original signature invalid, as it's calculated from the header and payload. But I suppose you could take all the claims (header + payload), create a new one, and re-sign it. Provided you have the secret or private key and you are using a confidential client/app.

[2019-08-05 19:12] lbalmaceda commented on #343
@loveu8 the header claim `typ` is "JWT" because of the spec. https://tools.ietf.org/html/rfc7519#section-5.1. I just checked the implementation and despite what you pass on the header claims, `alg` and `typ` are always overwritten. I will research and may consider allowing the `typ` one to be customized. However again, this is part of the spec and I don't think there will be much room to customiza

[2019-08-05 19:12] #324 closed

[2019-08-05 19:13] lbalmaceda commented on #342
@qianlong token compression is not in our mid-term plans.

[2019-08-05 19:13] #342 closed

[2019-08-09 02:51] danbrodsky commented on #346
A newer version of jackson-databind (2.9.9.3) is now available, which blocks 2 additional CVEs (CVE-2019-14379 and CVE-2019-14439).

[2019-08-16 08:50] wilgert commented on #346
Can a new version please be released that includes this fix?

[2019-09-10 16:03] smojum opened #354 "Provide a convenience method to verify a token without throwing Exception"
### Description
Currently, we use the following code to decrypt, but as we are supporting multiple data, if we cannot decrypt, we send the original value back.

[code]
This works fine, but we are seeing JWTDecodeException in Dynatrace, as Dynatrace instrumentation captures this exception and reports, which is creating noise.

The ask if a convenience method (isValid) can be provided which will che

[2019-09-20 18:38] danbrodsky opened #355 "Bump version jackson-databind to patch CVE"
## Description

https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-14540

jackson-databind dependency needs to be bumped to at least 2.9.10 in order to patch CVE-2019-14540

[2019-09-25 20:02] #355 closed

[2019-10-02 09:49] jarst commented on #346
@danbrodsky I believe this issue can be now closed.

[2019-10-02 19:43] danbrodsky commented on #346
You're right, thanks ^^

[2019-10-02 19:43] #346 closed

[2019-10-03 17:41] #246 closed

[2019-10-11 09:20] medmoufahim commented on #250
@mrvonwyl : What solution did you choose for using the java 8 time API for setting dates in JWT claims ?

poke @lbalmaceda @Clockwork-Muse thanks

[2019-10-14 10:38] mrvonwyl commented on #250
@medmoufahim I am not working on that project anymore, so I am not sure if this answer is still valid.
I was feeding the JWT API with java.util.Date objects, since there was no other solution. However I converted them from and to LocalDateTime. This works for me, since the app only runs in one timezone.

[2019-10-15 18:45] LeafHacker opened #359 "Move JWTVerifier javadoc to Verification"
### Description

When using Intellij's view javadoc feature on a `Verification` method such as `withIssuer`, no javadoc is found.

![image](https://user-images.githubusercontent.com/23565638/66859278-e51a3e00-ef82-11e9-9fc1-319ca5edb3f4.png)

### Proposed solution

Move or copy the relevant javadocs from the `JWTVerifier` class to the interface. Possibly add small javadocs on the class [linking or

[2019-10-15 18:54] LeafHacker opened #360 "Add a method to verify if a claim is present, regardless of its value"
### Describe the problem you'd like to have solved

I'd like to be able to verify that certain claims are present on a JWT, but I don't want have to limit its value.

### Describe the ideal solution

A `Verification` method along the lines of `withClaim(String name)` which simply ensures the claim is present. Additionally `withClaim(String name, Type type)` which validates the claim is present and

[2019-10-26 09:08] nightowlengineer commented on #302
Pinging to avoid closure

[2019-10-26 10:14] ecki commented on #225
Received the Staleness reminder, in the meantime RSAPSS landed in JCE 11, maybe this makes the implementation more feasible (nimbus seems to implement it)

[2019-10-27 22:49] Jumwah commented on #344
@lbalmaceda

[2019-10-28 16:41] lbalmaceda commented on #354
@smojum I don't agree this is needed, as it's just a convenience method for your particular use case.
You can add that as a helper/utility method in your application if you plan to ignore the exception, which has valuable information BTW.

In the case of the snippet you showed above, the reasons it could fail are:
- Invalid algorithm name
- Invalid signature
- Token `exp` indicates token has expir

[2019-10-28 18:06] lbalmaceda commented on #344
This issue should have been created on the `auth0-spring-security-api` SDK, not on this repo. Like the name of the library says, it's supposed to be used on a server side app that acts as an API. An audience will always be expected for you to set. Maybe the issue is that that library is not checking the presence of that required value. What is your use case that you have "no audience"?

Regarding

[2019-10-28 22:01] lbalmaceda commented on #225
This is not in our backlog so I'm tagging it as a feature request in case anyone wants to help provide a PR.

I suggest the implementation considers the scenario where a security provider is not passed and defaults to the Java one. Eventually, any security provider must be optional in the sense that the user must explicitly require the external dependency if they want to use that specific provider

[2019-10-29 14:39] lbalmaceda commented on #208
Was added here https://github.com/auth0/java-jwt/issues/279

[2019-10-29 14:39] #208 closed

[2019-10-29 14:54] #341 closed

[2019-10-30 11:08] mistriel commented on #359
Definitely an issue.
Not related to any specific IDE .

[2019-11-02 04:07] #184 closed

[2019-11-02 04:07] #210 closed

[2019-11-02 04:07] #213 closed

[2019-11-02 04:07] #249 closed

[2019-11-02 04:07] #257 closed

[2019-11-02 04:07] #256 closed

[2019-11-02 04:08] #274 closed

[2019-11-02 04:08] #313 closed

[2019-11-02 04:08] #142 closed

[2019-11-02 04:08] #333 closed

[2019-11-02 04:08] #267 closed

[2019-11-02 04:08] #340 closed

[2019-11-02 04:08] #304 closed

[2019-11-02 04:08] #348 closed

[2019-11-05 15:02] Legion2 opened #363 "Load private key from JWK format"
### Describe the problem you'd like to have solved

I want to load a private rsa key in JWK format. But the class `com.auth0.jwk.Jwk` only supports public keys.

### Describe the ideal solution

Make it possible to represent a private key as a JWK in Java and make it possible to load it with a KeyProvider.

## Alternatives and current work-arounds

There should be a utility to load a RSA Private J

[2019-11-05 15:13] Legion2 commented on #363
Found auth0/jwks-rsa-java#53, closing this because the auth0/jwks-rsa-java repository contains the relevant classes.

[2019-11-05 15:13] #363 closed

[2019-11-10 20:25] #343 closed

[2019-11-13 04:46] Luan-Ngoc opened #364 "Help to solve this error "javax.servlet.ServletException: com.sun.faces.renderkit.RenderKitUtils.setScriptAsRendered(Ljavax/faces/context/FacesContext;)V""
I am migrating web application that run weblogic 12.2 to Glassfish 5.0.
When run this web application on Glassfish server, The program can get data from database and login successfully. But got exception when processing doFilter() of ServletRequest.
The following detail exception:
"javax.servlet.ServletException: com.sun.faces.renderkit.RenderKitUtils.setScriptAsRendered(Ljavax/faces/context/Faces

[2019-11-15 10:07] huangshayang opened #365 "There is a wild bug/problem"
This is my create and verify jwt class.
[code]
This is a test class
[code]
i`m sure the jwt-str that unexpired

[2019-11-15 12:53] #365 closed

[2019-11-25 12:57] skjolber opened #366 "Make DecodedJWT serializable"
### Description

I was about to pass the DecodedJWT to a subclass of the Serializable Spring [Authentication](https://github.com/spring-projects/spring-security/blob/master/core/src/main/java/org/springframework/security/core/Authentication.java) (via [AbstractAuthenticationToken](https://github.com/spring-projects/spring-security/blob/master/core/src/main/java/org/springframework/security/authent

[2019-12-09 09:14] MartinHaeusler opened #367 "java.lang.VerifyError with JWT and Jackson"
### Description

I've got a gradle build including Jackson and JWT. Jackson is also used transitively by several of my other dependencies. The build itself succeeds, however I see the following error at runtime:

[code]
This happens with **java-jwt version 3.8.3.** I assume that it is some unfortunate constellation with different Jackson versions being in use; 3.8.3 uses a Jackson pre-release to f

[2019-12-10 13:06] MartinHaeusler commented on #367
I fixed the issue myself, it was not related to JWT after all. For anybody finding this: one of my jars had jackson classes built-in (it was a fat jar). I didn't know that, and it made no difference as it was the same jackson version as in the rest of my project. However, when I updated jackson in one place, the classes were different from the ones in the fat jar, and things escalated from there.

[2019-12-10 13:06] #367 closed

[2019-12-12 20:20] danielfaust commented on #302
I have an Android app here. When calling `JWT.decode(tokenResult.getToken()).getSignature()` on Android 10, it works fine. But on Android Pie 9.0 I get

[code]

`tokenResult.getToken()` is from the Firebase SDK and returns a string.

[2019-12-20 22:43] djangofan opened #368 "Allow decodedJwt.getPayload().getTree() as HashMap"
When trying to follow the instructions in your documentation on decoding a JWT, I am noticing the lack of exposed methods to get the decoded payload as a Map.

Example:  I would like to do:
[code]
NOTE: where getPayload() perhaps would return a object, not a String

It's not clear to me why your APi is not making `getTree()` method public/available.  Maybe there is a reason for it or another way t

[2019-12-23 14:35] pzanco opened #369 "Claim Header - typ - Hardcoded with value JWT"
The Header Claim (type) should not be hardcoded with the value "JWT".  We would like to use this library to stir/shaken authentication.

https://tools.ietf.org/html/rfc8225#page-6
https://tools.ietf.org/html/rfc7515#section-4.1.9

Suggestion:

Class (JWTCreator) - Method (sign) : Verify the header claims contains the key (value = typ), if it does not exist, create one entry with value "JWT".

[2019-12-26 16:26] jimmyjames commented on #366
Hi @skjolber, I think this is a reasonable request and use case; we will look into adding serialization support to DecodedJWT.

[2019-12-26 18:09] lbalmaceda commented on #302
@danielbaker this library is not meant for android. However, the one limiting issue I recall is this one. Android support for JDK8 is not available until later versions of it. So in order to provide proper coverage for older android versions, the `android.util.Base64` class should be used instead. Of course, that one cannot be referenced from this library.

So far we've been recommending [this oth

[2019-12-26 20:59] lbalmaceda commented on #369
This library implements the [RFC 7519](https://tools.ietf.org/html/rfc7519) as stated on top of the readme. The `typ` of the tokens signed with this library is always going to be `"JWT"`.

[2019-12-26 21:40] jimmyjames commented on #366
@skjolber Serialization added in PR #370. I verified it is able to serialize it as a field in a Spring `Authentication` subclass, but if you'd like to try and verify as well please feel free to. We'll target getting this merged next week unless you have feedback sooner. Thanks!

[2019-12-27 00:18] pzanco commented on #369
The library is compliant with the RFC 7519 and I enjoyed it a lot. If we have an opportunity to supply the typ value, we could use the lib to support the RFC 8225 as well.

[2019-12-28 09:25] shebinhere opened #371 "Unable to construct Public key"
I am unable to construct the Public key from .pem file. I need public key to verify the JWT token.
Here is how i am trying.

![image](https://user-images.githubusercontent.com/11679707/71541618-d63c0880-2981-11ea-8e1d-9144747e011e.png)

Downloaded the .pem file from link - https://{instance}.auth0.com/dbconnections/pem

And the error i am getting,
[code]

[2019-12-28 16:09] skjolber commented on #366
@jimmyjames thanks, the PR looks good to me.

[2019-12-30 21:03] lbalmaceda commented on #371
Creating new or reading existing keys is not part of this library's responsibilities. I saw Ashish replied to you on the community suggesting the use of `jwks-rsa-java` for fetching the public keys. Have you tried that?

https://community.auth0.com/t/verify-jwt-token-received-from-auth0/35581/4.

[2019-12-30 21:03] #371 closed

[2019-12-30 21:09] lbalmaceda commented on #369
Ah! sorry, I misunderstood the initial query. I don't see any short/mid-term plans to support RFC 8225. However, moving up to the constructor the `typ="JWT"` header claim value assignment can be done. In the end, is up to the dev if they want to override it. The 7519 RFC "recommends" the use of "JWT" which we will continue to provide by default.

[2019-12-30 21:14] lbalmaceda commented on #368
@djangofan There are [plenty of issues already closed](https://github.com/auth0/java-jwt/issues?q=is%3Aissue+json+object+map+is%3Aclosed) for this feature request.

**TL;DR:** Not currently supported, we look into adding something with interfaces (extendable by the end-user) but we don't have the bandwidth to do it today.

However, if you happen to know the claim name, you can obtain that one as M

[2019-12-30 21:14] #368 closed

[2019-12-30 21:18] lbalmaceda commented on #364
That exception is not pointing to any of this library's classes, I don't know how to help you. Sorry.

[2019-12-30 21:18] #364 closed

[2020-01-03 09:06] #366 closed

[2020-01-03 19:28] gkrizhevsky opened #373 "Add support for custom Map claim"
**Please do not report security vulnerabilities here**. The [Responsible Disclosure Program](https://auth0.com/whitehat) details the procedure for disclosing security issues.

**Thank you in advance for helping us to improve this library!** Your attention to detail here is greatly appreciated and will help us respond as quickly as possible. For general support or usage questions, use the [Auth0 Co

[2020-01-03 20:27] jimmyjames commented on #366
Fixed by #370, available in version 3.9.0.

[2020-01-04 22:43] RockyMM commented on #250
`java.util.Date` and `java.time.Instant` are more or less interchangeable, yet `java.time.Instant` has a lot of benefits compared to the old `Date`.

As most of the Java landscape is on Java 8 for a long time now, I think it's an excellent idea to include `Instant` instead of `Date`. From a performance standpoint, `Instant` should be very close to `Date` so there is little to no risk there.

[2020-01-06 13:46] knyttl opened #374 "Improving the example for loading the public/private keys"
### Description

I am trying to follow the example in README.md:

[code]

However getting the key instances is not that simple. After a lot of digging I managed to load at least the private key as follows:

1. I followed https://stackoverflow.com/questions/44474516/how-to-create-public-and-private-key-with-openssl to generate public and private key.
2. I converted private key to the DER form `open

[2020-01-06 21:44] skjolber opened #375 "Disable stalebot"
### Description

One would think the best solution to your extremely long processing time for issues and pull-request is to divert some man-hours to reviewing pull-requests, instead of nuking by stalebot? So wrong.

### Reproduction
Add a PR, wait patiently for more than a year, see PR closed by bot ('you were too slow to react').

[2020-01-09 01:11] jimmyjames commented on #375
Thanks for raising this. It's very valid feedback, and I agree that PRs or issues being closed due only to a maintainer's inability to respond in a timely manner is not the best way to work.

I'm taking an action item to discuss with the team the best path forward, stay tuned.

[2020-01-13 17:22] SElab2019 opened #376 "Updating from 3.2.0 to 3.6.0 breaks"
When I try to upgrade java-jwt from 3.2.0 to the version after 3.3.0. The following code breaks.
[code]
The code should pass, but it throws an error:
[code]

[2020-01-17 17:18] lbalmaceda commented on #354
@smojum is this still an issue for you?

[2020-01-22 15:15] smojum commented on #354
It is still an issue as the JWTException shows up in Dynatrace. I had a PR written for this, but i guess it did not align with the design viewpoint of the project.

[2020-01-22 16:53] lbalmaceda commented on #354
@smojum Right. This sounds like a limitation from the Dynatrace service itself of capturing exceptions that you are already try-catch-ing. I found a reply on their community page saying you could exclude these exceptions from the logs. Check the last comment on the page.

https://answers.dynatrace.com/questions/141816/exceptions-within-a-try-catch.html

[2020-01-23 19:24] jimmyjames commented on #344
Closing this issue here; any updates will be discussed in https://github.com/auth0/auth0-spring-security-api/issues/39

[2020-01-23 19:24] #344 closed

[2020-01-23 21:05] #359 closed

[2020-01-23 21:38] djensen47 commented on #107
First just wanted to say that this is a great library. Thanks for all the hard work on it.

Just wanted to propose that this issue be reconsidered. Since we're not always in an IDE or an IDE that supports Javadoc, having a link to the javadoc (https://www.javadoc.io/doc/com.auth0/java-jwt/) on the README is super useful.

[2020-01-23 21:57] jimmyjames commented on #376
It looks like this was introduced in #242, which was released in version 3.4.0.

You are correct that this would be a breaking change, so should have been targeted at a future major version or at the very least called out the breaking change in the `CHANGELOG.md` file.

Unfortunately, at this point we cannot undo the change without breaking others who are not handling the `UnsupportedEncodingExcep

[2020-01-23 22:28] #376 closed

[2020-01-24 14:54] lbalmaceda commented on #107
@djensen47 Thanks for reaching out! Adding the link to the readme is something we can totally do. Let me re-open this.

[2020-01-24 19:22] jimmyjames commented on #374
This is related to #214. In that issue you'll find a link to a gist demonstrating how you could obtain the keys. I think updating the README to refer to that gist would help.

[2020-01-24 20:10] #374 closed

[2020-01-28 10:46] glorat commented on #250
Workaround should be to use use `java.util.Date.from(instant)` to pass in instants. Using LocalDateTime or LocalDate can get you into timezone trouble as has already been pointed out

[2020-01-28 11:20] glorat opened #380 "UrlJwkProvider.get is hitting the internet on every call"
### Description

UrlJwkProvider.get is hitting the internet on every call. I'd expect to hit at most once on construction to obtain the public keys once

### Reproduction

The original problem I was trying to solve was handling the case where auth0 was holding multiple public keys and they need to be matched to the JWT being verified. The obvious code to write would be like this

[code]
where we o

[2020-01-28 11:21] glorat commented on #380
For reference, the dodgy code in question is in UrlJwkProvider
[code]

[2020-01-28 11:23] glorat commented on #380
Apologies, I just realised I've posted this to the wrong project... I'll move it

[2020-01-28 11:23] #380 closed

[2020-01-29 16:29] lbalmaceda commented on #225
This has been open for a long time now. We've evaluated it with the team and decided to not move forward with this request, as it's not something we plan to support in the short/mid-term.

[2020-01-29 16:29] #225 closed

[2020-02-03 16:48] #369 closed

[2020-02-05 19:34] #107 closed

[2020-02-06 09:50] wzyzb opened #383 "android studio build got error : duplicate entry: module-info.class"
how to fix it

[2020-02-11 17:36] Raph22 opened #384 "NullPointerException when the claim doesn't exist in the token"
### Description
I am not sure this behaviour is the one expected. When I try to verify a token with a claim that is not present in the token I got a NullPointerException.

### Reproduction
I got it in my own code and here's a scratch to reproduce it:

[code]

### StackTrace
[code]
### Environment
- **Version of this library used: 3.4.0**

Personally I would expect to get a JWTVerificationException

[2020-02-11 18:42] Raph22 commented on #384
Sorry I m just realizing that there is more recent version now. I ll test tomorrow if you have changed this behaviour in the latest version and will close it if yes otherwise no.

[2020-02-11 19:03] lbalmaceda commented on #383
This library is not ready for android, but we have a slightly different [alternative](https://github.com/auth0/java-jwt#java-jwt)

[2020-02-11 19:03] #383 closed

[2020-02-12 08:46] kfud commented on #373
Hello, I just ran into the exact problem... +1 one from me.

[2020-02-12 21:20] lbalmaceda commented on #384
Correct, it should throw an `InvalidClaimException` at least. I'll look into it. Thanks for reaching out!

[2020-02-13 18:09] lbalmaceda opened #390 "Deprecate the withArrayClaim methods"
Once https://github.com/auth0/java-jwt/pull/282 gets merged, there will be a new method to add claims of type List. This would be analogous to the Arrays.

We are now free to deprecate the `withArrayClaim` methods of the `JWTCreator` class.

[2020-02-14 20:22] #384 closed

[2020-02-17 16:28] victornoel opened #395 "3.10.0 is missing from Maven Central"
Not sure if this is just some delays, but latest version is missing from Maven Central while I can see that latest version of jwks-rsa 0.11.0 released at the same time, is there.

[2020-02-18 13:45] lbalmaceda commented on #395
Thanks for the heads-up! I just re-synced it, give it a few hours for it to appear.

[2020-02-18 13:45] #395 closed

[2020-02-18 13:54] lbalmaceda commented on #373
This is present since the latest release. Check https://github.com/auth0/java-jwt/pull/282 for a hint on the usage

[2020-02-18 13:54] #373 closed

[2020-02-18 13:55] lbalmaceda commented on #304
This is present on the latest release 3.10.0

[2020-02-18 18:05] corby opened #396 "Allow extraction of claims to JsonNode or ObjectNode"
I've been tooling around with the library (instead of handling JWT tokens myself).

I'd like to be able to access the claims tree directly or be able to call DecodedJWT.getClaims().toJson() that returns either a JsonNode tree or an ObjectNode tree.
I see that the claims are stored internally as JsonNodes, but is there anyway for me to access the tree as JSON objects?

Right now I have to call getC