[2020-02-26 18:30] lbalmaceda commented on #396
No, this is not possible and I don't think we would open it as we would exposing an external dependency's API on our own.
What about obtaining the [Map](https://github.com/auth0/java-jwt/blob/master/lib/src/main/java/com/auth0/jwt/interfaces/Claim.java#L96) representation of it or even a [custom class](https://github.com/auth0/java-jwt/blob/master/lib/src/main/java/com/auth0/jwt/interfaces/Claim.j

[2020-03-02 09:44] Eljoy opened #400 "Add the ability to specify a leeway in which token should be considered expired."
While there is a way to specify a leeway window in which the Token should still be considered valid it seems the opposite is missing. It could be useful to handle the case for which nearly stale token (defined by some negative delay) could be considered as expired.

[2020-03-03 01:40] corby commented on #396
A Map representation would work fine.  It is very easy to convert a Map to what I would need.
Are we talking Map<String, T>?

[2020-03-03 11:44] angelo147 commented on #142
Is still any interest about this? I have made an implementation of reusing 2 pools of ObjectMapper instances, one for JWTCreator and one for JWTParser. Seems to work fine for my needs at least.

[2020-03-03 17:58] lbalmaceda commented on #396
`Map<String, Object>`. I linked to those methods above.

[2020-03-10 00:37] ssrm opened #404 "Issue on setting audience/issuer as var-args (JWTVerifier)"
**Please do not report security vulnerabilities here**. The [Responsible Disclosure Program](https://auth0.com/whitehat) details the procedure for disclosing security issues.

**Thank you in advance for helping us to improve this library!** Please read through the template below and answer all relevant questions. Your additional work here is greatly appreciated and will help us respond as quickly

[2020-03-16 10:32] skjolber commented on #375
Closing, since PRs seem to be getting more attention lately. Keep up the good work, pretty sure it is very cost-efficient for you.

[2020-03-16 10:32] #375 closed

[2020-03-18 13:32] JorisEdia commented on #366
Hi all,

Thanks a lot for this fix @jimmyjames!

I was wondering if it's possible to mark the `DecodedJWT` itself as serializable as such:
`public interface DecodedJWT extends Payload, Header, Serializable`

This would be nice as the `DecodedJWT` is the public facing entity being scanned by code quality systems (SonarQube in our case). I still get the following warning on version 3.10.1: "Make "jw

[2020-03-20 14:28] tienhungandroid opened #409 "Issue while build jwt with firebase in an Android project"
My project is using firebase and now I have to implement a function to generate tokens by jwt.
Without JWT, the project can be run successfully.
But when I run my project, I see the problem as below:
Could you help me check it?

error processing /Users/admin/Work/Android_Mytour/app/build/intermediates/transforms/FirebasePerformancePlugin/debug/150/module-info.class
java.lang.RuntimeException
	at o

[2020-03-24 15:19] noetro opened #410 "Upgrade of Commons Codec can break existing JWT tokens"
**Please do not report security vulnerabilities here**. The [Responsible Disclosure Program](https://auth0.com/whitehat) details the procedure for disclosing security issues.

**Thank you in advance for helping us to improve this library!** Please read through the template below and answer all relevant questions. Your additional work here is greatly appreciated and will help us respond as quickly

[2020-03-25 06:13] demetriuzz opened #411 "OSGi bundle"
**Thank** you for your work.
Make the library even better.
Discussing version **3.10.1.**

### JAR not ready for the OSGi environment.

	Unable to create resource for bundle mvn:com.auth0/java-jwt/3.10.1
	at org.apache.karaf.features.internal.download.impl.MavenDownloadManager$MavenDownloader.<init>(MavenDownloadManager.java:91)
	at org.apache.karaf.features.internal.download.impl.MavenDownloadMan

[2020-03-25 21:58] #404 closed

[2020-03-30 15:02] jimmyjames commented on #410
Hi @noetro, can you provide more details and steps to reproduce?

[2020-03-31 02:51] jimmyjames commented on #411
:wave: Thanks for the report! Currently the workaround you supplied of using the `org.apache.felix:maven-bundle-plugin` and `Embed-Dependency` seems to be the best path forward when deploying to an OSGI container.

[2020-03-31 02:51] #411 closed

[2020-03-31 02:59] jimmyjames commented on #250
Version 4 will support `Instant`-based DateTime claims, as added in https://github.com/auth0/java-jwt/pull/392

[2020-03-31 02:59] #250 closed

[2020-03-31 03:00] jimmyjames commented on #302
Change to `java.util.Base64` implemented in https://github.com/auth0/java-jwt/pull/401 - this will be included in Version 4.

[2020-03-31 03:00] #302 closed

[2020-04-02 14:25] pglizniewicz opened #415 "Throw JWTDecodeException in JWTDecoder when Base64 decoding fails"
In the `JWTDecoder` constructor you are catching a `NullPointerException` thrown by `StringUtils#newStringUtf8` and rethrow it as a JWTDecodeException. It would be consistent if you would also do this with `IllegalArgumentException` thrown by the Base64 decoder (thrown from Base64#validateCharacter), since this is a JWT decode exception.

Currently, the caller of `JWT.decode` has to check for thes

[2020-04-02 15:52] jimmyjames commented on #409
Hi @tienhungandroid, this library is intended to be used in Java server applications. For Android, please see the [JWTDecode.Android library](https://github.com/auth0/JWTDecode.Android).

[2020-04-02 15:52] #409 closed

[2020-04-06 14:07] jimmyjames commented on #410
I'm going to close this issue since we don't have enough information to reproduce. Please reopen with additional information requested if this is still an issue so we can understand what might be happening and help. Thanks!

[2020-04-06 14:07] #410 closed

[2020-04-08 17:37] jimmyjames commented on #390
Fixed with https://github.com/auth0/java-jwt/pull/403

[2020-04-08 17:37] #390 closed

[2020-04-22 12:38] Vorotyntsev opened #416 "NPE when trying to add null Map or List claims"
### Description

I'm getting a ```NullPointerException``` in ```JWTCreator#validateClaim(List<?>)``` and  ```JWTCreator#validateClaim(Map<?, ?>)``` methods when trying to add a ```null``` map or list claim.

At the same time, ```JWTCreator#addClaim(String, Object)```, that would be called after validation, accepts ```null``` values and deletes a claim in this case.

I guess, validation can be perf

[2020-04-22 19:29] lbalmaceda commented on #416
👋 Thanks for reaching out. I think those 2 methods should keep the behavior of the other `withClaim` methods. This is, whenever a key is non-null but the value is null, remove that key from the final claims set.
I'll move it to the backlog.

[2020-04-23 20:51] lbalmaceda commented on #416
We should be able to release this next week. Thanks

[2020-04-23 20:51] #416 closed

[2020-04-29 19:37] #354 closed

[2020-04-30 06:00] qw3ry opened #419 "Document thread-safety"
I would like to know whether or not the classes in this library are thread-safe.

I know there are already two closed issues asking for the thread safety of `JWTVerifier`.
I want to use an `Algorithm` with multiple threads for signing. Is this class threadsafe as well?

I recommend to document the thread-safety in the readme, or at least in the class / method javadocs.

[2020-05-06 19:12] james-meyer-784110 opened #420 "version 3.10.3 is not in Maven Central"
### Description

Version 3.10.3 fails to download from Maven Central because it does not exist. Here is the [listing](https://mvnrepository.com/artifact/com.auth0/java-jwt).

### Reproduction

build.gradle

[code]

[2020-05-06 20:40] lbalmaceda commented on #420
Thanks!
I've just synced it with central, and it will show up in the next hours. If you cannot wait, you can fetch it from JCenter.

[2020-05-06 20:40] #420 closed

[2020-05-11 14:50] lbalmaceda commented on #419
Hi @qw3ry. Thanks for raising this important topic for visibility.
We agree the thread-safety should be documented carefully along the Javadoc and/or the readme. In the meantime until that analysis and documentation is done, here are some initial thoughts:
- The `Algorithm` class and subclasses are using class variables with the final modifier, and are also not mutating any received parameter. To

[2020-05-12 09:42] qw3ry commented on #419
[It looks like there are some issues with javax.crypto and thread safety](https://stackoverflow.com/a/31898893/2448440)

We chose to be better safe than sorry and create a new Algorithm instance each time, which is a lot better than debugging threading issues later.

[2020-05-13 16:08] tradeJmark opened #421 "Support Java 8 java.time API"
Many modern systems have switched to using the java.time API that was introduced in Java 8. I believe that for maximum compatibility with newly created applications, it would be good to support this API alongside the current java.util.Date usages.

For example, in [JWTCreator](https://github.com/auth0/java-jwt/blob/master/lib/src/main/java/com/auth0/jwt/JWTCreator.java) and [JWTCreator.Builder](ht

[2020-05-13 16:13] tradeJmark commented on #421
I'm sorry, I neglected to browse through the closed issues long enough to find out this is already coming in version 4.

[2020-05-13 16:13] #421 closed

[2020-05-14 23:12] lbalmaceda commented on #360
Tracking this internally on `SDK-1416`

[2020-06-01 15:39] lbalmaceda commented on #400
@Eljoy apologies for the delay here, I missed your message. What could be the use case for that?

[2020-06-01 17:54] lbalmaceda commented on #415
@pglizniewicz I cannot find in the Javadocs where the `IllegalArgumentException` is said to be thrown. The `Base64.decodeBase64` doesn't throw one apparently https://commons.apache.org/proper/commons-codec/apidocs/org/apache/commons/codec/binary/Base64.html#decodeBase64-java.lang.String-.

Where is this coming from?
Cheers

[2020-06-02 07:27] pglizniewicz commented on #415
It's thrown from `org.apache.commons.codec.binary.Base64.validateCharacter` and it's even documented there, but it gets through other Commons Codec calls where it's not documented (it's an unchecked exception, so they don't have to be explicit about it). Just try:

```JWT.decode("eyJ0eXAiOiJKV1QiLCJhbGciOcorrupted.eyJ0ZXN0IjoxMjN9.sLtFC2rLAzN0-UJ13OLQX6ezNptAQzespaOGwCnpqk");```

and you will see

[2020-06-02 19:01] lbalmaceda commented on #415
I just tried
[code]

and I got

[code]

A `JWTDecodeException` is what it would be expected in this case. I cannot reproduce what you're reporting. Using java version "1.8.0_152"

[2020-06-04 21:48] lbalmaceda commented on #419
@qw3ry This is the result we've reached to: The library is almost completely thread-safe. We've pointed out the things we intend to change to take it to the next level ⚡

* There are a few references being kept as received instead of keeping a copy of them. Especially when dealing with arrays, lists, or maps. This can easily be fixed. Classes `PayloadDeserializer`, and `HSAlgorithm`
* The `Date` i

[2020-06-05 01:11] martin-sean commented on #415
I'm experiencing the same behaviour as @pglizniewicz. It appears to be caused by a change in a private validateCharacter method in Apache Common Codec >=1.13. It now throws an IllegalArgumentException if the last character results in an invalid base64 value.

[2020-06-05 06:56] qw3ry commented on #419
Thank you for the detailed analysis! This sounds very promising.

[2020-06-05 07:13] pglizniewicz commented on #415
I can reproduce exactly what @martin-sean has written. Changing the dependency to commons-codec 1.12 shows a stacktrace similar to @lbalmaceda . With 1.13 and 1.14 the exception changed.

[2020-06-05 15:42] devnewton opened #423 "Sample from generating jwt token using jwks?"
Is there a sample for generating token with java-jwt using jwks loaded by jwks-rsa-java ?

[2020-06-05 17:07] lbalmaceda commented on #423
I understand you want to sign tokens with what `jwks-rsa-java` returns? That library would only give you the public key instance. If you're on the server-side, you definitely want to use the _private_ key for signing tokens. Once you're in possession of that private key, you would set it in the key provider as explained in the readme [here](https://github.com/auth0/java-jwt#using-a-keyprovider). T

[2020-06-05 17:08] lbalmaceda commented on #415
👍 thanks for those details. I'll take another look in the coming weeks.

[2020-06-07 01:35] arhmanattia opened #424 "JDK 6 support"
HEllo,

Is there a support for JDK 6 in this library

[2020-06-08 07:07] devnewton commented on #423
I would like to use the jwks like generated by https://mkjwk.org/

It includes both public and private key.

[2020-06-08 16:15] lbalmaceda commented on #423
I don't know your setup but unless you keep that private key value to yourself, you risk anyone being able to sign tokens on your behalf. As mentioned above, the jwks-rsa-java library won't read that private key value for you. You'll have to find another library that does that.

[2020-06-08 17:37] lbalmaceda commented on #424
👋 @arhmanattia Hi. No, the min supported version for v3 is JDK 8. In the [v2 branch](https://github.com/auth0/java-jwt/tree/v2) you can find support for JDK 7, but of course, it's no longer maintained.

We aim to support JDK versions that are still being developed or maintained.

[2020-06-08 17:37] #424 closed

[2020-06-08 20:20] #396 closed

[2020-06-10 15:07] phelantomas opened #425 "Add a withClaim for Map Inside JWTVerifier to correspond with JWTCreator"
Currently **JWTVerifier** has no `withClaim(String name, Map<String, ?> map)` to go along with the one present inside **JWTCreator**

Would be nice to have a corresponding withClaim for easier testing

[2020-06-15 23:36] benfortuna commented on #411
I'm curious why a workaround is the best path forward? Are there technical limitations to OSGi support? (it can be quite trivial to include the bndtool to generate appropriate manifest headers)

[2020-06-16 20:22] #419 closed

[2020-06-19 21:01] peterchaula commented on #229
I used `token.replaceAll("(Bearer|\\s+)", "").trim()` to remove spaces anywhere in the Authorization header

[2020-06-24 19:49] #415 closed

[2020-06-28 09:52] mdjava opened #429 "com.auth0.jwt.exceptions.SignatureGenerationException: The Token's Signature couldn't be generated when signing using the Algorithm: SHA512withRSA"
**Please do not report security vulnerabilities here**. The [Responsible Disclosure Program](https://auth0.com/whitehat) details the procedure for disclosing security issues.

**Thank you in advance for helping us to improve this library!** Please read through the template below and answer all relevant questions. Your additional work here is greatly appreciated and will help us respond as quickly

[2020-06-28 09:53] mdjava commented on #429
public static <T> String token(String audience, Date date, T claims,RSAKeyProvider provider) {
		String token = JWT.create().withExpiresAt(date) // 设置过期时间
				.withAudience(audience) // 设置接受方信息，一般时登录用户
				.withClaim(PAYLOAD, JSON.toJSONString(claims)).sign(Algorithm.RSA512(provider)); // 使用HMAC算法，111111作为密钥加密
		return token;
	}

[2020-06-28 09:54] mdjava commented on #429
public class MyRSAKeyProvider implements RSAKeyProvider {
	static String req_pubKey = "MFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBALMt+kBP6gISRdJuYhX6TURaMBQuPKoP" +
			"KRh/r3549aSTiJnHDfEPnqBa9M1gS6ZwBoHD+3ywM6+OvlTJYlc/u80CAwEAAQ==";

	static String req_preKey ="MIIBVQIBADANBgkqhkiG9w0BAQEFAASCAT8wggE7AgEAAkEAsy36QE/qAhJF0m5i" +
			"FfpNRFowFC48qg8pGH+vfnj1pJOImccN8Q+eoFr0zWBLpnAGgcP7fLAzr46+VMli" +
			"V

[2020-06-29 21:49] lbalmaceda commented on #429
There's clearly an issue reading that private key, which is being ignored because of the try/catch, and a null is being returned instead. I suggest you check your `RSAUtils.getPrivateKey` method is working OK and that the input that you're passing corresponds to a valid RS512 DER private key. Since it looks a bit short for RSA (e.g. [here]( https://github.com/auth0/java-jwt/blob/8ca949eebe0d186567

[2020-07-01 11:28] mdjava commented on #429
case  RSA key length is 512bits

[2020-07-01 11:36] mdjava commented on #429
But there is another problem：
When creating a token:
withJWTId(jti)----> 022eb2e6-f471-4897-83d7-b20b30dae245
When parsing token:
JWTId(jti)--->null

[2020-07-01 11:36] mdjava commented on #429
19:23:41.948 [main] DEBUG com.kalian.core.jwt.JwtCreateToken - withExpiresAt:<2020-07-01 19:23:44>
19:23:42.028 [main] DEBUG com.kalian.core.jwt.JwtCreateToken - withAudience:<app1>
19:23:42.028 [main] DEBUG com.kalian.core.jwt.JwtCreateToken - withIssuer:<kalian>
19:23:42.029 [main] DEBUG com.kalian.core.jwt.JwtCreateToken - withIssuedAt:<2020-07-01 19:23:42>
19:23:42.029 [main] DEBUG com.kalian.

[2020-07-06 20:11] lbalmaceda commented on #429
@mdjava I'm glad the original issue was solved.
About the second one, I don't understand what's the issue. The stack trace you shared on your last comment doesn't belong to our library either. Can you explain what's wrong?

[2020-07-08 17:47] ssgao opened #430 "PR 290 - Support custom validation"
https://github.com/auth0/java-jwt/pull/290 greatly helps our use case of verifying part of the claim. Could we have it re-opened and possibly merged please? Thanks.

[2020-07-09 09:31] mdjava commented on #429
That's a simple package I made

[2020-07-12 01:00] Tony308 commented on #250
The post only talked about claims but concerning `nbf, iat and exp`, would `Instant` still be the correct solution instead of possibly supporting LocalDate/LocalDateTime?

[2020-07-27 13:55] lbalmaceda commented on #430
👋  it's not in our plan to add custom validations on this major. Can you elaborate a bit on your use case? What claim are you trying to validate and how?
Looping in @jimmyjames.

[2020-07-29 05:25] ssgao commented on #430
An example is that our service has some logic that's based on the issuer of the token. The issuer is a full x.509 certificate format: CN=Sample Cert, OU=R&D, O=Company Ltd., L=Dublin 4, S=Dublin, C=IE
What we want is just to verify the `CN` here is a certain text. We don't care about the rest.

[2020-07-29 12:45] lbalmaceda commented on #430
Dynamic validations like those are not possible with the current public API, because the library doesn't accept a custom validator function/callback. But you could still obtain the claim after running the default validations and check the claim value yourself. Is no different from what we would do in the SDK, or what you would do if you pass a custom function.

[code]

[2020-08-04 16:08] jrgleason opened #433 "Issue trying to port from JavaScript into Java (Scala)"
### Description

First I was referred to open this as an issue [here](https://community.auth0.com/t/need-help-converting-javascript-jwt-parsing-into-java-using-auth0-libs/47387), I realize this is more of a question...

I am having an issue converting some code from the JavaScript JWT library to the Java one.

### Reproduction

Currently I am using the node-jsonwebtoken lib you guys put out to par

[2020-08-04 17:26] lbalmaceda commented on #433
@jrgleason lets see if I can explain.

On your JS snippet, you are using a `cert` variable, with the value of the public key certificate, I assume. If you are confident its value won't change ever, sure you can hardcode it in your code.

The recommendation, however, is to pull it from the `{YOUR_DOMAIN}/.well-known/jwks.json` file. Auth0 generates a key pair for your tenant or account and uses the

[2020-08-04 17:43] jrgleason commented on #433
Thank you I will try this out

[2020-08-05 09:36] fvasco opened #434 "Add factory method to create an Algorithm from a java.security.Key"
We wish to verify a JWT using a Java's Key.
Unfortunately, we cannot found a simple way to create an `Algorithm` starting from a `Key`.

Currently our code looks like:

[code]

We think that this mapping should be delegated to library, ie:

[code]

Please keep in mind #252

[2020-08-07 15:47] lbalmaceda commented on #434
Once this library was explicitly supporting RSAKey / RSAPublicKey and then went a bit up and used PublicKey and PrivateKey. Going one level of abstraction further to Key does not sound correct. Here, the more explicit the developer is when setting up sensitive things such as the expected algorithm and keys, the better. @jimmyjames thoughts?

Regarding #252, I don't see the reason to go back to sin

[2020-08-07 16:51] skjolber opened #435 "Question: Is this library affected by commons-codec issue CODEC-279?"
### Description

We're worried that a bug / corner-case introduced via version 1.14 of the commons-codec library (via the latest Spring Boot 2.3) will affect us:

https://issues.apache.org/jira/browse/CODEC-279?

This library is already on 1.14, so can you confirm that tokens issued by Auth0 are not affected by this bug / corner-case?

### Reproduction

Given the understanding of Base64, the occat

[2020-08-07 20:47] fvasco commented on #434
In my use case, the algorithm is a parameter, not a developer choice.
WE need a way to verify a JWT without have to maintain the above mapping, in other words, a generic way to build an `Algorithm`, something like `Algorithm.build(algorithm, publicKey, privateKey)` (including `publicKey == privateKey` for simmetric algorithm)

[2020-08-11 18:33] idelvall commented on #271
Came here for the same reason. Updating the example to pass a `null` in as private key would make things clearer

[2020-08-11 19:14] lbalmaceda commented on #271
@idelvall You might have jumped right into the code, but it's there in the second paragraph https://github.com/auth0/java-jwt#pick-the-algorithm

[2020-08-12 19:54] lbalmaceda commented on #434
I don't think this library will add support for more algorithms, honestly. We received only one PR in more than 2 years and is still waiting on the contributor to come back. The maintenance of this mapping that you're doing in your app is low today. Anyway, I understand where you want to get and while this is not in our scope, we are happy to help you contribute to this change by reviewing the cod

[2020-08-12 22:22] jimmyjames commented on #435
Looking at the details of [CODEC-279](https://issues.apache.org/jira/browse/CODEC-279), it appears this issue can happen with Base64 decoding when the input is either improperly encoded or truncated. I would _assume_ that would not be the case for any Auth0-issued tokens, but you can follow up with https://support.auth0.com for details regarding that. I did test the decoding with JDK11 and an Auth

[2020-08-13 11:17] skjolber commented on #435
No, it does not really help; don't know when 1.15 will be out?

Can you share which library you're using to base-64-encode tokens in your service? If that is not confidential. The best way forward to is to look on the corner cases of that encoder, and perhaps also use it to encode a few million tokens (or just any random data really) and decoded using the commons-codec library to see if the bug ma

[2020-08-14 03:10] jimmyjames commented on #435
I couldn't find when 1.15 of commons-codec will be released either. They seem to release about ~2 times per year, so I'd hope it won't be too long, but that's just a guess.

Regarding how the tokens are encoded, that's a question best directed to auth0.com/support.

I haven't tried it, but is it possible to override the commons-codec dependency down to 1.13 in your application, which from what I u

[2020-08-20 15:29] kwin commented on #411
OSGi manifest headers don't do any harm for anyone. So just providing those with the library in the first place is a big advantage.

[2020-08-21 08:28] ballchencz opened #436 "The exception try(){}catch{} suggession"
**When I removed several bits of a signed token**,My system throws an "IllegalArgumentException", but I hope it throws "JWTDecodeException", When I checked the source code, I found that the "JWTDecoder" constructor only caught a null pointer exception and threw "JWTDecoderException". Therefore, I hope to catch the runtime exception here, so that I can handle the token parsing failure in the except

[2020-08-27 05:02] Gagandeep1408 opened #437 "Crashed"
java.lang.NoSuchMethodError: No static method encodeBase64URLSafeString([B)Ljava/lang/String; in class Lorg/apache/commons/codec/binary/Base64; or its super classes (declaration of 'org.apache.commons.codec.binary.Base64' appears in /system/framework/org.apache.http.legacy.boot.jar)

*************Code***************
 val header: MutableMap<String, Any> = HashMap()
        header["alg"] = "HS256"

[2020-08-27 20:24] lbalmaceda commented on #437
@Gagandeep1408 where are you running this?

[2020-08-28 03:02] Gagandeep1408 commented on #437
I'm implemented in android and when i try to run app in Android version
8.1. App crashed.

On Fri, 28 Aug 2020 at 01:54, Luciano Balmaceda <notifications@github.com>
wrote:

[2020-08-28 18:18] lbalmaceda commented on #437
The readme states that this library is not for Android. And signing tokens in a public client such as native app doesn't make much sense, since you can't keep the secret confidential.

[2020-08-28 18:18] #437 closed

[2020-09-01 11:54] skjolber commented on #435
Support did not provide a very detailed description, but to finish up I've written a [test bench](https://github.com/auth0/java-jwt/files/5155966/CODEC-279.zip):

Assumptions:
 * running node version 10, 12 or 14, with
 * native base64 encoder + search and replace for URL-safety

I've **not** been able to reproduce the problem, running millions of iterations.

[2020-09-01 11:55] skjolber commented on #435
No longer worried, thanks for the help! :+1:

[2020-09-01 11:55] #435 closed

[2020-09-08 13:00] lbalmaceda commented on #400
Closing due to inactivity

[2020-09-08 13:00] #400 closed

[2020-09-08 13:18] lbalmaceda commented on #429
Let me rewrite the second issue:
- You are creating a token using this library, and setting a JWT ID of "022eb2e6-f471-4897-83d7-b20b30dae245"
- When you then try to decode that token, the JWT ID value is null?

If so, can you share the code you are calling to do that?

The reason I ask is, I tried the token that you shared above (around the middle of the comment), I'll paste it here for reference

[2020-09-08 13:22] lbalmaceda commented on #430
Closing due to inactivity. If the above doesn't work, let me know.

[2020-09-08 13:22] #430 closed

[2020-09-14 17:04] jimmyjames commented on #436
Hi @ballchencz,

We do have a fix for this issue that has been merged, but not yet released. We're planning to do the release this week.

[Here is the change](https://github.com/auth0/java-jwt/pull/426), if you'd like to try it out and verify that it addresses the issue, that would be great. Thanks!

[2020-09-14 17:16] jimmyjames commented on #433
@jrgleason did you get a chance to try out @lbalmaceda's suggestion?

[2020-09-14 18:23] lbalmaceda commented on #434
@fvasco I've discussed this change with the team and decided is not something we want to include to the library today. In a typical backend or web application, the algorithm used will be only one, and its name and value should be explicitly decided by the developer and not let out for a dynamic resolution. This will ensure the signature generation/verification process is less error-prone as well.

[2020-09-14 18:23] #434 closed

[2020-09-17 04:11] #425 closed

[2020-09-21 04:44] Gagandeep1408 opened #441 "App Crashed"
java.lang.NoSuchMethodError: No static method encodeBase64URLSafeString([B)Ljava/lang/String; in class Lorg/apache/commons/codec/binary/Base64; or its super classes (declaration of 'org.apache.commons.codec.binary.Base64' appears in /system/framework/org.apache.http.legacy.boot.jar)

[2020-09-21 21:18] jimmyjames commented on #433
Closing this issue; @jrgleason if you are still having this issue and provide more information about trying out the suggestion above, please let us know and we can reopen it.

[2020-09-21 21:18] #433 closed

[2020-09-21 21:21] jimmyjames commented on #429
@mdjava if you're still having this issue, can you share a code example as asked above? Otherwise we'll consider this issue closed per the findings above. Thanks!

[2020-09-22 01:05] lbalmaceda commented on #441
@Gagandeep1408 on what application or platform are you using this?

[2020-09-22 03:04] Gagandeep1408 commented on #441
Android , On my some devices its working fine

[2020-09-22 13:54] lbalmaceda commented on #441
@Gagandeep1408 the android platform is not supported (see the top of the README). Please take a look at all the [related closed issues](https://github.com/auth0/java-jwt/issues?q=is%3Aissue+android+is%3Aclosed) before opening a new one next time.

[2020-09-22 13:54] #441 closed

[2020-09-28 14:38] jimmyjames commented on #360
The ability to verify a claim's presence regardless of value has been added in 3.11.0. If there is still demand to verify a claim by presence and type, please open a new issue so we can evaluate and discuss. Thanks!

[2020-09-28 14:38] #360 closed

[2020-09-28 14:40] jimmyjames commented on #429
Closing this issue as we haven't heard back; if you'd like it reopened please comment and provide a code sample of the issue so we can investigate further. Thanks!

[2020-09-28 14:40] #429 closed

[2020-10-05 12:27] hoto commented on #291
Sorry for resurrecting, should I create another issue?

That clarification is quite far away from the code sample 😬

![Screenshot 2020-10-05 at 13 17 06](https://user-images.githubusercontent.com/3105832/95078973-e00f4b00-070d-11eb-983c-73140e97ab28.png)

I can do a PR but I wonder if there is any scenario where the `RSAPrivateKey` would NOT be null when verifying the token?
I wonder if the readme

[2020-10-05 16:20] philsmart opened #444 "Possible to generate a JWT MAC using a key that is two weak for the algorithm used"
### Problem

A MAC can be generated for a JWT using a secret key whose length (in bits) is smaller than the output size (in bits) of the internal hash e.g. a key of < 512bits when using the HS512 algorithm. This seems in contradiction to 'best practice' (see RFC2014 section 2, and NIST SP 800-117)  and the strict requirements of the JSON Web Algorithms (JWA) specification (RFC7518).

   "HS256") o

[2020-10-05 20:50] lbalmaceda commented on #436
Fixed in 3.11.0

[2020-10-05 20:50] #436 closed

[2020-10-05 21:02] lbalmaceda commented on #444
So this would only impact HS (256, 384, 512). I'm wondering if we should treat this as a breaking change or not, since the `JWA` spec _does_ mention it as a requirement (e.g. "MUST"). Let me raise it internally first cc @jimmyjames.

@philsmart Are you willing to send a PR if we decide to go forward with the change?

[2020-10-06 08:42] philsmart commented on #444
Certainly.

[2020-10-07 09:59] onmax opened #445 "Suggestion to create method withPayload in JWTCreator.java"
### Description
Rigth now, I have my own implementation of a JWT with its own Header and Payload class. But, I am struggling with signing, decoding and verifying the JWT so I have decided to use an external library like this one. As I said, I already have my own payload (and it is kind of extensive), it has a lot of keys and values. Some of them are JSONObjects so if I want to use this library I j

[2020-10-07 15:25] lbalmaceda commented on #444
@philsmart To close the loop. I've checked with the team and they agree this length/size enforcement would be a breaking change so we are not going to accept it on this version. They also said that the HMAC will internally right-pad the missing bits in the secret with zeros, so it can perform the HMAC operation.
That said, we would accept a note in the readme [where we introduce the algorithms](ht

[2020-10-08 07:54] philsmart commented on #444
Many thanks for discussing this so quickly. I can certainly add a note in the README (next week probably).

Just to clarify, is this check something you would be looking to add to a version after this one?

Also, I get (although I am no mathematician) the Hashing algorithm will pad the key to allow execution of the function, but I would assume that does not add to the key's strength/entropy in suc

[2020-10-09 07:29] onmax commented on #445
Hey, any comment on this?

[2020-10-09 20:35] lbalmaceda commented on #444
No, I don't think so. The reason being that this requirement could prevent this library from being used with providers that use secrets that don't respect this specific length requirement. There's no need to be restrictive about it. Anyone should use secrets of the length they want.

I rather we recommend this in the readme for added security but leave the final choice to the developers.

[2020-10-09 20:37] lbalmaceda commented on #444
About the entropy, you are correct. There's no added entropy when padding is used. The only way to mitigate this issue would be using a secret that is as long in bits as the algorithm says. 👍

[2020-10-12 09:01] philsmart commented on #444
OK, thanks. I will look to add a PR with the info to the README this week.

I am not sure I totally understand the position that 'Anyone should use secrets of the length they want'. Given that they could produce a JWT that is not compliant with the specifications from a security perspective. But I also understand the pragmatic side of not making this breaking change.

[2020-10-15 12:58] kamath237 opened #446 "How to conditionally build com.auth0.jwt.algorithms.Algorithm instance based on properties"
I have this JWT validation block where I need to build an Algorithm instance based on the 'alg' used by Identity Provider for signing. It could be 'RS256', 'HS256', 'RS512' or anything else.

[code]
So my line of code "Algorithm.RSA256((RSAPublicKey).... " is now kind of hardcoded. How do I make this generic based on an Environment property input?
I'm using below version.

		<dependency>
			<group

[2020-10-19 11:31] lbalmaceda commented on #446
@kamath237 The constructor for the Algorithm class has _protected_ visibility, so this wouldn't be possible today. I assume you could do a when/switch statement over the algorithm name variable to decide that. Can you share a bit more about your use case? Especially about how that algorithm name value is dynamic and not known in advance.

Related: https://github.com/auth0/java-jwt/issues/434

[2020-10-22 18:40] kamath237 commented on #446
@lbalmaceda I intend to do this in my product which goes to different customers who would invoke the APIs
that this product exposes with their own auth server issued token. As per the customers token specifications, I just need to update my application.yml with alg, issuer, x5c etc required to verify JWT - No choose changes and rebuild.

As you mentioned, switch case is an option, but I need to br

[2020-10-24 09:12] philsmart commented on #444
Opened a PR with the changes.

[2020-10-28 11:15] JordiGiros commented on #445
I'm struggling with the same problem. I read my own Payload from a json file and I have a lot of keys and values. I was looking for an approach with a map, but there is no way to pass a map to the claims without setting a "name" to that...

[2020-10-28 22:03] PvanHengel opened #449 "Multiple Audience Support"
Hello,

It seems there is a bug / issue / lack of feature with the audience validation logic.  If you pass a list of audiences, it must be in all of them, not just one.  I believe it's not "standard" to allow multiple audiences as is done with the Issuer claim.

Please see the logic on line 415
https://github.com/auth0/java-jwt/blob/dd6bc25d9a7c2857bae29757a9198b798ac5734f/lib/src/main/java/com/au

[2020-10-29 14:06] MrCull opened #451 "The README file in this repo has some bad links - [404:NotFound]"
The README file in this repo has some bad links - [404:NotFound]

Status code [404:NotFound] - Link: https://docs.auth0.com/identityproviders
Status code [404:NotFound] - Link: https://docs.auth0.com/mysql-connection-tutorial
Status code [404:NotFound] - Link: https://docs.auth0.com/link-accounts
Status code [404:NotFound] - Link: https://docs.auth0.com/jwt
Status code [404:NotFound] - Link: https

[2020-11-03 22:17] lbalmaceda commented on #446
We don't have plans to add support for more algorithms in the near future, and we also don't want to support instantiating algorithms from a string / name value (decision made on the issue linked above). HS vs RS/EC algorithms vary in how the "secret" piece is passed, so there's no nice generic solution that we can ship with the SDK.

Although you might want to limit the allowed algorithms that yo

[2020-11-03 22:18] lbalmaceda commented on #451
@MrCull Thanks for reporting this. It has now been fixed.

[2020-11-03 22:18] #451 closed

[2020-11-05 19:40] lbalmaceda commented on #446
Closing this issue as our decision is final.

[2020-11-05 19:40] #446 closed

[2020-11-06 16:49] philsmart commented on #444
I'll close this ticket. The PR exists if you wanted to add it or something similar to the README.

[2020-11-06 16:49] #444 closed

[2020-11-06 20:57] jimmyjames commented on #445
Thanks for the request, I think this makes sense to add.

We've added this to our backlog, to add a method `withPayload` that accepts of a map of claim names -> values. In the meantime, would be happy to review or discuss specifics if someone is interested in making a PR. We'll need to ensure that we're consistent with how we validate the claims (non-null claim name, valid object types for seriali

[2020-11-12 00:14] lbalmaceda commented on #444
@philsmart Apologies for not following up here. The PR is on my list to review.

[2020-11-12 17:06] wolfchimneyrock opened #456 "EdDSA signature support"
Are there any plans to support EdDSA signatures on tokens?  Using Ed25519 public key to verify.

[2020-11-12 18:15] lbalmaceda opened #457 "Required Java version is changing to 8"
## Description

Java 7 (2011) stopped receiving public updates on 2015, only Oracle extends its support nowadays. Due to most libraries moving to and requiring Java 8 during the past years (see references), we are now making the decision of updating this SDK’s minimum required Java to the version 8 in a _minor_ package release.

This will enable us to pull the changes for the next planned major ve

[2020-11-13 13:54] philsmart commented on #444
Sounds good, thanks!

[2020-11-19 06:46] BaljitKarwal opened #460 "Verifier error for verifying claims"
I am using this library and used a very basic function to create the token which worked as expected and when I am trying to verify the same token, the verifier throws this error: "java.lang.ClassCastException: java.lang.String incompatible with java.util.List"

Below is my createToken function:
`validToken = JWT.create()
	    				.withIssuer(apiKey)
				    	.withClaim("iss", apiKey)

[2020-11-19 21:30] jimmyjames opened #461 "Use java.util.Base64"
Use java.util.Base64 for encoding and decoding, instead of the apache lib. Depends on #457.

[2020-11-19 22:04] jimmyjames commented on #460
Hi @BaljitKarwal,

Any reason you are adding the issuer twice, once with `withIssuer` and once using `withClaim`? If you are calling `withIssuer`, there is no need to also call `withClaim`. That should fix the problem.

[2020-11-20 04:21] BaljitKarwal commented on #460
Thanks @jimmyjames .That worked. Remove issuer from the claim.

[2020-11-20 13:59] #460 closed

[2020-12-19 14:27] dude-abides opened #466 "Claim implementation does not match Claim Interface documentation"
Issue:
I am trying to iterate over claims and print them for debugging purposes. So I call asString() on every claim. It seem Boolean claims always return null.

https://github.com/auth0/java-jwt/blob/6b802545d97d40208ea0c3945f5300da904fcf45/lib/src/main/java/com/auth0/jwt/impl/JsonNodeClaim.java#L54

Comments:
1. I don't see a way to determine the type of a claim. It would be nice to have a getCl

[2020-12-21 22:21] downdrown commented on #457
Will you update the implementation to use `java.time.*` classes instead of `java.util.Date` too?

[2020-12-23 02:27] jimmyjames commented on #457
@downdrown we will be able to do that, though not directly as part of this issue. We should be able to pull #403 and #392 forward to master now. It's not something I'll have bandwidth for before the end of the year, but if anyone's interested and would like to make a PR, would be happy to take a look after the holidays (please create an issue first if you don't mind).

[2020-12-23 02:28] jimmyjames commented on #457
Issue fixed with #455, released in version `3.12.0`.

[2020-12-23 02:28] #457 closed

[2020-12-28 06:40] saiyujs opened #467 "The Token can't be used before xxxxx"
hi

this is the token : eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJpc3N1ZXIiLCJleHAiOjE2MDkxNDA3MTQsImlhdCI6MTYwOTEzNzExNCwidXNlcm5hbWUiOiJhZG1pbiJ9.UBaAyr3AC0FDaiYY5dtgN_TbYin0s37iILSua9AELkU

error: com.auth0.jwt.exceptions.InvalidClaimException: The Token can't be used before Mon Dec 28 14:31:54 CST 2020.

token debug: {
  "iss": "issuer",
  "exp": 1609140714,
  "iat": 1609137114,
  "usern

[2020-12-28 16:47] lbalmaceda commented on #467
Yes, the "issue at" (iat) claim is checked when you verify a token. See https://github.com/auth0/java-jwt#time-validation. If you need to disable that specific check, you can do so using the following [method](https://github.com/auth0/java-jwt/blob/master/lib/src/main/java/com/auth0/jwt/JWTVerifier.java#L108).

[2020-12-28 16:47] #467 closed

[2020-12-28 17:06] lbalmaceda commented on #466
1. The types one could find are either string, number, or boolean. Although a claim can also have a null value. You either get claims listed in the [7519 specification](https://tools.ietf.org/html/rfc7519) or make use of custom claims that you've added yourself (or a service you own or documents its claims) and can anticipate their type. There's no generic solution for iterating over them and tell

[2021-01-14 13:36] youagree commented on #270
what is newer format? where i can read about it?

thanks fore reply

[2021-01-25 16:58] stevehobbsdev commented on #456
Hi, thanks for raising this and thanks for your patience. We don't have any plans to add this right now but are continually monitoring feedback.

[2021-01-25 16:58] #456 closed

[2021-01-26 18:51] jimmyjames commented on #449
When validating a JWT, you can specify the audience(s), and the expectation is that all of the expected audiences are contained in the JWT's `aud` claim. The JWT may contain additional audiences than those specified to validate, but it must contain all the audiences specified.

For example, consider a JWT with an `aud` claim value of `[https://domain.auth0.com/userinfo, https://api-id.com]`. When

[2021-01-26 18:55] PvanHengel commented on #449
@jimmyjames  Agreed that is how it works today, but in our use case we do not want to require that they all are there, rather we want to require that at least one of the list is there.  We did work around this by doing a multiple pass validation logic but it seems a little ugly.

[2021-01-27 20:07] jimmyjames commented on #449
@PvanHengel when you say you do a multiple pass validation as a workaround, do you mean you are running multiple verifications until one passes with one of the expected audiences?

It might be cleaner to just skip audience validation in this scenario, and instead validate your expectations from the decoded JWT claim.

Regarding updating the SDK to support validating at least one of the expected au

[2021-01-29 14:31] #466 closed

[2021-02-01 03:03] guo-hong opened #470 "Update documentation for acceptIssuedAt"
### Describe the problem you'd like to have solved

"IssuedAt" (IAT) claim verification has been made optional following the close of [issue-254](https://github.com/auth0/java-jwt/issues/254). However ["acceptIssuedAt"](https://github.com/guo-hong/java-jwt/blob/5a65f3007dff73079534602ce58d26c09fedac8b/lib/src/main/java/com/auth0/jwt/interfaces/Verification.java#L73) documentation is not updated an

[2021-02-01 17:50] jimmyjames commented on #470
Thanks for raising @guo-hong.

I've made #471 to address, would appreciate your review to see if that change addresses the confusion. Thanks!

[2021-02-01 23:57] guo-hong commented on #470
Thanks @jimmyjames . The PR looks great.

[2021-02-01 23:57] #470 closed

[2021-02-02 00:23] jimmyjames commented on #449
@PvanHengel does the changes in #472 look like they will meet your requirements?

[2021-02-05 16:03] #449 closed

[2021-02-10 08:03] jorundoa opened #474 "Add one-of functionality to verification of list claims"
### Add one-of functionality to verification of list claims

Currently the verification of a claim implemented as a list using `withArrayClaim()` verifies the claim object using a `containsAll()`-function. Meaning the token must include _all_ of the elements present in the list input to `withArrayClaim()`.

##### Problem:
A "one-of" check when verifying a list claim is valid. (See for example: htt

[2021-02-22 13:24] XakepSDK commented on #461
Help needed?

[2021-02-22 17:46] #445 closed

[2021-02-24 20:26] jimmyjames commented on #461
@XakepSDK yes that would be great! One thing I'm not so sure about is if this truly can be done in a way that doesn't involve a breaking change in behavior. We should be able to find out with our existing tests, but we need to be careful that we don't introduce a breaking change in v3.

[2021-03-01 15:14] jimmyjames commented on #474
Thanks for the detailed information and use case. This does seem like a valid use case to support. We'll add it to our backlog; it may not be something we tackle immediately, but will be good to support.

[2021-03-03 17:45] kebeda opened #480 "Version 3.14.0 not on Maven Central"
### Describe the problem you'd like to have solved

Version 3.14.0 fails to download from Maven Central because it does not exist. All maven jobs using this version fail.

[2021-03-03 18:25] jimmyjames commented on #480
Hi @kebeda - I just resynced from jcenter to maven for 3.14.0. It may take a bit (sometimes a few hours) to show up in maven central. I'll check back in tomorrow to make sure it's there.  In the meantime you can use jcenter if you. need 3.14.0 right. now. Thanks!

[2021-03-04 07:28] jorundoa commented on #474
Thanks! Is there anything I can do to help speed up the process? At the moment we are using the workaround, but I'd prefer it if we could avoid it as soon as possible, :)

[2021-03-04 14:08] kebeda commented on #480
Yes, this is on Maven Central now thanks! I'd love to use jcenter, but am unable to, so thanks for doing this.

[2021-03-04 14:08] #480 closed

[2021-03-08 16:07] XakepSDK opened #481 "Remove jcenter"
### Describe the problem you'd like to have solved
JCenter is closed
https://www.infoq.com/news/2021/02/jfrog-jcenter-bintray-closure/

### Describe the ideal solution
Remove jcenter from build scripts

### Alternatives and current work-arounds
None

### Additional information, if any
None

[2021-03-10 01:31] jimmyjames commented on #461
Closed with #478, thanks @XakepSDK! Will include in a new release later this week or next week.

[2021-03-10 01:31] #461 closed

[2021-03-10 01:41] jimmyjames commented on #481
Thanks @XakepSDK - #482 submitted to remove jcenter from our repo dependencies.

[2021-03-10 01:57] jimmyjames commented on #474
@jorundoa thanks for your engagement!

My only concern with adding this to v3 is the need to add more default methods to the `Verification` interface, that would need to throw an `UnsupportedOperationException`. While I don't expect that many customers are implementing that interface directly, especially in non-test scenarios, it does start to feel... non-ideal.

I'm not sure there's a great alter

[2021-03-11 13:09] XakepSDK opened #483 "Add module system support"
### Describe the problem you'd like to have solved
I'm writing desktop application and i want module system support for this library, so i can have smaller runtime

### Describe the ideal solution
Since Java 8 is the minimum java version, we could:
1. Compile everything with Java 11 compiler with `--release 8`, so we will have Java 8 version classes
2. Add module-info file compiled with `--release

[2021-03-30 18:32] gkrat commented on #461
Do you know when this might be released?

[2021-03-30 22:06] Marcono1234 opened #486 "Duplicate GitHub issue template for bugs"
It appears there are currently two GitHub issue templates for bugs:
- [`report-a-bug.md`](https://github.com/auth0/java-jwt/blob/master/.github/ISSUE_TEMPLATE/report-a-bug.md)
- [`report_a_bug.md`](https://github.com/auth0/java-jwt/blob/master/.github/ISSUE_TEMPLATE/report_a_bug.md)

Both specify the same name, so GitHub currently shows neither of them:
![GitHub issue type selection screenshot](ht

[2021-03-30 22:21] Marcono1234 opened #487 "Hide `impl` package from javadoc (and module declaration)"
### Describe the problem you'd like to have solved
It appears the `impl` package contains part of the internal implementation and should not be used by the user.
However, some of its classes are public and there is no indication to the user that they should not be used.

### Describe the ideal solution
- Hide the package from javadoc
- Add a `package-info.java` file documenting that the package is

[2021-03-31 00:06] Marcono1234 opened #489 "Add JDK links to Javadoc"
### Describe the problem you'd like to have solved
Currently the [javadoc](https://javadoc.io/doc/com.auth0/java-jwt/latest/index.html) has no links to JDK classes, e.g. `java.lang.Object`. This makes browsing it slightly inconvenient.

### Describe the ideal solution
This could be solved by specifying the JDK link the Gradle build file:
[code]

## Alternatives and current work-arounds
Alternative

[2021-04-01 10:01] #481 closed

[2021-04-07 21:20] Marcono1234 opened #492 "Support `crit` header"
### Describe the problem you'd like to have solved
This library does not verify the `crit` header, as defined by [RFC 7515 §4.1.11](https://tools.ietf.org/html/rfc7515#section-4.1.11):

### Describe the ideal solution
I am not sure what the best approach here would be. Ideally verification of the `crit` header would be enabled by default, so any custom header specified in `crit` would be rejected.

[2021-04-08 11:40] lbalmaceda commented on #489
This is a good addition. Although, I'd like us to include it in our OSS release plugin instead, in a generic way. Probably using the JDK toolchain. I see in the code you are passing the minimum java version for this project, I'd assume that the value would be available exposed as property through the java gradle plugin, for example. Let me share this internally for more visibility.

[2021-04-08 15:14] lbalmaceda commented on #489
Would you like to send a PR with those changes you linked? The snippet below would need to go into the `build.gradle` file. We also tested that if the `-release` option is not passed later the default language version is taken from this toolchain block, which is acceptable to us. We'll wait for your reply

[code]

[2021-04-08 16:00] lbalmaceda commented on #492
You're correct. The library doesn't support verifying the `crit` header in any way. Let me bring this up internally and discuss it with the team.

Meanwhile, you should be able to perform the validation yourself by using the [getHeaderClaim(header-name)](https://github.com/auth0/java-jwt/blob/master/lib/src/main/java/com/auth0/jwt/interfaces/Header.java#L42) method from the `DecodedJWT` instance t

[2021-04-08 16:06] lbalmaceda commented on #486
Thanks for pointing this out. I just created a PR for it.

[2021-04-08 22:50] Marcono1234 commented on #492
To be honest, I am not actually using your library (or another library) at the moment for any of my projects, but stumbled across it and thought that such an addition might be useful.
So don't treat this with high priority and feel free to close the issue or put it on ice until more users voice this feature request.

[2021-04-09 07:52] lbalmaceda commented on #487
This would be solved with the changes you proposed for #489.

If the package is no longer going to be included in the javadocs, we can probably skip this change if the intent is just to hide the `impl` package.

Good catch! These should also be removed. If you want to take them as well with the same PR that's OK to us.

[2021-04-09 19:44] #486 closed

[2021-04-10 01:43] Marcono1234 commented on #487
Maybe it would be useful nonetheless so it is obvious to users browsing the code that the package contains internal implementation details.

[2021-04-10 18:39] Marcono1234 commented on #489
Do you mean the root `build.gradle` file? I would prefer to place it in the `lib/build.gradle` file (where the branch I linked also added it) since the release version specified there should be the same as the one used for compiling.

In most cases this probably does not make a difference. However, there can be cases where `javac` for JDK 8 succeeds but `javadoc` for JDK 16 fails, e.g. when callin

[2021-04-14 20:46] jimmyjames commented on #461
3.15.0 uses java.util.Base64 instead of commons-codec.

[2021-04-22 20:31] jimmyjames commented on #487
I agree; it's worth adding.

[2021-04-28 16:33] #489 closed

[2021-05-03 16:58] lbalmaceda commented on #492
We discussed this with the team. Adding support for verifying the `crit` header is not in our near future plans. We also consider that this could be done today outside of the library with the features that the library already provides.

In short, it would look like this:
1. [Decode the JWT](https://github.com/auth0/java-jwt/blob/master/lib/src/main/java/com/auth0/jwt/JWT.java#L44) to get access to

[2021-05-03 16:58] #492 closed

[2021-05-17 14:35] jimmyjames commented on #487
Fixed with https://github.com/auth0/java-jwt/pull/496, shipped in 3.16.0

[2021-05-17 14:35] #487 closed

[2021-06-11 15:08] XakepSDK commented on #483
Not stale

[2021-06-16 21:27] #474 closed

[2021-06-20 10:27] kkolodzi commented on #474
śr., 10 lut 2021, 09:04 użytkownik Jørund Amsen ***@***.***>
napisał:

[2021-06-23 09:46] lbalmaceda commented on #483
Closed with the PR linked above. Will be available soon.

[2021-06-23 09:46] #483 closed

[2021-06-29 10:08] driverpt opened #500 "Possibility to customize Clock"
### Describe the problem you'd like to have solved

Customize `Clock` for Testing

### Describe the ideal solution

When building the Verifier, add the possibility of customizing the Clock as it's already present in `build(Clock clock)` method.

Ideally it would be necessary to implement something like `JvmClock` as it's used in other libraries.

e.g.:

[code]

## Alternatives and current work-aro

[2021-07-05 13:14] lbalmaceda commented on #500
@driverpt that's the API we've decided for that. The clock is a value that we really don't want to expose as it could completely change the result of time-related claims verification. But we have documented that if you need to change it for unit tests purposes, you can do it casting the builder instance. See https://github.com/auth0/java-jwt#time-validation.

[2021-07-05 18:53] wfhartford opened #503 "KeyProvider makes reliable implementation challenging"
### Describe the problem

The `KeyProvider` interface allows users to easily implement signing key rotation. This interface includes two methods used when signing a JWT: `getPrivateKeyId()` and `getPrivateKey()`. When key rotation is being used, subsequent invocation of these two methods may return different results as one signing key is swapped for a new one. This creates a race condition when si

[2021-07-05 19:07] wfhartford commented on #503
Removed reference to thread-safe from title as this is not really a threading issue and is quite possible in a single threaded use-case.

[2021-08-13 18:39] pravsingh opened #506 "TokenUtils:: splitToken need to optimize on split()"
### Describe the problem

Use of String.split() with regex param is not optimal. Given the library is used heavily in realtime scenario, We should explore and optimize wherever we can.
I feel like some common String usage like split() or replaceAll() can be further optimized by pre compiling the regex.

[code]

It can be improvement by holding on Pattern.compile(regex) object and reusing it to cal

[2021-08-17 15:46] ebickle opened #507 "3.8.0 introduced a breaking change"
### Describe the problem
Version 3.8.0 of the library introduced a breaking change that broke binary compatibility. The method definition of `com.auth0.jwt.interfaces.Verification.withAudience` changed from `(String)` to `(String[])` when the parameter was modified from being a regular `String` to using a varargs.

The breaking change is not documented.

### What was the expected behavior?
Upgradi

[2021-08-30 10:48] yeDor opened #508 "PublicClaims.AUDIENCE (aud) expected to be String or "Array of Strings", not Collection(aka List) by PayloadSerializer"
### Describe the problem
By default jackson deserializes to ArrayList. Can not find an easy way to change this behavior.
so, having payload = `{exp=1630398915, aud=["firma_x","firma_y"]}` following code

[code]
will cause an exception:

[code]
Not sure, why special handling for PublicClaims.AUDIENCE is needed in first place, but it could be much more convenient  to support collections as well.

No

[2021-08-30 11:03] nelenkov opened #509 "java-jwt doesn't work with ECDSA keys managed by Android keystore"
### Describe the problem

JWT tokens cannot be signed with keys managed by the Android keystore.

### What was the expected behavior?

Signing should succeed whether private keys are hosted by keystore or not.

### Reproduction

- Step 1. Create an ECDSA private key as described here: https://developer.android.com/training/articles/keystore#GeneratingANewPrivateKey
- Step 2. Try to initialize the

[2021-08-30 12:41] yeDor commented on #508
Update:
Found jackson feature [USE_JAVA_ARRAY_FOR_JSON_ARRAY](https://fasterxml.github.io/jackson-core/javadoc/1.9/org/codehaus/jackson/map/DeserializationConfig.Feature.html#USE_JAVA_ARRAY_FOR_JSON_ARRAY)

Unfortunately it is even worse, as in this case another exception is produced and not for this single PublicClaims.AUDIENCE Claim, but everywhere, where collection(array) is used:

[code]
Excep

[2021-08-30 20:28] jimmyjames commented on #507
Thanks @ebickle for raising this. You are correct that no breaking changes should be included in a minor release; and if it needs to be done for some reason, it should be documented. I suspect this one got through because it may _seem_ ok, but is indeed a binary incompatible change. We have added checks to our build pipeline to catch these sort of issues to prevent unintended breaking changes, but

[2021-08-31 18:40] jimmyjames commented on #508
Thanks for the good details and steps to reproduce @yeDor! We have special handling in place for the `aud` claim as if it's a single value, we write that string; if it's multiple values (we use `String[]` internally) we write it as an array. The `withPayload` method exposes the issue you've discovered, but I think we should be able to handle both Lists and String arrays without issue when serializ

[2021-09-01 15:45] yeDor opened #511 "Not allowed null values in Map"
### Describe the problem

For not clear reasons library do not accept null values in maps. Check can be found in com.auth0.jwt.JWTCreator.Builder#validateClaim(java.util.Map<?,?>).
Having payload = `{"meta": null,"products": [{"metaInMap": null}]}` following code

[code]
will cause an exception:

[code]

Note: `meta -> null` is ok, but `metaInMap -> null` produces an exception

### What was the ex

[2021-09-03 18:47] jimmyjames commented on #511
You are correct; our null-handling is a bit inconsistent throughout, and is something we should handle consistently. @lbalmaceda do you have the history for why we do not allow `null` claim values for maps, but do for lists?

[2021-09-03 18:54] jimmyjames commented on #507
@ebickle I assume you mean the change to `withIssuer`, not `withAudience`, as made in #288?

[2021-09-07 11:35] lbalmaceda commented on #511
@jimmyjames I don't remember why we made that decision but I see that what @yeDor is seeing is documented correctly https://github.com/auth0/java-jwt/blob/364bf598ac1da6305b95633e4d3e38933585e7b0/lib/src/main/java/com/auth0/jwt/JWTCreator.java#L365-L366

I do remember that we decided that when a claim's value was null, we deleted/removed that claim from the JWT we output, instead of adding it with

[2021-09-07 15:02] jimmyjames commented on #507
@ebickle I have a PR to restore `withIssuer(String issuer)` in #513. I'll keep it open for a couple days if you would like to review/try it. Thanks!

[2021-09-07 22:29] ebickle commented on #507
@jimmyjames Good catch, looks like I made a mistake in the original issue report. `withAudience` took a `String...` parameter in 3.3.0 and is the same in 3.8.0. `withIssuer` is the method that changed between the two.

Our build issue showed up because of some sort of unclean build or caching issue where a class was being deployed with a new library instead of being recompiled as it normally is. W

[2021-09-10 02:13] #508 closed

[2021-09-10 07:55] #507 closed

[2021-09-14 06:40] madhugn commented on #411
Team, is there any other workaround to make it work? I'm trying to <embedded> in my maven for an Adobe AEM project and the dependencies are not resolved

[2021-09-14 09:54] sliceh opened #514 "java.lang.NoClassDefFoundError: com/auth0/jwt/exceptions/JWTCreationException"
Using 3.18.1 java-jwt library gives me NoClassDefError

NoClassDef Error for classes like Algorithm, JWT and JWTCreationException when i am trying to run the application

What was the expected behavior?

 There should be no NoClassDefError

Reproduction

    try {
      val algorithm = Algorithm.HMAC256(auditLogGatewayConfig.ebJwtSecret)
      JWT.create.withIssuer(auditLogGatewayConfig.issuer).wi

[2021-09-14 23:48] grahamegrieve opened #515 "Support the "zip" property in JWT header"
I'd like the library to support the zip header defined in https://datatracker.ietf.org/doc/html/rfc7516#section-4.1.3

The ideal solution is that the library automatically un-deflates the content when the hard has "zip" : "DEF"

The only alternative it to roll my own local code

[2021-09-15 01:19] grahamegrieve commented on #515
if ("DEF".equals(header.get("zip"))) {
      payloadJson = inflate(payloadJson);
    }

 and

  public static final byte[] inflate(byte[] data) throws IOException, DataFormatException {
    final Inflater inflater = new Inflater(true);
    inflater.setInput(data);

    try (final ByteArrayOutputStream outputStream = new ByteArrayOutputStream(data.length))
    {
        byte[] buffer = new byte[BUF

[2021-09-21 11:53] rohitagrawal4u commented on #249
I was facing an issue on the similar lines with my Spring Boot Application. **java.lang.NoSuchMethodError: org.glassfish.jersey.internal.LocalizationMessages.WARNING_PROPERTIES()Ljava/lang/String**

`2021-09-20 15:27:47.927 INFO 11 --- [http-nio-9070-exec-7] o.a.c.c.C.[.[.[/].[dispatcherServlet]    : Servlet.service() for servlet [dispatcherServlet] in context with path [] threw exception [Handler

[2021-09-21 11:54] rohitagrawal4u commented on #249
I was facing an issue on the similar lines with my Spring Boot Application. **java.lang.NoSuchMethodError: org.glassfish.jersey.internal.LocalizationMessages.WARNING_PROPERTIES()Ljava/lang/String**

`2021-09-20 15:27:47.927 INFO 11 --- [http-nio-9070-exec-7] o.a.c.c.C.[.[.[/].[dispatcherServlet]    : Servlet.service() for servlet [dispatcherServlet] in context with path [] threw exception [Handler

[2021-09-26 12:41] Sirish23-ss commented on #270
I used this tool class. But it shows me error of public key null. can anyone help me?

[2021-10-05 10:06] lbalmaceda commented on #506
With the only change that `splitTokenPattern` now makes use of a previously defined _final_ Pattern

[code]

I wrote a quick snippet to test this out, and used 2 different JWTs (one short / one long) and different number of runs:

[code]

#### Results

1k
[code]

10k

[code]

10M
[code]

As seen above, having a constant `Pattern` actually makes it take longer than with a runtime defined `Regex`.

[2021-10-05 10:37] lbalmaceda commented on #500
Closing due to inactivity.

[2021-10-05 10:37] #500 closed

[2021-10-05 11:14] lbalmaceda commented on #515
@grahamegrieve Thanks for the interest. This library implements https://tools.ietf.org/html/rfc7519. Support for that header claim or the ability to decompress the content is not going to be added, as we attempt to stay aligned to what Auth0 supports or makes use of for authentication.

[2021-10-05 11:14] #515 closed

[2021-10-05 15:57] lbalmaceda commented on #503
Thanks for offering to create a PR. In theory, it seems that that inconsistency could happen. We would like to see the solution you propose but would be good to first demonstrate that the issue is present, so we can have something to compare against and see if it's fixed when the solution is implemented. We will wait for you to provide that first. Cheers.

[2021-10-10 13:26] Pranavb333 opened #518 "Support for EdDSA signing"
### Problem
Are EdDSA signatures going to be supported? Even PyJWT supports it (https://pyjwt.readthedocs.io/en/stable/algorithms.html).

JDK has added support for EdDSA (https://openjdk.java.net/jeps/339).

[2021-10-18 15:03] #509 closed

[2021-10-19 15:36] Ashwin-Raj18 opened #519 "maven: jar error in opening zip file"
![mvn-jwt](https://user-images.githubusercontent.com/63547678/137943981-7c9e1908-ea79-4def-9280-b062c1c608e0.png)
Maven build fails due to this error

[2021-11-01 14:47] lbalmaceda commented on #503
Thanks for supplying the PR.

We agree, but as a proof of concept, it still helps to illustrate the issue. When we tackle this we will probably test against higher values closer to minutes to be a bit more realistic.

[2021-11-01 19:22] wfhartford commented on #503
Testing with realistic values like minutes is likely to hide any problems rather than expose them. A valid solution to this problem would make the issue impossible regardless of the rotation frequency.

[2021-12-03 17:01] meraedit opened #520 "token signature verification fails for ECDSA and jwks starting with java 15"
### The JWT token is not verified when using the key from jwks in the latest java version (or >=15.0.2), but it worked with older java versions (11, 13, 14).

### Reproduction

Please run the attached java code [jwt verification.zip](https://github.com/auth0/java-jwt/files/7650970/jwt.verification.zip)
You need to serve the atached keys.json and update the url in the java sample.
When using an old

[2021-12-07 21:44] rockwotj commented on #520
I think this as well with 17.0.1

[2021-12-20 15:30] jimmyjames commented on #518
Thanks @Pranavb333 for raising. We're going to take a look at support for EdDSA in this library and others. We'll follow-up here (FYI may be after the new year)

[2021-12-30 06:13] leonchen83 opened #521 "Invalid date in header"
### Describe the problem

Invalid date in header after decoded

### What was the expected behavior?

valid date after decoded

### Reproduction

[code]

console log print
[code]

above is not a valid year

### Environment

- **Version of this library used:** 3.18.2
- **Version of Java used:** java 11

[2021-12-30 22:32] poovamraj commented on #521
Hi @leonchen83, Thanks for notifying us

This error is happening because we [multiply the value we get with 1000](https://github.com/auth0/java-jwt/blob/master/lib/src/main/java/com/auth0/jwt/impl/JsonNodeClaim.java#L63)

This is done because when we serialize information like EXPIRES_AT, ISSUED_AT and NOT_BEFORE in the Payload, [We convert milliseconds into seconds](https://github.com/auth0/java-

[2022-01-07 23:12] Lalaluka opened #522 "Support java.time instead of or alongside java.utils.date"
### Describe the problem you'd like to have solved
The library still uses java.utils.date instead of the newer java.time API
A change towards java.time or support alongside utils.date would be great for developer convenience.

### Describe the ideal solution
Something similar to #392

### Alternatives and current work-arounds
--

### Additional information, if any
I have seen that there have been

[2022-01-10 15:58] jimmyjames commented on #519
Hi @Ashwin-Raj18, thanks for raising. I'll try and reproduce using those versions and see what might be going on.

[2022-01-10 16:20] jimmyjames commented on #519
@Ashwin-Raj18 are you still experiencing this issue? I wasn't able to reproduce with a local example. If still an issue, can you provide a simple app or build file that demonstrates the problem?

[2022-01-10 22:08] jimmyjames commented on #506
Closing this issue per @lbalmaceda's findings above.

[2022-01-10 22:08] #506 closed

[2022-01-14 17:55] rockwotj commented on #520
Do we know what the underlying exception that the JDK is throwing here? Did one of the string constants for the algorithm get renamed?

[2022-01-23 17:21] whichperson commented on #511
Hello, could you please allow null values in a Map, again? I understand the reasoning behind not allowing null keys but it isn't very useful for the values. This issue is really preventing me from using your library because I have custom subject claims that have an object with null values. I don't want to remove it from the map, I need it to be there for the frontend. For example:

[code]
Thank yo

[2022-02-09 04:37] jimmyjames commented on #522
Thanks @Lalaluka! We may be able add newer java.time APIs alongside the existing Date APIs in the current release stream, by adding some new methods to the various interfaces to support new APIs that have a default implementation. I can explore this further; anyone willing to try it out once I have something? Thanks!

[2022-02-09 16:09] Lalaluka commented on #522
Of course!
If it helps I'm happy to test/review once you have something :)

[2022-02-10 16:40] jimmyjames commented on #518
As noted, this isn't supported by JDK < 15. As this library supports Java 8, this isn't something we're going to take on now. I'll keep an eye on this issue in case anyone wants to see if there's a way to add support in a way that won't break Java < 15 usages, if that's possible without requiring more extensive changes.

[2022-02-10 16:40] #518 closed

[2022-02-14 11:33] LukaszSuma opened #527 "'exp' claim is not validate by JWTVerifier properly"
Describe the problem
If for example you would like to verify whether 'exp' claim value is the same as some another variable value then is not validate by JWTVerifier object. You can pass everything what you want and it will pass

What was the expected behavior?
Should be thrown an exception about 'exp claim didn't pass validation' or something like that. It is totally up to you.

Reproduction
	pub

[2022-02-14 13:15] LukaszSuma commented on #527
You can also tell me why DecodedJWT.getExpiresAt() returns date instead of epoch long value? It is not clear for me because in JWT I'm keeping epoch time (not milis) and from Date object I cannot get an epoch time easily. Of course I can do that DecodedJWT.getClaim("exp").asLong() but it looks weird.

[2022-02-17 21:51] jimmyjames commented on #527
Hi @LukaszSuma,

As a standard claim, the `exp` claim validation handling ensures that the current date/time is before the `exp` value, as [specified by RFC 7519](https://datatracker.ietf.org/doc/html/rfc7519#section-4.1.4). `exp` claim validation can be configured to allow a small leeway, using the `acceptExpiresAt(long leeway)` or `acceptLeeway(long leeway)` (the latter will apply to all standar

[2022-02-18 09:49] poovamraj commented on #520
The sample code you shared seems to reproduce the issue. But seeing the changelogs for Java 15, though they have [disabled support for certain curves](https://www.oracle.com/java/technologies/javase/15-relnote-issues.html#JDK-8237219) in the EC algorithm, the key used in the sample seems to be supported.

I generated a new key pair and the issue is not reproducing in that.
[code]

Can you tell us

[2022-02-18 10:15] meraedit commented on #520
Hello, I just used this site https://mkjwk.org/ to generate the keys and the jwks .. since that was only for testing purposes.

[2022-02-18 10:25] meraedit commented on #520
This is the one that I used in the sample,  if it helps:
{
            "kty": "EC",
            "d": "18HYhm2RcgS8OXbofnClTpFNnEQrSwpnKH6uBuL9pgA",
            "use": "sig",
            "crv": "P-256",
            "kid": "3LNaPaJX93XTknKf0L_RGoZGM0BKaqtWdAzSQxP-FDg",
            "x": "yb790G3aOB92lsoGfrhQratQBvA330pi8rMeorATe7c",
            "y": "E1WCwNSDv2hp4Ttgu7HY0zbEPpcrHIMnP16XrtMQ69Q",

[2022-02-18 10:31] poovamraj commented on #520
Thanks @meraedit I checked it out and looks like keys generated from the same site works for me in the same sample code. Can you try it again? Probably there was some issue while copying the code or you can check the configuration I have selected and verify whether it is the same you used.

<img width="1431" alt="Screenshot 2022-02-18 at 15 58 12" src="https://user-images.githubusercontent.com/159

[2022-02-18 10:35] meraedit commented on #520
The difference is that I selected SHA-256 instead of "Specify" for the Key ID

[2022-02-18 10:37] poovamraj commented on #520
That shouldn't be an issue, I tested it with SHA as well, it is just a selector and it worked. Is the issue still reproducing for you if you generate new keys from the same website?

[2022-02-18 10:56] meraedit commented on #520
I generated another one and it doesn't work:
![key](https://user-images.githubusercontent.com/8006341/154669845-0ece6901-f949-4ed6-841c-304af50ebaae.png)

Public and Private Keypair
{
    "kty": "EC",
    "d": "vpdg7gNZ4qF7RaAvPJ87b1QQEWzCzRrN_4L9QQeeaM8",
    "use": "sig",
    "crv": "P-256",
    "kid": "123",
    "x": "b25UZzwkKpPK5FlPjAtqhlii6MkOnhxqXo9pK3Mfa6A",
    "y": "z2lSXy6byzVdSExkqlsYL

[2022-02-18 11:25] poovamraj commented on #520
@meraedit I guess we figured the issue. You are choosing the option with a disabled curve type `secp256k1`. You can read it in this changelog for Java 15 - https://www.oracle.com/java/technologies/javase/15-relnote-issues.html#JDK-8237219

You can choose the option which doesn't mention the curve (1st option in the website) and it should work.

Since this is a change in JDK itself I guess we won't

[2022-02-18 11:25] #520 closed

[2022-02-18 12:19] meraedit commented on #520
Thank you for investigating the issue, it's good to know that some types of keys are not not supported by java anymore.

However, something is still unclear to me. I see there is a secp256k1 option for the curve on the site, but I selected **P-256** as you can see in my screenshot.

[2022-02-18 12:28] meraedit commented on #520
I also see "crv": "P-256" for all the keys I pasted. Or is there something wrong with the site? Selecting P-256 and it actually generates something else?

[2022-02-18 12:38] poovamraj commented on #520
I generate with
Curve - P-256
Key Use - Signature
Algorithm - ES256: ECDSA using P-256 and SHA-256

Which generates following values
**JWK**
[code]

**Private Key**
[code]

**Public Key**
[code]

And for this, the sample code you shared seems to work. Can you try these values in your code?

[2022-02-18 12:58] meraedit commented on #520
I can confirm that the pair above works, thank you.
But I generated the one in the screenshot with the same Curve - P-256, Key Use - Signature, Algorithm - ES256: ECDSA using P-256 and SHA-256 and my sample fails. So I don't really know what is the difference then.

[2022-02-18 13:12] meraedit commented on #520
I am using JDK v15.0.2 and v.17.0.1 and it's the same behavior with openjdk v.17.0.1

[2022-02-18 14:14] poovamraj commented on #520
@meraedit I guess the issue is with the website. Some keys generated doesn't seem to be working. Can you try with other algorithms or generate the keys using openssl in one of the supported curves?

[2022-02-18 15:49] meraedit commented on #520
Thank you, I will use openssl from now on.
RSA algo works, we only had problems with ECDSA and jwks. It is weird that ECDSA without jwks worked also.

[2022-02-22 13:36] davidgodzsak opened #529 "Unable to deserialize Claims of Lists with polymorphic types"
### Describe the problem

I am unable to deserialize Claims of Lists with polymorphic types. I have a list of arguments that I am trying to pass into the JWT token as a claim. This list contains subclasses of a parent/generic class with a discriminator field.

### What was the expected behavior?

When I call `decodedToken.getClaim("poly_arguments").asList(Poly.class)`, I expect to get the list wit

[2022-02-23 12:20] poovamraj commented on #529
Hi @davidgodzsak, I was able to fix this issue by registering your types in the following way

[code]

Hope this helps.

Regarding exposing the Jackson Mapper. We will consider this use case internally and if the team agrees, will implement it in the upcoming Major.

I am closing this ticket since the issue seems to be resolved. Please feel free to reopen this if you have any more doubts regarding

[2022-02-23 12:20] #529 closed

[2022-03-15 09:02] Foyerwehr opened #548 "Empty JWT values do not work as expected"
### Describe the problem
Empty JWT values do not work right now as expected from the rfc7519. The rfc7519 defines in section 10.3.1 "Encoding considerations", where empty string values are allowed.

### What was the expected behavior?
The expected behavior would be that emty values in the JWT are valid.

If the protected-header or the payload is empty, I would expect that we get a valid DecodedJWT

[2022-03-16 12:28] poovamraj commented on #548
Hi @Foyerwehr, Thanks for the suggestion. We will have an internal discussion regarding supporting this and update you here.

[2022-03-17 20:21] petrdvorak opened #554 "Using a private key when validating JWT"
### Describe the problem

Documentation uses the following code snippet for the JWT verification example:

[code]

This suggests that the **private key** somehow enters the verification process, and that it is required. The documentation should clearly specify that the private key must be set to `null` in such case, to avoid accidental fetch of the plain private key in the code that does not need

[2022-03-17 20:30] petrdvorak commented on #291
@hoto Best... visualization... ever... 😄 I opened auth0/java-jwt#555 to address this, the docs also stroke me visually and no, there is no situation when private key is required during the JWT verification.

[2022-03-18 11:43] #554 closed

[2022-03-18 19:28] jimmyjames commented on #548
@Foyerwehr can you provide an example of a JWT payload to demonstrate? Is it handled how you'd expect when using the debugger on [https://jwt.io](https://jwt.io)?

In section 7.2 of the RFC, it states:

When I try and decode a JWT with an empty string as the claim set on jwt.io, I get a warning message referring to this section of the RFC. So, it seems we'll need to understand the potential discre

[2022-03-20 21:06] petrdvorak opened #557 "Document `withClaimPresence()` method"
Having a requirement on minimal JWT structure seems to be a common task. As a result, the verification of a claim presence should be well documented. While the builder method `withClaimPresence` exists in the code, the documentation does not mention it at all...

[2022-03-21 02:48] Redeeman opened #558 "undesired behavior for withClaimPresence / alternatively inadequate documentation"
(i do not agree to the code of conduct)

### Describe the problem

Implementing JWT in an application, I decided that I did not want to accept tokens without expiry, so I activated .withClaimPresence( "exp" ), to ensure that any token without expiration would not be accepted. This appears to have disabled verification of the expiry.

All the docs say for this method is "Require a claim to be prese

[2022-03-22 08:57] skjolber opened #559 "Add listener interface for detecting whether RSA keys have been rotated"
### Describe the problem you'd like to have solved
We operate a tenant with unique audiences per application. These applications also call on each other, each caching the JWTs for outgoing calls. So in a nutshell, the issuer is the same for in- and outgoing JWTs.

So it might happen that the JWKs are refreshed while we're holding a cached JWT. If the JWKs have been rotated since the cached token w

[2022-03-22 18:25] poovamraj commented on #557
Hi @petrdvorak, we are actively working on a new major release that will have the documentation updated. Since we are tracking this internally, I will close the ticket here. Thanks for the feedback. We will definitely work on this.

[2022-03-22 18:26] petrdvorak commented on #557
Thank you. 👍

[2022-03-22 18:33] poovamraj commented on #558
Hi @Redeeman, we tried to reproduce the issue using the following code and it doesn't seem to reproduce for us. Every time the expiry is validated even if presence is checked for it. Can you provide a full sample where the issue reproduces?

[code]

[2022-03-24 12:02] quintonn opened #563 "Unable to verify JWT without secret key"
I want to validate a JWT's signature without the secret key, just like https://JWT.IO does it.

But the code does not seem to allow that.

This is the code I tried:

[code]

I am trying two methods sort of, but it doesn't get past the algorithm setup line.

I have to provide the same key for this code to work. Which doesn't seem correct.

[2022-03-27 07:20] Junesui opened #567 "com.auth0.jwt.exceptions.JWTDecodeException: The input is not a valid base 64 encoded string."

[2022-03-27 08:00] Junesui commented on #567
![image](https://user-images.githubusercontent.com/53398033/160272487-e3cfe0f3-733c-4b2f-8316-51f82657d140.png)

**It seems that there is an error because there is a double quotation mark here.**

[2022-03-27 08:13] Junesui commented on #567
The front-end page has a double quotation mark when passing the value 。 already solved it。
close

[2022-03-27 08:13] #567 closed

[2022-03-28 12:11] poovamraj commented on #563
Hi @quintonn, As you can see in jwt.io, The secret key is used based on the algorithm. It is just prefilled with a sample key. You can find this under the "VERIFY SIGNATURE" section.

Can you provide more details on the use case you are trying to achieve here? Verifying just the claims without the algorithm isn't possible currently using the library.

[2022-03-28 14:12] quintonn commented on #563
Well part of the JWT spec is to be able to verify that a JWT has not been tampered with.
With certificates that is done using the public key, which makes sense.
But when a JWT is signed with a secret, it should still be possible to verify the signature without actually having the secret key used to create the token.
But that does not seem possible with this library.
Or am I missing something?

And

[2022-03-28 18:01] poovamraj commented on #563
Hi @quintonn, Can you share what algorithm is used to create this JWT? Also a sample/reproduction with *sample secrets* would really help us understand the issue.

[2022-03-29 07:45] poovamraj commented on #558
Hi @Redeeman 👋 we noticed that you have mentioned that you don't agree with the code of conduct. We were curious about which part of it that you don't agree with.

[2022-03-29 12:15] hniemchenko commented on #558
I ran into the same issue as described here. @poovamraj, your exact snippet for me does not throw an exception (it should, as the token is expired). If `.withClaimPresence( "exp" )` is removed, the exception is thrown:
`com.auth0.jwt.exceptions.TokenExpiredException: The Token has expired on Sat Sep 17 08:57:02 EEST 2011.`

[2022-03-29 12:46] poovamraj commented on #558
Hi @hniemchenko, Thanks for that and we are able to reproduce this issue 👍  We are internally tracking this in [SDK-3231]. We will provide you with an update on how we are planning to handle this.

[2022-03-29 16:25] skjolber commented on #559
@poovamraj I've updated the issue. This should be pretty trivial.

[2022-03-29 18:49] Redeeman commented on #558
@poovamraj im glad you were able to reproduce. I guess the "waiting for customer" label can be removed then.

Regarding your previous question, what I do not agree about with the contributor covenant. It is not most of what is in it I disagree with, it is the process of its creation, and its wording. To provide one example, the contributor covenant says:

I think that this is an extremely poor wor

[2022-03-30 09:37] quintonn commented on #563
Below  is the code to sign and verify the JWT:

**But, as you can see, in order to validate/verify the token, I need the password.
How can I do this without having to know the password??**

And this should be possible, because if I paste the token into JWT.io, it is able to verify my signature without knowing the secret key.

[code]

[2022-03-31 09:14] poovamraj commented on #563
@quintonn HMAC should be used when the client can be maintained as a secret between all the token users. In the case of public clients, RSA or ECDSA are more suitable.

Verifying a token without its public key cannot verify whether the token has been tampered with (Signature verification). This is not recommended as it is highly insecure.

jwt.io uses the secret already provided in the "Decoded" s

[2022-03-31 10:13] quintonn commented on #563
Ok, I think I get it.
The HMAC should only be used if the secret is known when signing and verifying the token, such as on an authorization server or similar.
But for verifying a token signed by someone else, one of the other algorithms should be used where public/private keys are used??

I think in that case you can close this ticket.

Thank you for helping me with this, I thought even the HMAC a

[2022-03-31 10:33] poovamraj commented on #563
Happy to help :) Feel free to reopen this issue if you have any more doubts. Closing this for now.

[2022-03-31 10:33] #563 closed

[2022-04-26 00:51] jimmyjames commented on #511
We will be consistently handling `null` claim values in v4; see #564 for reference. Thanks!

[2022-04-26 01:02] jimmyjames commented on #559
Hi @skjolber, as this library does not handle JWK sets directly, and instead exposes the `KeyProvider` interface for implementation, can you expand on what specific addition you'd like added to this library? Perhaps a code snippet or proposal would help us evaluate this request better. Thanks!

[2022-04-27 10:44] poovamraj commented on #503
Hi @wrhartford,

We evaluated addressing this in [this PR](https://github.com/auth0/java-jwt/pull/570), but
have decided to not move forward with it at this time for the following reasons:

- The issue can be worked around by using flags to ensure rotation doesn't happen while signing,
as demonstrated [here](https://gist.github.com/poovamraj/fc58458d50394b1db6bb7de4b4937fa6).
- The DX to address i

[2022-04-27 10:44] #503 closed

[2022-05-06 14:44] #558 closed

[2022-05-06 14:45] poovamraj commented on #511
Hello 👋

We have fixed this behaviour in our latest [v4.0.0-beta.0](https://github.com/auth0/java-jwt/releases/tag/4.0.0-beta.0) release. We will close this issue now. Please try the new release and provide your feedback. Please note that there are changes in the library's behaviour in the new major and check out our [Migration Guide](https://github.com/auth0/java-jwt/blob/master/MIGRATION_GUIDE.m

[2022-05-06 14:45] #511 closed

[2022-05-06 14:45] poovamraj commented on #521
Hello 👋

We have fixed this behaviour in our latest [v4.0.0-beta.0](https://github.com/auth0/java-jwt/releases/tag/4.0.0-beta.0) release. We will close this issue now. Please try the new release and provide your feedback. Please note that there are changes in the library's behaviour in the new major and check out our [Migration Guide](https://github.com/auth0/java-jwt/blob/master/MIGRATION_GUIDE.m

[2022-05-06 14:45] #521 closed

[2022-05-06 14:45] #522 closed

[2022-05-06 15:07] overheadhunter opened #586 "Nested Claims"
### Describe the problem you'd like to have solved

For both header and payload, a key may contain an object as its value, as shown for `foo` in this example:

[code]

I'm looking for a convenient way to access the values for `bar` or `baz`.

### Describe the ideal solution

Please add a `Claim asClaim()` method (suitable for `foo`) and `Claim[] asClaims()` (suitable for `foo.baz`). Basically ever

[2022-05-10 06:27] abhishekbhat004 commented on #548
Hi @jimmyjames,
The latest ACME spec requires support for payloads with an empty string ("").
(https://datatracker.ietf.org/doc/html/rfc8555#section-6.3)

Right now if I try to parse a payload with an empty string, I get an exception
com.auth0.jwt.exceptions.JWTDecodeException: The string '' doesn't have a valid JSON format.

[2022-05-10 09:23] abhishekbhat004 opened #588 "Support for payloads with an empty string"
Can payloads with empty string be handled?
The latest ACME specification requires support for payloads with an empty string ("").
(https://datatracker.ietf.org/doc/html/rfc8555#section-6.3)

Right now if I try to parse a payload with an empty string, I get an exception
com.auth0.jwt.exceptions.JWTDecodeException: The string '' doesn't have a valid JSON format.

[2022-05-10 09:25] poovamraj commented on #588
Hi @abhishekbhat004, can you provide a sample JWT?

[2022-05-10 11:19] abhishekbhat004 commented on #588
{
  "protected": "eyJhbGciOiAiUlMyNTYiLCAia2lkIjogImh0dHBzOi8vc2VydmVyMS5xYS5lbXVkaHJhLm5ldC9lbVNpZ25BQ01FLUFQSS9hY21lL2FjY3QvMzFmZmI0MGItNjJhZS00NzY2LTkzYTYtYjg4MTMxYTJlZjY5IiwgIm5vbmNlIjogIjM4OTY4NWE5LWEwZjYtNDUyZi05ODg0LWEyYTU3ZGFhNzUxNSIsICJ1cmwiOiAiaHR0cHM6Ly9zZXJ2ZXIxLnFhLmVtdWRocmEubmV0L2VtU2lnbkFDTUUtQVBJL2FjbWUvYXV0aHovMDYwYzcwZmUtNmRmYy00MDY3LWI4YTctMzU3ZWIxNDM2Yzg2In0",
  "signature": "

[2022-05-17 12:46] poovamraj commented on #559
@skjolber We are closing this issue for now as we need more details to start analyzing this. Please feel free to reopen this ticket and we will be happy to help.

[2022-05-17 12:46] #559 closed

[2022-05-17 12:51] poovamraj commented on #586
Hi @overheadhunter, At this point, we don't see ourselves supporting this API but we will take a note of it and based on future requests, we can consider taking it up. Sorry about it.

Hopefully, the `<T> T as(Class<T> clazz)` method supports your use-case though.

[2022-05-17 12:51] #586 closed

[2022-05-17 14:17] poovamraj commented on #588
Hi @abhishekbhat004, This seems like a useful feature and since it is already requested in #548 would you be open to submitting a PR for this. We would be happy to guide you through it.

[2022-06-27 09:36] MTayyabSarfraz opened #591 "pass "iat" or "eat" as string or long value"
Wouldn't it be better to give the option to pass `issuedAt`/`expiredAt` as long(milisec) rather than parsing it to date first?
Will reduce the developer's effort!

[2022-06-28 10:56] ppawlowski15 opened #592 "ConcurrentModificationException bug"
### Describe the problem

I'm using single instance of Verifier
`private static final Verification verifier = JWT.require(Algorithm.RSA256(getPublicKey("/keys/public.pem"), null));`

and I'm getting ConcurrentModificationException from time to time during call verify method

`
java.util.ConcurrentModificationException at java.base/java.util.ArrayList$Itr.checkForComodification(ArrayList.java:1043)

[2022-06-30 08:52] poovamraj commented on #592
Hi @ppawlowski15, can you share the code snippet that is throwing this error as well?

[2022-06-30 15:07] poovamraj commented on #591
Hi @MTayyabSarfraz we have consciously taken a step to not provide this API as it could cause confusion (Especially accepting string type). Our latest library also accepts `Instant` which has a much neater API that you can use. Hope that help. Please feel to reopen this issue if you have more doubts

[2022-06-30 15:07] #591 closed

[2022-06-30 15:15] poovamraj commented on #588
Hi @abhishekbhat004 we have noted this down in our backlog but since this in not in our priority in near future we are closing this issue. Please feel free to contribute to this feature or reopen this issue for more doubts.

[2022-06-30 15:15] #588 closed

[2022-06-30 15:16] poovamraj commented on #548
Hi @Foyerwehr, we have taken a note of this feature to our backlog but since this is not in our near future roadmap, we are closing this issue for now. Please feel free to contribute to this feature or reopen this issue if you have more doubts

[2022-06-30 15:16] #548 closed

[2022-07-01 01:51] yueguilin opened #593 "NoSuchMethodError: com.auth0.jwt.JWTCreator$Builder.withPayload"
implementation group: 'com.docusign', name: 'docusign-esign-java', version: '3.18.0'
implementation group: 'com.docusign', name: 'docusign-esign-java', version: '3.17.1'
implementation group: 'com.docusign', name: 'docusign-esign-java', version: '3.15.0'

stack info:

org.springframework.web.util.NestedServletException: Async processing failed; nested exception is java.lang.NoSuchMethodError: com.

[2022-07-01 08:00] ppawlowski15 commented on #592
`
private static final Verification verifier = JWT.require(Algorithm.RSA256(getPublicKey("/keys/public.pem"), null));

public DecodedJWT verifyToken(String token) {
        return verifier.build().verify(token);
}
`
Maybe I should finalize builder of Verifier in first line to get JWTVerifier there once. Anyway the exception shouldn't be thrown, I think

[2022-07-04 12:17] Artur- commented on #411
Hey @jimmyjames. Will you accept a PR for this?

[2022-07-07 00:16] whichperson opened #594 "Token Compression Algorithm"
### Describe the problem you'd like to have solved
I have a huge problem where the access token is so long, the server rejects the HTTP requests. I use this library to generate access tokens. These tokens have a large amount of information (e.g. more than 100 user authorities in the form of a string). It is impossible to remove this information to make the token shorter. I'd prefer not to use a di

[2022-07-08 10:14] poovamraj commented on #593
Hi @yueguilin, The dependency you mentioned here seems to refer to this repository - https://github.com/docusign/docusign-esign-java-client. Please feel to reopen this issue if you have more doubts with respect to this repository

[2022-07-08 10:14] #593 closed

[2022-07-08 11:03] poovamraj commented on #594
@whichperson The reference you are saying seems to be library-specific and not a generic standard. We usually try to keep our features compliant with the RFC-7519. Do you have any resources that point to a standardised implementation of this?

[2022-07-09 10:02] whichperson commented on #594
Gzip compression is standard in Java. You can compress/decompress a String with this algorithm. It's in Java's docs https://docs.oracle.com/en/java/javase/18/docs/api/java.base/java/util/zip/GZIPInputStream.html.

[2022-07-12 17:28] aps-dnxt opened #597 "Support using Cryptographic providers"
Hi y'all

### Describe the problem you'd like to have solved

In my project, I'm required to use an HSM (Hardware Security Module) for computing digital signatures. This particular HSM provides a Java API which includes a java.security.Provider class. This class is tasked with making the HSM specific calls for computing signatures with a given java.security.PrivateKey reference.
The same could be

[2022-07-12 21:38] aps-dnxt commented on #597
Hello again,

I have the code ready but have no permissions to push a new branch ;). I was able to keep the API untouched, as the tests remain unchanged and still compile.

Hope to hear back from you. In the meantime, I'm using my fork from release-4.0.0.

Regards
Antonio Pedro Santo
[provider_support_patch.zip](https://github.com/auth0/java-jwt/files/9097021/provider_support_patch.zip)
s

[2022-07-12 21:39] aps-dnxt commented on #597
Yeah, in the previous comment I attached the patch but forgot to say so..

Regards
APS

[2022-07-13 09:29] MTayyabSarfraz opened #598 "Android Crash: Fatal Exception: java.lang.NoClassDefFoundError Failed resolution of: Ljava/util/Base64;"
**Problem:**

The app is crashing on some Rooted devices while working for most, crash logs are as follows:

[code]

[code]
**also**

[code]

###  **Reproduction**
Since crash is happening on some of clients' devices, I'm not able to reproduce on any of my devices
but had attached detailed Logs from firebase

### **Environment**

1.  I'm using 'com.auth0:java-jwt:3.19.2' version
2. Min supported S

[2022-07-13 14:16] poovamraj commented on #598
Hi @MTayyabSarfraz, as mentioned in the README, the best solution to be used for Android would be our [JWTDecode.Android](https://github.com/auth0/JWTDecode.Android) library. Hope this helps!

[2022-07-13 14:16] #598 closed

[2022-07-14 08:03] poovamraj commented on #598
Can you point to this doc @MTayyabSarfraz

I don't think we will support the Android platform in this SDK since it is for backend environments.

[2022-07-20 13:01] purejgleason opened #599 "JWKStore still unclear"
basically an extension of this question (https://github.com/auth0/java-jwt/issues/285)

I am trying to follow the JWKStore example I have tried to search for the Javadoc for the project `JWKStore` in the repo `https://github.com/auth0/jwks-rsa-java` but I still can't find it. Intellij IntelliSense also can't find it after importing the library.

[2022-07-22 09:02] poovamraj commented on #599
Hi, The JWKStore mentioned in the document is an "imaginary" implementation and I can see why it can be confusing. We have updated the README with a sample from our JWKS library which can be used for simple purposes - https://github.com/auth0/java-jwt/pull/600

Do let us know if you have more doubts about this

[2022-07-22 09:02] #599 closed

[2022-07-22 09:11] poovamraj commented on #594
Hi @whichperson though Gzip compression is a standard compression algorithm. JWT compression is not part of [RFC 7519](https://tools.ietf.org/html/rfc7519) which this library follows.

[RFC-7516](https://www.rfc-editor.org/rfc/rfc7516.html) seems to have a provision for compression but that is for JWE.

Even the library you mentioned seems to call out that it is non-standard and wouldn't be suppor

[2022-07-22 09:11] #594 closed

[2022-07-26 12:24] poovamraj commented on #592
Hi @ppawlowski15 I used your following code to reproduce this issue and tried it even with multiple threads and still not reproducing. Any help in reproducing this would be amazing

[code]

[2022-07-28 12:38] gitaxin opened #601 "Does JDK1.6 support?"
I want to use this package in JDK1.6 environment, which version supports it?

I have the following error when using it in JDK1.6:

 `java.lang.UnsupportedClassVersionError: JVMCFRE003 bad major version; class=com/auth0/jwt/JWT, offset=`

[2022-07-31 13:54] poovamraj commented on #601
Hello @gitaxin, this library currently supports all Java 8, 11 & 17. We currently do not support Java 1.6 as many of the APIs we have are not supported in it.

[2022-07-31 13:54] #601 closed

[2022-08-10 19:47] DallasP9124 opened #602 "Validating token without the need of an Algorithm"
At this time it does not seem that I can use the `JWTVerifier` to validate a token without requiring an `Algorithm` to do so. This seems odd since we can decode the token's without an Algorithm and we would essentially be having to implement that logic ourselves with the `JWTVerifier` interface with the same logic as the impl provided. But is this really what we would have to do to have a verifier

[2022-08-15 17:01] an-kcu opened #603 "Make RegisteredClaims values constants"
### Describe the problem you'd like to have solved

I would like to use the values defined in `RegisteredClaims` (and potentially `HeaderParams`) as annotation values, for example to model a JWT (full or just payload) using a custom class. Currently, the values defined in these classes are not marked `final` and therefore cannot be used in annotation values. As far as I can tell, there is no case

[2022-08-20 15:48] kpmueller commented on #592
hi,

I encountered a similar problem. I think this is caused by the documentation being unclear about how to use the builder and build methods.

When the `build` method is called, there is an array of checks that are copied into the new `JWTVerifier` instance.

[code]

Then in the new instance, the claims are copied:
[code]

This line creates new checks that are then added to the array:
[code]

Be

[2022-08-20 15:51] kpmueller commented on #592
I think it would be helpful to split out the builder functionality into a separate builder class, which is more the common pattern you find out there. Because they are in the same class, it's not clear on how to use them.

It would also make it clear you can create a final `JWTVerifier` instance from the builder, and that could be clearly marked as thread-safe and final.

[2022-08-22 08:56] poovamraj commented on #603
Hi @an-kcu, Thanks for raising this. It is a very valid request and we have raised a PR with this change - https://github.com/auth0/java-jwt/pull/604

I will close this issue for now but feel free to reopen it if you have any more doubts about this.

[2022-08-22 08:56] #603 closed

[2022-08-22 09:04] poovamraj commented on #602
@DallasP9124 verifying a JWT without an algorithm is not recommended as they could be tampered with. For this reason, we have made Algorithm mandatory for verification.

One provision we have but **do not recommend** is `Algorithm.none()` since this is also an insecure way of verifying a JWT. So at this point, we would recommend to have the public key in your application to verify the JWT.

Hope t

[2022-08-22 09:04] #602 closed

[2022-08-24 09:07] ppawlowski15 commented on #592
@poovamraj

[2022-08-24 09:08] ppawlowski15 commented on #592
@poovamraj

[2022-08-26 13:28] jimmyjames commented on #592
Thanks @ppawlowski15 and @kpmueller for the info.

@kpmueller is correct that you should create an instance of `JWTVerifier` using `build()` once, then reuse it.

@ppawlowski15 does doing that resolve the issue?

I also agree that the documentation needs to be improved, and if we can pull the builder out to its own class without introducing any breaking changes, we should do that.

Let us know @pp

[2022-08-28 08:00] kpmueller commented on #592
Thanks much! Your library is much appreciated :)

[2022-08-29 08:44] ppawlowski15 commented on #592
@jimmyjames
Yes, i've updated to 4.0.0 and change my code to build Verifier only once and no more errors spotted ;)

[2022-08-30 00:39] jimmyjames commented on #592
I've updated the documentation in #605. We can't split out the builder to its own class in the 4.x release as it would be a breaking change, but the additional documentation should help provide clarity. Thanks all for raising and providing all the good info! 🙇

[2022-08-30 01:28] #592 closed

[2022-09-04 00:34] gitaxin commented on #601
allright,Thanks!

[2022-09-06 13:09] jimmyjames commented on #597
Hi @aps-dnxt, apologies for the delay. Thanks for the request and offer to make a PR. We'll take a look at this and see if this is something that makes sense to add.

[2022-09-08 18:21] aps-dnxt commented on #597
Hi @jimmyjames

In our case it did given that we are using both BouncyCastle's Provider and a Luna HSM (which has it's own provider).
Maybe it's an edge case but it would also provide more flexibility to the lib. Win-win, right?

Regards,
APS

[2022-09-21 18:36] teagy commented on #597
I had a similar situation come up where I was using this JWT library in a java application running on a CentOS 7 image with FIPS enabled and it was refusing to allow any of the algorithms supported by this library to be used. It would be nice to allow alternative  providers like BouncyCastle for those cases. It would be great if Argon2 could be added. Spring's Security Crypto module uses bouncy ca

[2022-09-23 01:44] jimmyjames commented on #597
@aps-dnxt 👋 If we can add this through standard Java typings, it may be a win-win. Could you provide some details about the new public APIs proposed (signatures) and if any additional dependencies would be required (doesn't sound like it, but just to be sure). Or if you already have the changes made, we could just review in a PR (are you still unable to make a PR?). If not we can look at the patch

[2022-09-26 04:22] aps-dnxt commented on #597
Hi @jimmyjames! Just opened a PR. Yes, I used all standard Java typings. Hope it's up to the project's quality.
I also thank you and the rest of the team for all the work you threw at this so that I can use it in my project :).

Regards.

[2022-10-07 17:24] worthc21 opened #614 "Claim asString returns null for types with valid string representations"
### Describe the problem
getClaim("X").asX returns null for values that have valid toString representations

When creating a private claim with an integer value -
`withClaim("ID", 1234)`
the decoded JWT
`getClaim("ID").asString()`
returns null

When creating a private claim with a boolean value -
`withClaim("flag", true)`
the decoded JWT
`getClaim("flag").asString()`
returns null

### What was the

[2022-10-07 17:52] jimmyjames commented on #614
Thanks for raising @worthc21. Yes, that is the expected behavior, as we first check that the node is textual. For the string value, you can use `toString()`. Hope that helps!

[2022-10-07 23:52] jimmyjames commented on #614
I updated the javadocs in #615 to be more accurate with the actual behavior. Thanks!

[2022-10-11 16:48] worthc21 commented on #614
Nice - thanks for taking the time to address!

[2022-10-15 01:37] #614 closed

[2022-10-17 22:33] andrewrigas opened #622 "Support JWTCreator.Builder to accept Json values"
I am trying to write a Scala library which basically enhance the functionality on top of [auth0/java-jwt](https://github.com/auth0/java-jwt) library. The problem I need to address is to be able to convert scala types via the encoders in java types, which is not really easy to do because you can have nested types. It will be nice to have an api that would accept a json directly and make some checks

[2022-10-18 03:07] jimmyjames commented on #622
:wave: @andrewrigas - I don't think this is something we can reasonably support, as we need to ensure the types/values are of our supported serializable types, and then convert them to a map of string->object. Parsing apart raw JSON strings is something that the client can do and then use existing APIs including the `withPayload(Map<String, ?> payloadClaims)` method.

[2022-10-18 10:05] andrewrigas commented on #622
@jimmyjames - Not sure exactly why do you need to convert it back to `Map<String, Object>`? If for example a client passed a valid JSON string structure, then you could convert the rest of the claims to JSON string and merge. The problem with passing a `Map` into the `withPayload(Map<String,?> payloadClaims)` is that I need to provide the map with a key.

Therefore, the JSON will look like this:
[

[2022-10-18 22:39] jlorenzen opened #623 "Support verification for anyOfClaim"
### Describe the problem you'd like to have solved

It would be extremely useful if the [Verification](https://github.com/auth0/java-jwt/blob/02c9d168e2af4a20b13028c3083212eed72ac399/lib/src/main/java/com/auth0/jwt/interfaces/Verification.java) interface supported the ability to verify whether any JWT claim contains a value from a list of expected values.

### Describe the ideal solution

Ideally

[2022-10-19 01:19] jimmyjames commented on #623
👋 hi @jlorenzen, thanks for the details.

In v4 we added the ability to verify a claim using a provided `Predicate`, so that verifications such as your use case can be accommodated. A simple test to demonstrate:

[code]

[2022-10-19 12:42] uap-universe opened #624 "Update dependency to jackson library due to CVE-2022-42003 and CVE-2022-42004"
Please update the dependency

`com.fasterxml.jackson.core:jackson-databind:2.13.2.2`

to

`com.fasterxml.jackson.core:jackson-databind:2.14`

as soon as it becomes available

(see also: [related issue](https://github.com/FasterXML/jackson-databind/issues/3582) and [milestone](https://github.com/FasterXML/jackson-databind/milestone/134))

[2022-10-19 12:56] jlorenzen commented on #623
@jimmyjames That's perfect! I can't believe I didn't see that. Thanks

[2022-10-19 12:56] #623 closed

[2022-10-24 15:17] jimmyjames commented on #624
Thanks @brackxm. We have made #631 and #630 to bump the versions. We will get patch releases out shortly.

[2022-10-25 02:54] jimmyjames commented on #622
I may be missing something - why can't you just use `name` and `age` as first-level keys in the map passed to `withPayload(Map<String,?> payloadClaims)`?

[2022-10-27 18:32] jimmyjames commented on #624
4.2.1 and 3.19.3 have been released and are available in Maven Central 👍

[2022-10-27 18:32] #624 closed

[2022-11-08 23:46] adakeles opened #639 "Match compile and runtime versions of jackson library dependency."
The dependency
`com.fasterxml.jackson.core:jackson-databind`
seems to have inconsistent versions between runtime and compile when using java-jwt 4.2.1.

Expected result:
[code]
Actual result:
[code]

**java-jwt version used: 4.2.1**

Related issue: [624](https://github.com/auth0/java-jwt/issues/624)
Related issue: [jackson-databind 3582](https://github.com/FasterXML/jackson-databind/issues/3582)

[2022-11-14 15:25] mervyn-mccreight opened #640 "Published license identifier is not compliant with the SPDX license list"
As for now the license is getting published as `The MIT License (MIT)` but according to https://spdx.org/licenses/MIT.html the  SPDX-identifier would be `MIT`.

It would be nice to align it to the SPDX-identifier, because this makes it easier for tools like e.g. Gradle plugins to detect the used license by relying on the SPDX license identifiers.

IMO best would also be to publish the license URL

[2022-11-28 15:21] jimmyjames commented on #639
👋 hi @adakeles, is it possible that you are including other dependencies which could be causing this issue? When I look at the dependencies of `auth0-java` (which uses this library), the dependencies appear to resolve as expected.

[2022-11-29 15:58] jimmyjames commented on #640
Thanks @mervyn-mccreight - we will work with our compliance team to identify if this is something we can support both in this library and potentially other Auth0 libraries.

Can you provide some additional info on how the SPDX-identifier would be best incorporated? Would it just be adding the identifier to the LICENSE file, adding a `LICENSE.spdx` file, or adding the SPDX-identifier to each source

[2022-11-29 20:57] StefanSchubert commented on #567
Hi what was the solution in this case?